<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <section class="filter-wrapper">
    <h1 class="headline" *ngIf="headline" title="{{headline}}">{{headline}}</h1>
    <h1 class="extraHeadline" *ngIf="extraHeadline" title="{{extraHeadline}}">{{extraHeadline}}</h1>
    <h4 title="{{subHead}}">{{subHead}}</h4>
    <div (clickOutside)="hide()" (click)="show()" [excludeBeforeClick]="true" [exclude]="'button'" class="keyword-wrapper">
      <input class="keyword" [autofocus]='searchFormSettings.autofocus' formControlName="ecm_fulltext" title="{{searchFormSettings.placeholder}}" [placeholder]="searchFormSettings.placeholder" (keyup.enter)="onKeyEnter($event)"
        (keyup)="onKeyup($event)" [ngClass]="{'with-filters': hasFilters()}" />
      <document-thumbnail-view [hide]="hideView" [loading]="loading" [loadingStyle]="loadingStyle" [layout]="layout" [templateRef]="templateRef || thumbnailItemView" [documents]="documents" [hideEmpty]="true" [tabIndex]="0">
      </document-thumbnail-view>
    </div>
    <div class="search-actions">
      <ng-container *ngIf="hasFilters()">
        <button type="button" (click)="toggleFilter()" class="filter_trigger" [ngClass]="{'show': showFilter, 'btn-disabled': !hasAggs}" [disabled]="!hasAggs" title="Filter">Filters +</button>
      </ng-container>
      <ng-content select=".actions"></ng-content>
    </div>
  </section>
  <div class="clear"></div>
  <ng-container *ngIf="hasFilters() && showFilter">
    <div class="search-filters">
      <ng-content select=".filters"></ng-content>
      <global-search-filter formControlName="aggregates" [filterSettings]="filters" [searchResponse]="searchResponse$ | async" [disableControl]="submitted" (selected)="onFilterSelected($event)">
      </global-search-filter>
    </div>
  </ng-container>
</form>
<ng-template #thumbnailItemView let-doc="doc">
  <div class="image-holder">
    <a [routerLink]="[getAssetUrl(doc), doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
  </div>
  <div class="description">
    <h1 [title]="doc.title"><a [routerLink]="[getAssetUrl(doc), doc.uid]">{{doc.title}}</a></h1>
    <h4 class="year" [title]="doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'">
      {{doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</h4>
    <span class="dot"></span>
    <h4 class="client" [title]="doc.get('The_Loupe_Main:brand').join(', ')">
      {{doc.get('The_Loupe_Main:brand').join(', ')}}</h4>
    <h4 class="agency" [title]="doc.get('The_Loupe_Main:agency')">{{doc.get('The_Loupe_Main:agency')}}</h4>
  </div>
</ng-template>
