<creative-brand-info-view [loading]="loading" [document]="document"></creative-brand-info-view>
<div class="creative-brand-asset" [nbSpinner]="loading" nbSpinnerStatus="disabled">
  <global-search-form [filters]="filters" [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
    <ng-container class="group-right">
      <div class="global-search-form-buttons">
        <creative-brand-form-button [parent]="document" [type]="'image'" [title]="'Upload Image'"></creative-brand-form-button>
        <creative-brand-form-button [parent]="document" [type]="'video'" [title]="'Upload Video'"></creative-brand-form-button>
        <creative-brand-form-button [parent]="document" [type]="'audio'" [title]="'Upload Audio'"></creative-brand-form-button>
        <global-search-button [enableSlider]="true"></global-search-button>
      </div>
    </ng-container>
  </global-search-form>
  <selectable-action-bar [document]="document"></selectable-action-bar>
  <creative-document-asset-search-result [layout]="layout" [selectableSettings]="selectableSettings"></creative-document-asset-search-result>
</div>
