@import '../../../../theme/styles/themes';
@import '../../../../core/nebular/bootstrap/breakpoints';
@import '../../../../core/nebular/theme/styles/global/breakpoints';
@import '../../../shared/global-search-result/thumbnail-view.scss';

.document {
  padding: 0 30px 46px;
  box-sizing: border-box;
}

.disruption-form-button {
  padding: 0 60px;
}

.home-heading {
  margin-left: 60px;
  font-size: 25px;
  line-height: 60px;
  color: #000000;
  font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
    a {
    color: #2a2a2a;
    &:hover {
      color: #2a2a2a;
      text-decoration: none;
    }
  }
}

::ng-deep .layout-left {
  clear: both;

  .asset-description {
    width: 67.2rem;
    min-height: 102px;
  }

  .production-date {
    width: 40%;
    float: left;
    margin-bottom: 0;
    min-height: 102px;
  }

  .asset-type {
    width: 58%;
    float: left;
    margin-left: 2%;
    margin-bottom: 0;
    min-height: 102px;
  }
}

::ng-deep .layout-right {
  float: none !important;
  margin-left: 50%;

  .drag-attachment {
    margin-top: 52px;
    margin-bottom: 0;
    min-height: 102px;
  }
}
