<ng-container *ngIf="enableFeature">
  <h2 class="home-heading">DisruptionX</h2>
  <div class="disruption-form-button right">
    <disruption-form-button [parent]="parentDocument" [type]="'x asset'" [title]="'New Module'"></disruption-form-button>
  </div>
  <div *ngIf="documents && documents.length > 0" [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document s-results disruption-home">
    <div *ngFor="let doc of documents" class="thumbnail-view-item">
      <div class="description">
        <h1 [title]="doc.title"><a (click)="openDialog(dialog)">{{doc.title}}</a></h1>
      </div>
      <div class="image-holder">
        <a [title]="doc.title" (click)="openDialog(dialog)" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
      </div>
        <ng-template #dialog>
          <global-document-dialog [settings]="dialogSettings" [documentModel]="doc" [title]="disruptionTitle" [metadata]="dialogMetadata"></global-document-dialog>
        </ng-template>
    </div>
    <div class="clear"></div>
  </div>
</ng-container>
