<document-featured-carousel [gallerySettings]="gallerySettings" [galleryItems]="galleryItems" [infoTemplate]="infoTemplate"></document-featured-carousel>

<ng-template #infoTemplate let-doc="doc">
  <div class="text-content" [nbSpinner]="loading" nbSpinnerStatus="disabled">
    <div class="controls">
      <h2 class="left">{{ doc.get('dc:title') }}</h2>
      <ng-container *ngIf="downloadPermission$ | async">
        <a *ngIf="doc.filePath" href="{{doc.filePath}}" (click)="googleAnalyticsTrackLink(document, 'Download', 'File')" title="Download"><button class="inline-middle download right" title="Download">Download</button></a>
      </ng-container>
      <button class="share right" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
      <ng-container *ngIf="hasPermission(doc, 'write') | async">
        <button type="button" title="Edit" (click)="openDialog(editDialog)" class="edit right">Edit</button>
      </ng-container>
      <div class="clear"></div>
    </div>
    <div class="info">
      <div class="more-info">
        <p class="description">{{ doc.get('app_Edges:featured_asset_description') }}</p>
        <table>
          <tbody>
            <tr>
              <td><b>Brand: </b>{{ doc.get('The_Loupe_Main:brand') }}</td>
              <td><b>Industry: </b>{{ doc.get('app_Edges:industry') }}</td>
            </tr>
            <tr>
              <td><b>Agency: </b>{{ doc.get('The_Loupe_Main:agency') }}</td>
              <td><b>Geography: </b>{{ vocabularyFormatter(doc.get('app_Edges:Relevant_Country')) }}</td>
            </tr>
            <tr>
              <td><b>Country: </b>{{ vocabularyFormatter(doc.get('The_Loupe_Main:country')) }}</td>
              <td><b>Edges: </b>{{ doc.get('app_Edges:Tags_edges') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <ng-template #popContent>
    <document-share-button [document]="doc"></document-share-button>
  </ng-template>

  <ng-template #editDialog>
    <global-document-dialog [settings]="dialogSettings" [documentModel]="doc" [metadata]="dialogMetadata" [title]="editTitle" [redirectUrl]="editRedirectUrl"></global-document-dialog>
  </ng-template>
</ng-template>
