.text-content {
  padding: 30px 80px 0;

  .controls {
    img {
      width: 70px;
      margin-right: 25px;
    }

    h2 {
      padding-left: 11px;
      font-size: calc(28px * 1.25);
      font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    }
    button {
      border: none;
      background: none;
      font-size: 20px;
      font-weight: 500;
      margin-top: 8px;
      margin-left: auto;
      margin-right: 0 !important;
      padding: 0 26px !important;
      align-self: start;
    }
    .download {
      border-left: solid 1px #cccccc !important;
    }
    .edit {
      border-right: solid 1px #cccccc !important;
    }
  }

  .info {
    .edges {
      ul {
        padding-left: 0;
        // min-height: 240px;
        // max-height: 300px;
        overflow: auto;
        width: 80px;
        float: left;

        button {
          border: none;
          background: none;
          padding: 0;

          .edge-img {
            margin: 12% 0;
            width: 70px;
            height: 78px;
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          }
        }
      }
    }

    .more-info {
      float: left;
      width: calc(100% - 95px);
      margin-left: 15px;
      margin-top: 20px;

      .description {
        color: black;
        font-size: calc(15px * 1.25);
        line-height: calc(24px * 1.25);
        font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
      }

      table {
        width: 80%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 20px;
        margin-bottom: 17px;
        th, td {
          height: 28px;
          color: #000000;
        }
        th {
          font-family: 'Averta for TBWA W01 Black', helvetica, arial;
          font-size: 15px;
          text-align: left;
        }
        td {
          font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
          font-size: 15px;
          a.text {
            font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
            font-size: 15px;
            color: #000000;
            &:hover {
              text-decoration: none;
              color: #000000;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
