<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view">
  <div class="property-section">
    <div class="property-intro inline-top">
      <div *ngIf="document" [ngStyle]="{'background-image': 'url('+document.filePath+')'}"></div>
    </div>
    <div class="property-info inline-top">
      <h1>{{document?.get('dc:title')}}</h1>
      <ul>
        <!-- <li><b>Client:</b> {{document?.get('The_Loupe_Main:clientName')}}</li> -->
        <li><b>Agency:</b> {{document?.get('The_Loupe_Main:agency')}}</li>
      </ul>
    </div>
  </div>
</div>
<div style="margin-top: 45px;">
  <global-search-form [filters]="filters" [searchParams]="baseParams$ | async" [settings]="searchFormSettings"></global-search-form>
  <creative-document-asset-search-result [layout]="layout"></creative-document-asset-search-result>
</div>
