
.learning-program-body {
  background-color: #000;
  padding: 60px 30px;
  margin-bottom: 30px;
}

.body-left {
  width: 60%;
  float: left;
}

.body-right {
  color: #fff;
  font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
  float: left;
  width: 40%;
}

.title h2 {
  letter-spacing: 5px;
  color: #fff;
  font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
  line-height: 0.85;
}

.text {
  line-height: 1.5;
  margin: 20px 0;
}
