<div class="learning-program-header">
</div>
<div class="learning-program-video">
</div>
<div class="learning-alumni-module">
</div>
<div class="learning-program-map">
</div>
<div class="learning-program-list">
</div>
<div class="test-content"> SOME CONTENT TO TEST </div>
<div class="outside-biggest-wrapper">
    <div class="middle-wrapper">
        <div class="yellow-strip-area">
            Emerging Talent
            <div class="right-circle-yellow-wrapper">
                <div class="right-circle-black-filling">
                </div>
            </div>
        </div>
        <div class="yellow-strip-area" style="width: 540px">
            First-time Managers
            <div class="right-circle-yellow-wrapper">
                <div class="right-circle-black-filling">
                </div>
            </div>
        </div>
        <div class="yellow-strip-area" style="width: 640px">
            Rising leaders
            <div class="right-circle-yellow-wrapper">
                <div class="right-circle-black-filling">
                </div>
            </div>
        </div>
        <div class="yellow-strip-area" style="width: 740px">
            Senior Leaders
            <div class="right-circle-yellow-wrapper">
                <div class="right-circle-black-filling">
                </div>
            </div>
        </div>
        <div class="yellow-strip-area" style="width: 840px">
            Execution Leaders
            <div class="right-circle-yellow-wrapper">
                <div class="right-circle-black-filling">
                </div>
            </div>
        <div>
    </div>
</div>