<h2 class="left">{{item.name}}</h2>
<div class="search_area right">
  <input [formControl]="queryField" (keyup.enter)="onKeyup($event)" type="text" class="keyword" placeholder="Search for..">
</div>
<div class="clear"></div>
<ng-container *ngIf="item.layout === 'backslash'; then backslashEdgesView"></ng-container>
<ng-template #backslashEdgesView>
  <h3>\Edges</h3>
  <div [nbSpinner]="edgeLoading" nbSpinnerStatus="disabled">
    <ng-container *ngIf="backslashEdges && backslashEdges.length !== 0">
      <ul>
        <li *ngFor="let document of backslashEdges">
          <a [href]="getBackslashEdgeUrl(document.title)" target="_blank"><img src="{{document.thumbnailUrl}}" [alt]="document.title" nbTooltip="{{document.title}}">{{document.title}}</a>
        </li>
      </ul>
    </ng-container>
  </div>
  <ng-container *ngIf="!edgeLoading && backslashEdges && backslashEdges.length === 0">
    <div class="empty text-center"><span class="empty-data">No edge found</span></div>
  </ng-container>
  <div class="line"></div>
  <div class="clear"></div>
</ng-template>
<creative-thumbnail-view [loading]="loading" [layout]="item.layout" [itemLayout]="item.itemLayout" [documents]="documents"></creative-thumbnail-view>
