<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-home-search [headline]="headline"></tbwa-home-search>
  </div>
  <div>
      <div *ngFor="let document of folders" class="thumbnail-view" style="float: left">
          <a routerLink="/p/intelligence/folders" [queryParams]="{id: document.uid, folder_type: document.title}">
          <div>
            <div class="image_holder">
              <img src="{{document.thumbnailUrl}}" [alt]="document.title" class="thumbnail-img">
            </div>
            <div>{{ document.title }}</div>
          </div>
        </a>
      </div>
  </div>

