<div class="intelligence-home-form">
  <home-search-form [assetUrl]="'/p/intelligence/asset'" [redirectUrl]="'/p/search/intelligence/asset'" [headline]="headline" [subHead]="subHead" [placeholder]="placeholder" [backgroudDocument]="document" [params]="params">
  </home-search-form>
</div>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document flex third">
  <div *ngFor="let document of folders">
    <div class="thumbnail-view">
      <div class="image-holder">
        <a routerLink="/p/intelligence/folders" [queryParams]="{id: document.uid}" [ngStyle]="{'background-image': 'url('+document.thumbnailUrl+')'}"></a>
      </div>
      <div class="description">
        <h1 [title]="document.title"><a routerLink="/p/intelligence/folders" [queryParams]="{id: document.uid}">{{document.title}}</a></h1>
      </div>
    </div>
  </div>
</div>
