<div class="header-container">
  <div class="top-bar">
    <a [routerLink]="['/p//knowledge/home/']"><div class="left logo"></div></a>
    <div class="right">
      <a [routerLink]="['/p/search/knowledge/asset/']"><div class="search-icon" ></div></a>
      <nb-actions size="medium" *ngxPermissionsOnly="['MGT']">
        <nb-action>
          <nb-user [name]="user.username" [picture]="user.avatar" [title]="user.username" [nbContextMenu]="headerItems" nbContextMenuTag="sidebar"></nb-user>
        </nb-action>
      </nb-actions>
    </div>
    <div class="clear"></div>
  </div>
  <div class="main-nav">
    <a [routerLink]="['/p/disruption']" [ngClass]="{'active': selectLayout('disruption')}">Disruption</a>
    <a [routerLink]="['/p/intelligence']" [ngClass]="{'active': selectLayout('intelligence')}">Intelligence</a>
    <a [routerLink]="['/p/backslash/home']" [ngClass]="{'active': selectLayout('backslash')}">Backslash</a>
    <a [routerLink]="['/p/creative']" [ngClass]="{'active': selectLayout('creative')}">Creative</a>
    <a [routerLink]="['/p/business-development']" [ngClass]="{'active': selectLayout('business-development')}">Business Development</a>
    <a [routerLink]="['/p/innovation']" [ngClass]="{'active': selectLayout('innovation')}">Innovation</a>
  </div>
</div>
