<div class="header-container">
  <div class="top-bar">
    <a [routerLink]="[homePath]" title="Know\edge"><div class="left logo"></div></a>
    <div class="right flex icons">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScT8_Ku07nqOxhdL7CugRRq2tM1ewgRabYFiRUeHsZSHM2xNQ/viewform" title="Help" target="_blank">
        <span class="help">?</span>
      </a>
      <a [routerLink]="['/p/search/knowledge/asset']" title="Search"><div class="search-icon"></div></a>
      <nb-actions size="medium" *ngxPermissionsOnly="['MGT']">
        <nb-action>
          <nb-user [name]="user.username" [picture]="user.avatar" [title]="user.username" [nbContextMenu]="headerItems" nbContextMenuTag="sidebar"></nb-user>
        </nb-action>
      </nb-actions>
    </div>
    <div class="clear"></div>
  </div>
  <div class="main-nav">
    <a [routerLink]="['/p/disruption']" title="Disruption" [ngClass]="{'active': selectLayout('disruption')}">Disruption</a>
    <a [routerLink]="['/p/intelligence']" title="Intelligence" [ngClass]="{'active': selectLayout('intelligence')}">Intelligence</a>
    <a [routerLink]="['/p/backslash']" title="Backslash" [ngClass]="{'active': selectLayout('backslash')}">Backslash</a>
    <a [routerLink]="['/p/creative']" title="Creative" [ngClass]="{'active': selectLayout('creative')}">Creative</a>
    <a [routerLink]="['/p/business-development']" title="Business Development" [ngClass]="{'active': selectLayout('business-development')}">Business Development</a>
    <a [routerLink]="['/p/innovation']" title="Innovation" [ngClass]="{'active': selectLayout('innovation')}">Innovation</a>
  </div>
</div>
