<div class="header-container">
  <div class="top-bar">
    <div class="left logo"></div>
    <!-- <nb-actions size="medium" class="right">
      <nb-action>
        <nb-user [name]="user.username" [picture]="user.avatar" [title]="user.username"></nb-user>
      </nb-action>
    </nb-actions> -->
    <div class="clear"></div>
  </div>
  <div class="main-nav">
    <a [routerLink]="['/p/disruption']" [ngClass]="{'active': selectLayout('disruption')}">Disruption</a>
    <a [routerLink]="['/p/intelligence']" [ngClass]="{'active': selectLayout('intelligence')}">Intelligence</a>
    <a [routerLink]="['/p/backslash/home']" [ngClass]="{'active': selectLayout('backslash')}">Backslash</a>
    <a [routerLink]="['/p/creative']" [ngClass]="{'active': selectLayout('creative')}">Creative</a>
    <a [routerLink]="['/p/business-development']" [ngClass]="{'active': selectLayout('business-development')}">Business Development</a>
    <a [routerLink]="['/p/innovation']" [ngClass]="{'active': selectLayout('innovation')}">Innovation</a>
    <!-- <a [routerLink]="['/p/favorite']" [ngClass]="{'active': selectLayout('favorite')}" *ngxPermissionsOnly="['DEV']">Favorite</a> -->
  </div>
</div>
