<div class="batch-upload" [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div class="batch-upload-queue">
    <h6 *ngIf="uploadSettings.enableAction">{{ uploadZoneTitle }}</h6>
    <table class="table-detail" *ngIf="uploadItems && uploadItems.length > 0" [ngStyle]="{'width': '100%'}">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th><span>Type</span></th>
          <th><span>Size</span></th>
          <th class="header-labels">
            <span *ngFor="let header of columnHeaders" class="labels-names">
              <div *ngIf="header.required" class="required" style="display: inline-block; margin-right: 4px; color: red;">*</div>{{header.label}}
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of (formGroups.length > 0 ? formGroups : uploadItems); let i=index;" style="height: 40px;">
          <td nowrap><strong>{{ parseFileName(uploadItems[i].fileName) }}</strong></td>
          <td nowrap>{{ uploadItems[i].getFileType() }}</td>
          <td nowrap *ngIf="uploadItems[i].original">{{ uploadItems[i].fileSize/1024/1024 | number:'.2' }} MB</td>
          <td nowrap *ngIf="!uploadItems[i].original">{{ uploadItems[i].fileSize/1024/1024 | number:'.2' }} MB, {{ uploadItems[i].percentLoaded }}%</td>
          <td *ngIf="formGroups.length > 0 && uploadSettings.enableForm && uploadItems[i].isMainFile()" class="form-control-container">
            <dynamic-ng-form [formClass]="'document-form'" [group]="formGroups[i]" [formModel]="formModels[i]" (customEvent)="onCustomEvent($event)" (blur)="onBlur($event)" (change)="onChange($event)" (focus)="onFocus($event)">
            </dynamic-ng-form>
          </td>
          <td nowrap *ngIf="uploadSettings.enableAction"><button nbButton outline class="btn btn-danger btn-xs right" status="danger" (click)="removeOne(i)"
              [disabled]="(uploadStatus$ | async)?.disableDeleteButton() || (uploadItems[i].isMainFile() && uploadItems[i].formMode === 'edit')">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
