<div class="batch-upload" [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div class="batch-upload-queue">
    <h6 *ngIf="uploadSettings.enableAction">{{ uploadItems.length }} Queued Files</h6>
    <table class="table">
      <tbody>
        <tr>
          <td class="file-info-zone">
            <table class="table-detail">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploadItems; let i=index" [ngStyle]="item.fieldPieces < fieldsOneLine ? {'height': '40px'} : {'height': '100px'}">
                  <td nowrap title="{{item.fileName}}"><strong>{{ parseFileName(item.fileName) }}</strong></td>
                  <td *ngIf="!uploadSettings.enableForm || uploadSettings.enableForm && !item.isMainFile()">{{ item.getFileType() }}</td>
                  <td nowrap *ngIf="item.original">{{ item.fileSize/1024/1024 | number:'.2' }} MB</td>
                  <td nowrap *ngIf="!item.original">{{ item.fileSize/1024/1024 | number:'.2' }} MB, {{ item.percentLoaded }}%</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td style="padding: 0;">
            <div *ngFor="let group of formGroups; let i=index">
              <div *ngIf="uploadSettings.enableForm && uploadItems[i].isMainFile()">
                <dynamic-ng-form [formClass]="'document-form'" [group]="group" [formModel]="formModels[i]" (customEvent)="onCustomEvent($event)" (blur)="onBlur($event)" (change)="onChange($event)" (focus)="onFocus($event)">
                </dynamic-ng-form>
                <div nowrap *ngIf="uploadSettings.enableAction">
                  <button nbButton outline class="btn btn-danger btn-xs" status="danger" (click)="removeOne(i)"
                    [disabled]="(uploadStatus$ | async)?.disableDeleteButton() || (uploadItems[i].isMainFile() && uploadSettings.formMode === 'edit')">Delete</button>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
