.batch-upload-queue {
  padding-top: 10px;
}
h6 { margin: 0 0 10px; }
button { margin-right: 10px; }
th {
  border: 0;
}
td {
  border: 0;
}
.file-info-zone {
  width: 230px;
  padding-right: 0;
}
.float-right {
  float: right;
}

tbody tr td:nth-child(-n+3) {
  width: 95px;
}

.header-labels {
  padding-left: 12px;
}

.labels-names {
  display: block;
  width: 158px;
  float: left;
}
::ng-deep dynamic-ng-form-control {
  margin-bottom: 0!important;
}
.btn-right {
  width: 80px;
}

::ng-deep dynamic-ng-form-control .direction-horizontal {
  padding-right: 4px;
}
