.batch-upload-queue {
  padding-top: 10px;
}
h6 { margin: 0 0 10px; }
button { margin-right: 10px; }
th {
  border: 0;
}
td {
  border: 0;
}
.file-info-zone {
  width: 230px;
  padding-right: 0;
}
.float-right {
  float: right;
}
