<div class="directory-suggestion">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="getViewType() === 'suggestion'">
      <ng-select
        [class.is-empty]="!selectedItems || selectedItems.length == 0"
        [ngClass]="settings.customClass"
        [addTag]="settings.addTag"
        [items]="options$ | async"
        [placeholder]="placeholder"
        [selectOnTab]="true"
        [disabled]="disabled"
        [multiple]="settings.multiple"
        [hideSelected]="true"
        bindLabel="label"
        bindValue="value"
        clearAllText="Clear"
        [loading]="loading$ | async"
        [typeahead]="filter$"
        [virtualScroll]="true"
        [(ngModel)]="selectedItems"
        (change)="onChange($event)"
        (blur)="onBlur($event)"
        (open)="onOpen()"
        (close)="onClose()"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="ng-value-icon left" (click)="clear.call(this, item);" aria-hidden="true">×</span>
          <span class="ng-value-label">{{item.deep || isDisplayLabel() ? item.label : item.value}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="{{item.deep}}">{{item.label}}</div>
        </ng-template>
      </ng-select>
    </ng-container>
    <ng-container *ngSwitchCase="getViewType() === 'list'">
      <ng-select
        [class.is-empty]="!selectedItems || selectedItems.length == 0"
        [ngClass]="settings.customClass"
        [items]="options$ | async"
        [placeholder]="placeholder"
        [selectOnTab]="true"
        [disabled]="disabled"
        [multiple]="settings.multiple"
        [hideSelected]="true"
        bindLabel="label"
        bindValue="value"
        clearAllText="Clear"
        [virtualScroll]="true"
        [loading]="loading$ | async"
        [(ngModel)]="selectedItems"
        (change)="onChange($event)"
        (blur)="onBlur($event)"
        (open)="onOpen()"
        (close)="onClose()"
      >
      <ng-template ng-option-tmp let-item="item">
        <div class="{{item.deep}}">{{item.label}}</div>
      </ng-template>
      </ng-select>
    </ng-container>
  </ng-container>
</div>
