<div class="dialog-title text-center">
  <a (click)="close()" class="left" title="Close"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged && mainViewChanged.changed" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-message">
  <ng-container *ngIf="callbackEvent">
    <nb-alert *ngIf="callbackEvent.messageContent" [status]="callbackEvent.messageType" role="alert">{{ callbackEvent.messageContent }}</nb-alert>
  </ng-container>
</div>
<div class="dialog-body">
  <div class="text-content pure-text">
    The download of this document requires approval. Please let us know what you want to use this document for.
    <form class="download-request-form" [formGroup]="formGroup" #form="ngForm" autocomplete="off" novalidate>
      <textarea formControlName="reason" required autofocus></textarea>
      <ng-container *ngIf="formGroup.controls.reason.errors?.required">
        <small class="invalid-feedback d-block">Reason is required</small>
      </ng-container>
      <ng-container *ngIf="formGroup.controls.reason.errors?.minlength">
        <small class="invalid-feedback d-block">Please enter at least 10 words</small>
      </ng-container>
    </form>
  </div>
  <div class="action-content text-right">
    <button (click)="submit()" class="btn btn-success">Submit</button>
    <button (click)="cancel()" class="btn btn-info">Cancel</button>
  </div>
</div>
