@import '../../core/nebular/theme/styles/global/breakpoints';

*:focus { outline: 0!important; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.inline-middle {
	display: inline-block;
	vertical-align: middle;
}
.inline-top {
	display: inline-block;
	vertical-align: top;
}
.form-group { margin: 0; }
.horizontal-layout {
  width: calc(100% - 260px);
  height: 70px;
  float: left;
}
.direction-horizontal {
  width: 200px;
  float: left;
}
.horizontal-lable {
  height: 22px;
}
.horizontal-hidden {
  display: none!important;
}
.horizontal-font-weight {
  font-weight: 700;
}
.horizontal-first-line {
  border-top: 2px solid #dee2e6;
  padding-top: 3px;
}
.horizontal-rest-line {
  padding-top: 3px;
}
body {
  overflow: auto!important;
}
.icon_btn {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 13px 0 45px;
  font-size: 18px;
  background: #ffffff;
  color: #000000;
  border: solid 1px #e1e1e1;
  cursor: pointer;
  &.btn-disabled {
    background-color: #eeeeee !important;
    color: #cccccc;
    cursor: default;

    &:hover,
    &:focus {
      color: #cccccc;
      text-decoration: none;
    }
  }
  &.btn-active {
    background-color: #40dc7e !important;
    color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &.success {
    background-color: #40dc7e !important;
    color: #ffffff !important;

    &:hover,
    &:focus {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &:hover,
  &:focus {
    outline: 0;
    color: #000000;
    text-decoration: none;
  }
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  &.quarter {
    > div {
      @include media-breakpoint-down(md) {
        width: 50%;
      }
      @include media-breakpoint-between(md, xl) {
        width: 33.333333%;
      }
      @include media-breakpoint-up(xl) {
        width: 25%;
      }
      padding: 10px 39px 28px 0;
      box-sizing: border-box;
    }
  }
  &.half {
    > div {
      width: 50%;
      padding: 10px 41px 28px 0;
    }
  }
  &.third {
    > div {
      width: 33.333333%;
      padding: 10px 41px 28px 0;
    }
  }
  &.suggestion-inline {
    > div {
      width: 100%;
    }
  }
}
.s-results {
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  padding: 0 30px;
  background: #ffffff;
  &.full-width {
    padding: 0;
  }
  &.suggestion-inline {
    width: 100%;
    height: 70vh;
    padding: 33px 43px;
    box-sizing: border-box;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.72);
    overflow: auto;
    > .thumbnail-view-item {
      height: 144px;
      padding: 0;
      margin: 11px 0;
      > .image-holder {
        display: inline-block;
        vertical-align: top;
        width: 291px;
        height: 144px;
      }
      .description {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 291px - 32px);
        margin-left: 32px;
        h1 {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
          font-size: 30px;
          line-height: 35px;
          margin-top: 0;
          margin-bottom: 13px;
          a {
            display: block;
            height: 100%;
          }
        }
        .year, .client, .dot {
          font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
          display: inline-block;
          vertical-align: middle;
          line-height: 18px;
          font-size: 24px;
          margin: 0;
          margin-bottom: 28px;
        }
        .dot {
          width: 4px;
          height: 4px;
          margin: 0 5px;
          margin-bottom: 28px;
          background: #2a2a2a;
          border-radius: 2px;
        }
        .agency {
          height: auto;
          line-height: 30px;
        }
      }
    }
  }
  &.dates {
    h4, .line {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 16px;
    }
    h4 {
      font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
      font-size: 15px;
      cursor: default;
    }
    h4:first-child {
      max-width: 193px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a {
        color: #2a2a2a;
        &:hover { text-decoration: none; }
      }
    }
    .image-holder {
      a {
        transition: all 0.5s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
  &.my_agency,
  &.my_brand,
  &.creative_brand_asset,
  &.creative_brand_showcase,
  &.creative_agency_brand,
  &.creative_agency_showcase {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(lg, xl) {
      	//992px - 1200px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xl, xxl) {
      	// 1200px - 1400px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xxl, xxxl) {
      	// 1400px - 1600px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 4) / 4);
      }
      float: left;
      margin: 0 30px 30px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        @include media-breakpoint-down(md) {
          // < 768px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xl, xxl) {
          // 1200px - 1400px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xxl, xxxl) {
          // 1400px - 1600px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-up(xxxl) {
          // > 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
        a {
          transition: all 0.5s;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
      .description {
        > h1 { margin: 20px 0 15px; }
      }
    }
  }
  &.learning-home {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(lg, xl) {
      	//992px - 1200px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(xl, xxl) {
      	// 1200px - 1400px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(xxl, xxxl) {
        // 1400px - 1600px
        width: 610px;
        // width: calc((100% - 60px * 2) / 3);
      }
      @include media-breakpoint-up(xxxl) {
        // > 1600px
        width: 610px;
        // width: calc((100% - 60px * 2) / 3);
      }
      float: left;
      margin: 0 30px 30px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        @include media-breakpoint-down(md) {
          // < 768px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(xl, xxl) {
          // 1200px - 1400px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(xxl, xxxl) {
          // 1400px - 1600px
          // height: calc((100vw - 60px * 3) / 2 * 9 / 16);
          height: 411px;
        }
        @include media-breakpoint-up(xxxl) {
          // > 1600px
          // height: calc((100vw - 60px * 3) / 2 * 9 / 16);
          height: 411px;
        }
      }
    }
  }
  &.disruption-home {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(lg, xl) {
      	//992px - 1200px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xl, xxl) {
      	// 1200px - 1400px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xxl, xxxl) {
      	// 1400px - 1600px
        width: calc((100% - 60px * 4) / 4);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 4) / 4);
      }
      float: left;
      margin: 0 30px 30px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        @include media-breakpoint-down(md) {
          // < 768px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xl, xxl) {
          // 1200px - 1400px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xxl, xxxl) {
          // 1400px - 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
        @include media-breakpoint-up(xxxl) {
          // > 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
      }
    }
  }
  &.alumni-results {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
        // < 768px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(md, lg) {
        //768px - 992px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(lg, xl) {
        //992px - 1200px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xl, xxl) {
        // 1200px - 1400px
        width: calc((100% - 60px * 4) / 4);
      }
      @include media-breakpoint-between(xxl, xxxl) {
        // 1400px - 1600px
        width: calc((100% - 60px * 5) / 5);
      }
      @include media-breakpoint-up(xxxl) {
        // > 1600px
        width: calc((100% - 60px * 6) / 6);
      }
      float: left;
      margin: 0 30px 30px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        @include media-breakpoint-down(md) {
          // < 768px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xl, xxl) {
          // 1200px - 1400px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xxl, xxxl) {
          // 1400px - 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
        @include media-breakpoint-up(xxxl) {
          // > 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
      }
    }
  }
  &.biz-dev-home,
  &.intelligence-home {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(lg, xxxl) {
      	//992px - 1600px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 3) / 3);
      }
      float: left;
      margin: 0 30px 30px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        @include media-breakpoint-down(md) {
          // < 768px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(lg, xxxl) {
          //992px - 1600px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-up(xxxl) {
          // > 1600px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
      }
    }
  }
  &.learning-home {
    text-align: center;
  }
  &.biz-dev-home,
  &.learning-home,
  &.disruption-home,
  &.intelligence-home {
    .image-holder {
      a {
        transition: all 0.5s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
    .description {
      h1 {
        white-space: nowrap!important;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &.creative_asset_search,
  &.popular_brand_search {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
      }
      @include media-breakpoint-between(lg, xl) {
      	//992px - 1200px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xl, xxl) {
      	// 1200px - 1400px
        width: calc((100% - 60px * 3) / 3);
      }
      @include media-breakpoint-between(xxl, xxxl) {
      	// 1400px - 1600px
        width: calc((100% - 60px * 4) / 4);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 4) / 4);
      }
      float: left;
      margin: 0 30px 30px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        @include media-breakpoint-down(md) {
          // < 768px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          height: calc((100vw - 60px * 3) / 2 * 9 / 16);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xl, xxl) {
          // 1200px - 1400px
          height: calc((100vw - 60px * 4) / 3 * 9 / 16);
        }
        @include media-breakpoint-between(xxl, xxxl) {
          // 1400px - 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
        @include media-breakpoint-up(xxxl) {
          // > 1600px
          height: calc((100vw - 60px * 5) / 4 * 9 / 16);
        }
        a {
          transition: all 0.5s;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }
  &.creative_asset_search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    > .thumbnail-view-item {
      float: none;
      margin: 0 0 30px;
      .description {
        padding:0 2px;
        > h1 { margin: 20px 0 15px; }
      }
      &.half-size {
        .description {
          > h1 {
            margin:10px 5px 10px 0;
            font-size:16px;

          }
        }
      }
    }
  }
  &.agency,
  &.popular_brand {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(lg, xl) {
      	// 992px - 1200px
        width: calc((100% - 60px * 3) / 3);
        height: calc((100vw - 60px * 4) / 3 * 9 / 16);
      }
      @include media-breakpoint-between(xl, xxxl) {
      	// 1200px - 1600px
        width: calc((100% - 60px * 3) / 3);
        height: calc((100vw - 60px * 4) / 3 * 9 / 16);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 3) / 3);
        height: calc((100vw - 60px * 4) / 3 * 9 / 16);
      }
      float: left;
      margin: 0 30px 50px;
      overflow: hidden;
      .image-holder {
        width: 100%;
        height: 100%;
        > a {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          transition: all 0.5s;
          .description {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            padding: 0 25px;
            transition: display 0.3s;
            z-index: 2;
            h1 {
              font-family: 'Averta for TBWA W01 Extrabold', helvetica, arial;
              width: 100%;
              font-size: 24px;
              margin: 20px 0;
              padding: 0;
              text-overflow: unset;
              overflow: visible;
              white-space: normal;
            }
          }
          &:hover {
            cursor: pointer;
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: rgba(0, 0, 0, 0.2);
              z-index: 1;
            }
            .description {
              display: block;
            }
          }
        }
      }
    }
  }
  &.quarter {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(lg, xl) {
      	// 992px - 1200px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(xl, xxxl) {
      	// 1200px - 1600px
        width: calc((100% - 60px * 3) / 3);
        height: calc((100vw - 60px * 4) / 3 * 9 / 16);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 4) / 4);
        height: calc((100vw - 60px * 5) / 4 * 9 / 16);
      }
      float: left;
      margin: 0 30px 50px;
      overflow: hidden;
    }
  }
  &.third {
    > .thumbnail-view-item {
      @include media-breakpoint-down(md) {
      	// < 768px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(md, lg) {
      	//768px - 992px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(lg, xl) {
      	// 992px - 1200px
        width: calc((100% - 60px * 2) / 2);
        height: calc((100vw - 60px * 3) / 2 * 9 / 16);
      }
      @include media-breakpoint-between(xl, xxxl) {
      	// 1200px - 1600px
        width: calc((100% - 60px * 3) / 3);
        height: calc((100vw - 60px * 4) / 3 * 9 / 16);
      }
      @include media-breakpoint-up(xxxl) {
      	// > 1600px
        width: calc((100% - 60px * 4) / 4);
        height: calc((100vw - 60px * 5) / 4 * 9 / 16);
      }
      float: left;
      margin: 0 30px 50px;
      overflow: hidden;
    }
  }
}
.empty {
  width: 100%!important;
  padding: 40px 0!important;
  .empty-data {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    font-size: 20px;
  }
}
nb-route-tabset {
  display: block;
  margin: 20px 0;
  padding: 0 40px;
  box-sizing: border-box;
}
preview-dialog {
  display: block;
  border-radius: 10px;
  background: #ffffff;
}
.ng-placeholder {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  font-size: 18px;
  color: #000000!important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  font-size: 16px;
}
.ng-select .ng-arrow-wrapper {
  width: 19px;
  height: 10px;
  margin-right: 10px;
  background: url('/assets/images/caret_down.png') no-repeat top left;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  border: none;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  font-size: 12px;
}
.gcl-theme-default nb-accordion {
  box-shadow: none!important;
  .form-check-label {
    display: block;
    cursor: pointer;
    .form-check-input {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
    > span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      line-height: 12px;
    }
  }
}
.dialog-body {
  nb-accordion-item-body {
    .item-body {
      min-height: 0 !important;
      line-height: 20px !important;
    }

    .form-check {
      padding-left: 0;
    }
  }
}
selectable-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  > div {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('/assets/images/checkbox-unchecked.png') no-repeat top left;
  }
  &.item-selected {
    > div { background: url('/assets/images/checkbox-checked.png') no-repeat top left; }
  }
  .native-input {
    width: 30px;
    height: 30px;
    &.visually-hidden { opacity: 0; }
  }
}
.thumbnail-view-item:hover {
  .item-selectable-checkbox { display: block; }
}
