
 @mixin ngx-pace-theme() {

  .pace .pace-progress {
    // background: nb-theme(color-fg-highlight);
    background: #fecc01;
  }

  .pace .pace-progress-inner {
    // box-shadow: 0 0 10px nb-theme(color-fg-highlight), 0 0 5px nb-theme(color-fg-highlight);
    box-shadow: none;
  }

  .pace .pace-activity {
    display: none;
    // border-top-color: nb-theme(color-fg-highlight);
    // border-left-color: nb-theme(color-fg-highlight);
  }
}
