// @nebular theming framework
@import '../../core/nebular/theme/styles/theming';
// @nebular out of the box themes
@import '../../core/nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default);

$nb-themes: nb-register-theme(( // app wise variables for each theme
    sidebar-header-height: initial,
    layout-content-width: 1400px,

    font-main: 'Averta for TBWA W01 Regular',
    font-secondary: Roboto,

), default, default);
