.inline-middle {
	display: inline-block;
	vertical-align: middle;
}
.dialog_body {
	height: 100%;
  overflow: auto;
	.dialog_title {
		height: 80px;
		padding: 24px 0;
		box-sizing: border-box;
		background-color: #000000;
		a {
			display: block;
			width: 32px;
			height: 32px;
			margin-left: 25px;
			img {
				display: block;
				width: 100%;
			}
		}
		h1 {
			margin: 0;
	    color: #ffffff;
	    font-size: 23px;
	    height: 32px;
	    line-height: 32px;
	    display: block;
	    width: 100%;
	    margin-left: -25px;
		}
	}
	.media {
		padding: 0 144px;
		box-sizing: border-box;
		background-color: #000000;
	}
	.text_content {
		padding: 30px 0;
		background: #ffffff;
		img {
			margin-left: 33px;
			margin-right: 27px;
		}
		p {
			width: calc(100% - 254px);
			margin: 49px auto 0;
		}
	}
}
