<div class="dialog-title text-center">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <div class="creative-project-asset-template-container row col-12">
    <div class="col-4">
      <div class="project-info left">
        <document-creative-project-info [document]="document"></document-creative-project-info>
      </div>
      <div class="clear"></div>
      <div class="edit-button">
        <!-- <ng-container *ngIf="writePermission$ | async"> -->
          <button class="right edit" (click)="selectView(getDialogTemplateName(document))">Edit</button>
        <!-- </ng-container> -->
      </div>
      <div class="clear"></div>
      <div class="project-menu">
        <nb-menu [items]="tabs" (itemClick)="onMenuClick($event)"></nb-menu>
      </div>
    </div>
    <div class="col-8">
      <div class="project-dynamic-component">
        <ng-template #dynamicTarget></ng-template>
      </div>
    </div>
  </div>
</div>
