<div class="dialog-title text-center">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <div class="creative-project-asset-template-container">
    <div class="left">
      <div class="project-info">
        <document-creative-project-info [document]="document"></document-creative-project-info>
      </div>
      <div class="project-menu">
        <nb-menu [items]="tabs" (itemClick)="onMenuClick($event)"></nb-menu>
      </div>
    </div>
    <div class="right">
      <div class="project-dynamic-component">
        <ng-template #dynamicTarget></ng-template>
      </div>
    </div>
  </div>
</div>
