<div class="document-creative-project-related-asset" *ngIf="showStatus">
  <list-search-form-in-dialog [searchParams]="baseParams$ | async" [settings]="searchFormSettings" [listViewSettings]="listViewSettings" [listViewBuilder]="listViewBuilder" (onSelected)="onSelected($event)"></list-search-form-in-dialog>
</div>
<div class="document-creative-project-related-asset" *ngIf="!showStatus">
  <document-list-view [loading]="loading" [settings]="listViewSettings" [documents]="assetList"></document-list-view>
</div>
