<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <section class="filter-wrapper">
    <div class="heading">
      <h1 class="headline" *ngIf="headline" title="{{headline}}">{{headline}}</h1>
      <h1 class="extraHeadline" title="know\edge hub.">know
        <span>\edge</span>
        hub.
      </h1>
      <h4 title="{{subHead}}">{{subHead}}</h4>
    </div>
    <div (clickOutside)="hide()" (click)="show()" class="keyword-wrapper">
      <input #searchField class="keyword" [autofocus]='formSettings.autofocus' formControlName="ecm_fulltext" title="{{formSettings.placeholder}}" [placeholder]="formSettings.placeholder" (keyup.enter)="onKeyEnter($event)" (keyup)="onKeyup($event)"
        [ngClass]="{'with-filters': hasFilters()}" />
      <div class="clear"></div>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScT8_Ku07nqOxhdL7CugRRq2tM1ewgRabYFiRUeHsZSHM2xNQ/viewform" target="_blank" class="help">Help</a>
      <document-thumbnail-view [hide]="hideView" [loading]="loading" [loadingStyle]="loadingStyle" [layout]="layout" [templateRef]="thumbnailItemView" [documents]="documents" [hideEmpty]="true" [tabIndex]="0"></document-thumbnail-view>
    </div>
  </section>
  <div class="clear"></div>
</form>
<ng-template #thumbnailItemView let-doc="doc">
  <div class="image-holder">
    <a [routerLink]="[getAssetUrl(doc), doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
  </div>
  <div class="description">
    <h5 class="type" [title]="getAssetType(doc)">{{ getAssetType(doc).toUpperCase() }}</h5>
    <h1 [title]="doc.title"><a [routerLink]="[getAssetUrl(doc), doc.uid]">{{doc.title}}</a></h1>
    <h5 class="year" [title]="doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'">
      {{doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</h5>
    <span class="dot"></span>
    <h5 class="client" [title]="doc.get('The_Loupe_Main:brand').join(', ')">
      {{doc.get('The_Loupe_Main:brand').join(', ')}}</h5><br>
    <h5 class="agency" [title]="doc.get('The_Loupe_Main:agency')">
        {{ doc.get('The_Loupe_Main:agency') }}</h5>
  </div>
</ng-template>
