<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <section class="filter-wrapper">
    <div class="heading">
      <h1 class="headline" *ngIf="headline">{{ headline }}</h1>
      <h1 class="extraHeadline">know
        <span>\edge</span>
        portal.
      </h1>
      <h4>{{ subHead }}</h4>
    </div>
    <div (clickOutside)="hide()" (click)="show()" class="keyword-wrapper">
      <input class="keyword" [autofocus]='formSettings.autofocus' formControlName="ecm_fulltext" [placeholder]="formSettings.placeholder" (keyup.enter)="onKeyEnter($event)" (keyup)="onKeyup($event)"
        [ngClass]="{'with-filters': hasFilters()}" />
      <document-thumbnail-view [loading]="loading" [layout]="layout" [templateRef]="thumbnailItemView" [documents]="documents" [hideEmpty]="true" [tabIndex]="0"></document-thumbnail-view>
    </div>
  </section>
  <div class="clear"></div>
</form>
<ng-template #thumbnailItemView let-doc="doc">
  <div class="image-holder">
    <a [routerLink]="[getAssetUrl(doc), doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
  </div>
  <div class="description">
    <h1 [title]="doc.title"><a [routerLink]="[getAssetUrl(doc), doc.uid]">{{doc.title}}</a></h1>
    <h4 class="year" [title]="doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'">
      {{doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</h4>
    <span class="dot"></span>
    <h4 class="client" [title]="doc.get('The_Loupe_Main:brand').join(', ')">
      {{doc.get('The_Loupe_Main:brand').join(', ')}}</h4>
    <h4 class="agency" [title]="doc.get('The_Loupe_Main:agency')">{{doc.get('The_Loupe_Main:agency')}}</h4>
  </div>
</ng-template>
