<div class="document">
  <div class="brand_section">
		<div class="brand_intro inline-middle">
			<img src="{{getThumbnailUrl(document)}}" [alt]="document.title" class="thumbnail-img">
		</div>
		<div class="brand_info inline-middle">
			<h1>{{ document.get('dc:title') }}</h1>
			<div>Type: {{ document.type }}</div>
			<div>Industry: {{ document.get('app_Edges:industry') }}</div>
			<div>Geography: {{ document.get('The_Loupe_Main:country')}}</div>
			<div>{{ document.get('dc:title') }}</div>
			<br>
			<div>Brand: {{ document.get('The_Loupe_Main:clientName')}}</div>
			<div>Product: {{ document.get('The_Loupe_Main:brand') }}</div>
			<br>
			<div>Agency: {{ document.get('The_Loupe_Main:agency')}}</div>
			<div>Edges: {{ document.get('app_Edges:Tags_edges') }}</div>
		</div>
	</div>
</div>