<img src="{{getThumbnailUrl(document)}}" [alt]="document.title" class="thumbnail-img">
<div>Type: {{ document.type }}</div>
<div>Industry: {{ document.get('app_Edges:industry') }}</div>
<div>Geography: {{ document.get('The_Loupe_Main:country')}}</div>
<div>{{ document.get('dc:title') }}</div>
<div>Brand: {{ document.get('The_Loupe_Main:clientName')}}</div>
<div>Product: {{ document.get('The_Loupe_Main:brand') }}</div>
<div>Agency: {{ document.get('The_Loupe_Main:agency')}}</div>
<div>Edges: {{ document.get('app_Edges:Tags_edges') }}</div>
<div *ngFor="let document of folderContents">
        <div class="thumbnail-view">
          <div class="image_holder">
            <!-- <a routerLink="/p/disruption/days/folders/" [queryParams]="{id: document.uid}" [ngStyle]="{'background-image': 'url('+getThumbnailUrl(document)+')'}"></a> -->
          <img src="{{getThumbnailUrl(document)}}" [alt]="document.title" class="thumbnail-img" style="width:100%;height:80%">
          </div>
          <div class="description">
            <h1><a href="javascript:;">{{document.title}}</a></h1>
            <h4 class="year">
              {{document.get('The_Loupe_ProdCredits:production_date') | date}}
            </h4>
            <div class="line"></div>
            <h4 class="agency">{{document.get('The_Loupe_Main:agency')}}</h4>
          </div>
          <!-- <div style='color:black'>{{ document.title }}</div> -->
          <!-- <div style='color:black'>{{document.get('The_Loupe_Main:agency')}}</div> -->
          <!-- <div style='color:black'>{{document.get('The_Loupe_ProdCredits:production_date') | date}}</div> -->
        </div>
</div>