.document-usage-rights-status {
  height: 160px;
  margin: 0 0 10px 15px;
}

.notExpired {
  background-color: #86af3c;
}

.expiring {
  background-color: #fbdc5e;
}

.expiringSoon {
 background-color: #f05562;
}

.expired {
  background-color: #ca1400;
}

.warning {
  background-color: #b5b5b5;
}

ul.light {
  padding: 0;
  margin: 0;

   li {
    float: left;
    width: 24%;
    text-align: center;
    margin-right: 1%;

    div {
      height: 100px;
      /* padding: 10px; */
      padding: 40px 10px;
      text-align: center;
      border-radius: 15px;
    }
  }
}
