<div class="document-creative-campaign-home-action">
  <ng-template #dynamicTarget></ng-template>
</div>
<div class="document-creative-campaign-home-nav">
  <document-creative-campaign-navigation [documentModel]='document' [settings]="navSettings"></document-creative-campaign-navigation>
</div>
<div class="document-creative-campaign-home-list">
  <list-search-form-in-dialog [searchParams]="baseParams$ | async"  [settings]="searchFormSettingsAsset" [listViewSettings]="listViewSettingsAsset" [listViewBuilder]="listViewBuilderAsset" [afterSearch]="afterSearch"></list-search-form-in-dialog>
</div>
