<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="documentModel" class="document" style="padding: 69px 0 20px;">
    <div class="property-section">
      <div class="property-intro inline-top">
        <div [ngStyle]="{'background-image': 'url('+documentModel?.thumbnailUrl+')'}"></div>
      </div>
      <div class="property-info inline-top">
        <h1>{{ documentModel.title }}</h1>
        <button *ngIf="isShow" type="button" (click)="backToParent()" class="icon_btn left">Back to parent</button>
      </div>
    </div>
  </div>
</div>
