<div class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled"
  [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="doc" class="property-section">
    <a [routerLink]="[getAssetUrl(doc),  doc.uid]" class="property-intro inline-middle">
      <img src="{{doc.thumbnailUrl}}" class="thumbnail-img">
    </a>
    <div class="property-info inline-middle">
      <h1>{{ doc.title }}</h1>
      <br>
      <div>Workshop Date: {{doc.get('The_Loupe_ProdCredits:production_date') | date}}</div>
      <div>Industry: {{ doc.get('app_Edges:industry') }}</div>
      <div>Geography: {{ doc.get('app_Edges:Relevant_Country')}}</div>
      <div>Brand: {{ doc.get('The_Loupe_Main:brand')}}</div>
      <div>Agency: {{ doc.get('The_Loupe_Main:agency')}}</div>
      <div>Edges: {{ doc.get('app_Edges:Tags_edges') }}</div>
      <ng-container *ngIf="writePermission$ | async">
        <button type="button" (click)="openDialog(dialog, 'edit')" class="icon_btn">Edit</button>
      </ng-container>
      <ng-container *ngIf="deletePermission$ | async">
        <button type="button" (click)="openDialog(dialog, 'delete')" class="icon_btn">Delete</button>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #dialog>
  <preview-dialog>
    
    <ng-container [ngSwitch]="showEdit">
      <ng-container *ngSwitchCase="'edit'">
        <disruption-folder-edit-from-body (updatedSuccess)="onUpdate($event)">
          <preview-dialog-alert></preview-dialog-alert>
        </disruption-folder-edit-from-body>
      </ng-container>

      <ng-container *ngSwitchCase="'delete'">
        <delete-dialog-body [deleteRedirect]= "deleteRedirect" (callBack)="callback($event)">
          <preview-dialog-alert></preview-dialog-alert>
        </delete-dialog-body>
      </ng-container>
    </ng-container>

  </preview-dialog>
</ng-template>