<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <div class="search_area">
    <input formControlName="ecm_fulltext" [disableControl]="submitted" placeholder="Search for..." (keyup.enter)="onSubmit()" />
  </div>
  <div class="filters">
    <a href="javascript:;" (click)="toggleFilter()" class="advanced_filters_trigger" [ngClass]="{'success': showFilter, 'btn-disabled': submitted}">Filter +</a>
    <div class="clear"></div>
  </div>

  <ng-container *ngIf="showFilter">
    <tbwa-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async" [disableControl]="submitted" (selected)="onFilterChange($event)"></tbwa-search-filter>
  </ng-container>
</form>
