@import '../../../theme/styles/themes';

nb-route-tabset {
  display: block;
  margin: 20px 0;
  padding: 0 40px;
  box-sizing: border-box;
}
.icon_btn {
  &.new_theory { padding-left: 13px; }
}
preview-dialog {
  display: block;
  // width: 190vh;
  border-radius: 10px;
  background: #ffffff;
}
