<div class="biz-dev-home-form">
  <home-search-form [assetUrlMapping]="assetUrlMapping" [redirectUrl]="'/p/search/innovation/asset/'" [headline]="headline" [extraHeadline]="extraHeadline" [subHead]="subHead" [settings]="searchFormSettings" [filters]="filters"
    [searchParams]="defaultParams">
  </home-search-form>
</div>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document s-results biz-dev-home">
  <div *ngFor="let doc of folders" class="thumbnail-view-item">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="isExternalNewTab(doc)">
        <div class="description">
          <h1 [title]="doc.title"><a href="javascript:;" (click)="goToLink(doc)" title="{{doc.title}}" rel="noopener">{{doc.title}}</a></h1>
        </div>
        <div class="image-holder">
          <a href="javascript:;" (click)="goToLink(doc)" title="{{doc.title}}" rel="noopener" class="btn" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="isExternalIframe(doc)">
        <div class="description">
          <h1 [title]="doc.title"><a [routerLink]="['/p/innovation/remote', doc.uid]">{{doc.title}}</a></h1>
        </div>
        <div class="image-holder">
          <a [routerLink]="['/p/innovation/remote', doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="description">
          <h1 [title]="doc.title"><a [routerLink]="['/p/innovation', doc.title]">{{doc.title}}</a></h1>
        </div>
        <div class="image-holder">
          <a [routerLink]="['/p/innovation', doc.title]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
        </div>
      </ng-container>
    </ng-container>

  </div>
  <div class="clear"></div>
</div>
