.ng2-smart-pagination {
  padding: 0;

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .ng2-smart-page-item {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .page-link-next,
  .page-link-prev {
    font-size: 10px;
  }
}
.page-item {
  .page-link {
    font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    color: #2a2a2a;
    border: none;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      background: #8ef1b6;
    }
  }
  &.disabled .page-link {
    color: #bdbdbd;
  }
  &.active .page-link {
    color: #ffffff;
    background-color: #40dc7e;
    &:hover { background: #40dc7e; }
  }
}

:host {
  display: flex;
  justify-content: space-between;

  select {
    margin: 1rem 0 1rem 1rem;
  }

  label {
    margin: 1rem 0 1rem 1rem;
    line-height: 2.5rem;
  }
}
