<div class="backslash-home-search">
  <ng-container *ngIf="isViewEnabled('liveView')">
    <div [ngStyle]="currentView === 'liveView' ? {} : {'display': 'none'}">
      <global-search-form [filters]="filters" [searchParams]="defaultParams" [settings]="searchFormSettings" (onLoading)="onLoading($event)">
        <ng-container class="group-left">
          <div class="global-search-form-buttons d-flex">
            <backslash-form-button [parent]="doc" [type]="'video'" [title]="'New Video'"></backslash-form-button>
            <backslash-form-button [parent]="doc" [type]="'post'" [title]="'New Post'"></backslash-form-button>
            <ng-container *ngIf="writePermission$ | async">
              <button type="button" (click)="selectView('pipeLineView')" class="toggle_button icon_btn" title="Pipeline">Pipeline</button>
            </ng-container>
          </div>
        </ng-container>
        <ng-container class="group-right">
          <div class="search-filters global-search-filters right redirect_margin">
            <a href="{{oldBackslashUrl}}" class="advanced-filters-trigger icon_btn share_padding" title="Backslash" target="blank"></a>
          </div>
        </ng-container>
      </global-search-form>
      <backslash-document-asset-search-result [thumbnailViewSettings]="thumbnailViewSettings" [enableScrolling]="enableScrolling['liveView']" [selectedView]="selectedView"></backslash-document-asset-search-result>
    </div>
  </ng-container>
  <ng-container *ngIf="isViewEnabled('pipeLineView')">
    <div [ngStyle]="currentView === 'pipeLineView' ? {} : {'display': 'none'}">
      <global-search-form [filters]="filters" [searchParams]="pipeLineParams" [settings]="pipeLineSearchFormSettings" (onLoading)="onLoading($event)">
        <ng-container class="group-left">
          <div class="global-search-form-buttons d-flex">
            <backslash-form-button [parent]="doc" [type]="'video'" [title]="'New Video'"></backslash-form-button>
            <backslash-form-button [parent]="doc" [type]="'post'" [title]="'New Post'"></backslash-form-button>
            <ng-container *ngIf="writePermission$ | async">
              <button type="button" (click)="selectView('liveView')" class="toggle_button icon_btn" title="Live">Live</button>
            </ng-container>
          </div>
        </ng-container>
        <ng-container class="group-right">
          <div class="search-filters global-search-filters right redirect_margin">
            <a href="{{oldBackslashUrl}}" class="advanced-filters-trigger icon_btn share_padding" title="Backslash" target="blank"></a>
          </div>
        </ng-container>
      </global-search-form>
      <backslash-pipeline-asset-search-result [thumbnailViewSettings]="thumbnailViewSettings" [enableScrolling]="enableScrolling['pipeLineView']" [selectedView]="selectedView"></backslash-pipeline-asset-search-result>
    </div>
  </ng-container>
</div>
