<div *ngIf="document" class="document">
  <section class="general">
    <div class="showcase left">
      <tbwa-document-viewer [document]="document"></tbwa-document-viewer>
    </div>
    <div class="general_info left">
      <tbwa-document-metadata-info [document]="document"></tbwa-document-metadata-info>
    </div>
    <div class="clear"></div>
  </section>
  <section name="additional_info">
    <tbwa-document-additional-info></tbwa-document-additional-info>
  </section>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-related-info></tbwa-document-related-info>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-related-project></tbwa-document-related-project>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-related-agency></tbwa-document-related-agency>
    </div>
  </div>
</div>
