// @import '../../theme/styles/themes';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '../../core/nebular/theme/styles/global/breakpoints';

// @include nb-install-component() {
//   .solar-card nb-card-header {
//     border: none;
//     padding-bottom: 0;
//   }

//   @include media-breakpoint-down(sm) {
//     ngx-traffic {
//       display: none;
//     }
//   }

//   @include media-breakpoint-down(is) {
//     /deep/ nb-card.large-card {
//       height: nb-theme(card-height-medium);
//     }
//   }
// }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.document {
  width: 1366px;
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;
  > section {
    margin: 0 auto;
    &.general {
      margin-bottom: 19px;
      .showcase {
        width: 949px;
        margin-right: 43px;
      }
      .general_info {
        width: calc(1366px - 949px - 43px);
      }
    }
    &.additional_info {
    	margin-bottom: 60px;
    }
  }
}
