<div *ngIf="document">
  <div class="row">
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <!-- <tbwa-document-pdf-viewer [document]="document"></tbwa-document-pdf-viewer> -->
      <tbwa-document-image-viewer [document]="document"></tbwa-document-image-viewer>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <tbwa-document-metadata-info [document]="document"></tbwa-document-metadata-info>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-additional-info></tbwa-document-additional-info>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-related-info></tbwa-document-related-info>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-related-project></tbwa-document-related-project>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <tbwa-document-related-agency></tbwa-document-related-agency>
    </div>
  </div>
</div>
