<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="left">
    <img src="assets/images/default.jpg" />
  </div>
  <div class="left" style="width: 400px;">
    <div class="brand_title">
      <ul>
        <li>Client: Netfix</li>
        <li>Agency: TBWA\Chiat\Day - Los Angeles</li>
        <li>Brand: Netfix</li>
        <li>Country: Unites States</li>
      </ul>
    </div>
    <div class="button_group">
      <button>Jobs</button>
      <button>Campalgns</button>
      <button>UR</button>
      <button>Upload</button>
      <button>Manage Library</button>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  search results
</div>
<tbwa-file-upload></tbwa-file-upload>
