<div class="document">
  <div class="brand_section">
    <div class="brand_intro inline-middle">
      <img src="{{brandMessage.file}}" />
    </div>
    <div class="brand_info inline-middle">
      <h1>{{brandMessage.client}}</h1>
      <table>
        <colgroup>
          <col width="30%">
          <col width="70%">
        </colgroup>
        <tbody>
          <tr>
            <td>Client: {{brandMessage.client}}</td>
            <td>Agency: {{brandMessage.agency}}</td>
          </tr>
          <tr>
            <td>Brand: {{brandMessage.brand}}</td>
            <td>Country: {{brandMessage.country}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="button_group">
    <button>Jobs</button>
    <button>Campalgns</button>
    <button>UR</button>
    <button>Upload</button>
    <button>Manage Library</button>
  </div>
  <tbwa-brand-search-form></tbwa-brand-search-form>
  <tbwa-asset-search-result></tbwa-asset-search-result>
</div>
