<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <div class="form-group search-input">
    <input class="form-control" formControlName="ecm_fulltext" placeholder="Search for..." (keyup.enter)="onSubmit()" />
  </div>
  <a (click)="toggleFilter()">Filter</a>
  <ng-container *ngIf="showFilter">
    <div class="form-group search-filter">
      <tbwa-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async" [disableControl]="submitted"></tbwa-search-filter>
    </div>
    <div class="form-group search-actions">
      <div class="col-sm-offset-2 col-sm-10">
        <button nbButton class="btn btn-xs" status="success" [disabled]="submitted || !form.form.valid" (click)="onSubmit()">Search</button>
        <button nbButton class="btn btn-xs" status="primary" [disabled]="submitted || !form.form.valid" (click)="onReset()">Reset</button>
      </div>
    </div>
  </ng-container>
</form>
