<creative-brand-info-view [loading]="loading" [document]="document"></creative-brand-info-view>
<div class="creative-brand-campaign-summary row">
  <div class="creative-brand-campaign col">
    <list-search-form-custom-view [filters]="filters" [searchParams]="baseParamsCampaign$ | async" [settings]="searchFormSettingsCampaign" [listViewSettings]="listViewSettingsCampaign" [listViewBuilder]="listViewBuilderCampaign"
      (onSelected)="onSelectedCampaign($event)">
      <ng-container class="group-left">
        <div class="global-search-form-buttons">
          <button type="button" class="creative-brand-campaign-btn icon_btn" title="Campaign">Campaign</button>
          <creative-brand-form-button [parent]="target" [type]="'campaign'" [title]="'New'"></creative-brand-form-button>
        </div>
      </ng-container>
    </list-search-form-custom-view>
  </div>
  <div class="creative-brand-project col">
    <list-search-form-custom-view [filters]="filters" [searchParams]="baseParamsProject$ | async" [settings]="searchFormSettingsProject" [listViewSettings]="listViewSettingsProject" [listViewBuilder]="listViewBuilderProject"
      (onSelected)="onSelectedProject($event)">
      <ng-container class="group-left">
        <div class="global-search-form-buttons">
          <button type="button" class="creative-brand-campaign-btn icon_btn" title="Project">Project</button>
          <creative-brand-form-button [parent]="target" [type]="'project'" [title]="'New'"></creative-brand-form-button>
        </div>
      </ng-container>
    </list-search-form-custom-view>
  </div>
  <div class="creative-brand-campaign-asset col">
    <list-search-form-custom-view [filters]="filters" [searchParams]="baseParamsAsset$ | async" [settings]="searchFormSettingsAsset" [listViewSettings]="listViewSettingsAsset" [listViewBuilder]="listViewBuilderAsset">
      <ng-container class="group-left">
        <div class="global-search-form-buttons">
          <button type="button" class="creative-brand-campaign-asset-btn icon_btn" title="Asset">Asset</button>
          <ng-container *ngIf="isSelectedProject()">
            <button type="button" class="creative-brand-campaign-asset-btn icon_btn white" title="Upload" (click)="openDialog('upload', 'Import')">Upload</button>
            <button type="button" class="creative-brand-campaign-asset-btn icon_btn white" title="Deliver" (click)="openDialog('deliver', '', 'New Package')">Deliver</button>
          </ng-container>
        </div>
      </ng-container>
    </list-search-form-custom-view>
  </div>
</div>
