.row {
  margin: 0;
}
.icon_btn {
  background-color: #fecc00;
}

.white {
  background-color:  #ffffff;
}

.icon_btn.success {
  background-color: #fecc00 !important;
}

.dropdown_container {
  width: 40% !important;
}

.global-search-form-buttons {
 .creative-brand-campaign-asset-btn{
   margin: 0 2px;
 }
}
