.global-search-form {
  margin-top: 20px;
  // margin-bottom: 32px;
  .search-input {
    display: block;
    &.left { margin: 0 27px 28px 60px; }
    &.right { margin: 0 27px 28px 0; }
    input {
      font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
      display: inline-block;
      vertical-align: top;
      width: 312px;
      height: 50px;
      padding: 0 30px 0 10px;
      border-radius: 0;
      outline: 0;
      font-size: 15px;
      box-sizing: border-box;
      border: solid 1px #e1e1e1;
      background: url('/assets/images/search_icon_small.png') no-repeat 286px center;
    }
  }
  .search-filters {
    margin: 0 auto;
    > *:not(.clear) {
      float: left;
      margin-right: 17px;
      box-sizing: border-box;
    }
    .back { background: url('/assets/images/back_icon.png') no-repeat 13px center; }
    .advanced-filters-trigger {
      // background: url('/assets/images/filters_icon.png') no-repeat 13px center;
      padding: 0 13px;
      color: #000000;
      &.btn-disabled {
        background-color: #e0e0e0!important;
        border: solid 1px #e0e0e0;
        color: #757575;
      }
      &.success {
        background-color: #ffcb00!important;
        border: solid 1px #ffcb00;
      }
    }
  }
  .middle .search-input > input {
    clear: both;
    float: none;
    width: 550px;
    background: url('/assets/images/search_icon_small.png') no-repeat 521px center;
  }
}
