.ng-select .ng-select-container {
	font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
	display: block;
	width: 100%;
	height: 49px;
	line-height: 49px;
	padding: 0 11px;
	font-size: 18px;
	box-sizing: border-box;
	border: solid 1px #e1e1e1;
	background-color: #ffffff;
	color: #000000;
}
.ng-option-item {
	margin-left: 0;
	> div { margin-left: 10px; }
	> div > div { margin-left: 20px; }
	> div > div > div { margin-left: 30px; }
	> div > div > div > div { margin-left: 40px; }
	> div > div > div > div > div  { margin-left: 50px; }
	> div > div > div > div > div > div { margin-left: 60px; }
	> div > div > div > div > div > div > div  { margin-left: 70px; }
	> div > div > div > div > div > div > div > div { margin-left: 80px; }
	> div > div > div > div > div > div > div > div > div { margin-left: 90px; }
	> div > div > div > div > div > div > div > div > div > div { margin-left: 100px; }
}
.deep_0 {
  margin-left: 0;
}
.deep_1 {
  margin-left: 20px;
}
.deep_2 {
  margin-left: 40px;
}
.deep_3 {
  margin-left: 60px;
}
.deep_4 {
  margin-left: 80px;
}
