<ng-container [formGroup]="group">
  <batch-file-upload
      [formControlName]="model.id"
      [id]="elementId"
      [placeholder]="model.placeholder"
      [acceptTypes]="model.acceptTypes"
      [multiUpload]="model.multiUpload"
      [queueLimit]="model.queueLimit"
      [maxSize]="model.maxSize"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (valid)="onValid($event)"
      (onUploaded)="onCustomEvent($event, 'BATCH_UPLOAD')">
  </batch-file-upload>
</ng-container>
