@import '../../../core/nebular/theme/styles/global/breakpoints';

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.document {
  @include media-breakpoint-down(md) {
    // < 768px
    width: 720px;
  }
  @include media-breakpoint-between(md, lg) {
    //768px - 992px
    width: 720px;
  }
  @include media-breakpoint-between(lg, xl) {
    //992px - 1200px
    width: 960px;
  }
  @include media-breakpoint-between(xl, xxl) {
    //1200px - 1400px
    width: 1140px;
  }
  @include media-breakpoint-up(xxl) {
    // > 1400px
    width: 1320px;
  }
  margin: 0 auto;
  padding-top: 40px;
  box-sizing: border-box;

  > section {
    margin: 0 auto;

    &.general {
      margin-bottom: 19px;

      .showcase {
        @include media-breakpoint-down(md) {
          // < 768px
          width: 400px;
          margin-right: 23px;
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          width: 400px;
          margin-right: 33px;
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          width: 640px;
          margin-right: 33px;
        }
        @include media-breakpoint-between(xl, xxl) {
          //1200px - 1400px
          width: 740px;
          margin-right: 33px;
        }
        @include media-breakpoint-up(xxl) {
          // > 1400px
          width: 940px;
          margin-right: 43px;
        }
      }

      .general_info {
        @include media-breakpoint-down(md) {
          // < 768px
          width: calc(720px - 400px - 23px);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          width: calc(720px - 400px - 33px);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          width: calc(960px - 640px - 33px);
        }
        @include media-breakpoint-between(xl, xxl) {
          //1200px - 1400px
          width: calc(1140px - 740px - 33px);
        }
        @include media-breakpoint-up(xxl) {
          // > 1400px
          width: calc(1320px - 940px - 43px);
        }
      }
    }

    &.additional_info {
      margin-bottom: 60px;
    }

    &.more {
      padding-top: 69px;
    }
  }
}
