@import '../../../core/nebular/theme/styles/global/breakpoints';

.document {
  // @include media-breakpoint-down(md) {
  //   // < 768px
  //   width: 720px;
  // }
  // @include media-breakpoint-between(md, lg) {
  //   //768px - 992px
  //   width: 720px;
  // }
  // @include media-breakpoint-between(lg, xl) {
  //   //992px - 1200px
  //   width: 960px;
  // }
  // @include media-breakpoint-between(xl, xxl) {
  //   //1200px - 1400px
  //   width: 1140px;
  // }
  // @include media-breakpoint-up(xxl) {
  //   // > 1400px
  //   width: 1320px;
  // }
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 0;
  box-sizing: border-box;
  > section {
    margin: 0 auto;
    &.general {
      padding: 0 60px;
      margin-bottom: 19px;
      .showcase {
        @include media-breakpoint-down(md) {
          // < 768px
          width: 400px;
          height: calc(400px * 9 / 16 + 140px);
          margin-right: 23px;
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          width: 400px;
          height: calc(400px * 9 / 16 + 140px);
          margin-right: 33px;
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          width: 710px;
          height: calc(710px * 9 / 16 + 140px);
          margin-right: 33px;
        }
        @include media-breakpoint-between(xl, xxl) {
          //1200px - 1400px
          width: 800px;
          height: calc(800px * 9 / 16 + 140px);
          margin-right: 43px;
        }
        @include media-breakpoint-up(xxl) {
          // > 1400px
          width: 930px;
          height: calc(930px * 9 / 16 + 140px);
          margin-right: 43px;
        }
      }
      .general_info {
        @include media-breakpoint-down(md) {
          // < 768px
          width: calc(100% - 400px - 23px);
        }
        @include media-breakpoint-between(md, lg) {
          //768px - 992px
          width: calc(100% - 400px - 33px);
        }
        @include media-breakpoint-between(lg, xl) {
          //992px - 1200px
          width: calc(100% - 710px - 33px);
        }
        @include media-breakpoint-between(xl, xxl) {
          //1200px - 1400px
          width: calc(100% - 800px - 43px);
        }
        @include media-breakpoint-up(xxl) {
          // > 1400px
          width: calc(100% - 930px - 43px);
        }
      }
    }
    &.additional_info {
      padding: 0 60px;
      margin-bottom: 60px;
    }
    &.related {
      padding: 0;
    }
    &.more {
      padding: 69px 30px 0;
    }
  }
}
