<div class="document-creative-project-import-asset">
  <div class="page-title">IMPORT</div>
  <!-- <button (click)="changeAssetType('Image')">Upload Image</button>
  <button (click)="changeAssetType('Video')">Upload Video</button>
  <button (click)="changeAssetType('Audio')">Upload Audio</button>
  <div class='document' [ngSwitch]="assetType">
    <document-creative-project-import-asset-image *ngSwitchCase="'Image'" [documentModel]="document">
    </document-creative-project-import-asset-image>
    <document-creative-project-import-asset-video *ngSwitchCase="'Video'" [documentModel]="document">
    </document-creative-project-import-asset-video>
    <document-creative-project-import-asset-audio *ngSwitchCase="'Audio'" [documentModel]="document">
    </document-creative-project-import-asset-audio>
  </div> -->
  <div class="page-content">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Upload Image">
        <document-creative-project-import-asset-image [documentModel]="document"></document-creative-project-import-asset-image>
      </nb-tab>
      <nb-tab tabTitle="Upload Video">
        <document-creative-project-import-asset-video [documentModel]="document"></document-creative-project-import-asset-video>
      </nb-tab>
      <nb-tab tabTitle="Upload Audio">
        <document-creative-project-import-asset-audio [documentModel]="document"></document-creative-project-import-asset-audio>
      </nb-tab>
    </nb-tabset>
</div>
