<div class="playground">
  <document-batch-operation [documentModel]="document" [settings]="batchOperationSettings" [templateRef]="formTemplate" (callback)="onCallback($event)"></document-batch-operation>
  <ng-template #formTemplate let-form="form" let-group="group">
    <div class="title">
      <document-form-element [group]="group" [formModel]="form.getFormModels('file:content')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)">
      </document-form-element>
      <document-form-element [group]="group" [formModel]="form.getFormModels('batchUpload')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)">
      </document-form-element>
      <document-form-element [group]="form.sharedGroup" [formModel]="form.getSharedFormModels(['The_Loupe_Main:jobtitle', 'The_Loupe_ProdCredits:production_date'])" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)"
        (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
    </div>
  </ng-template>
  <!-- <a href="javascript:;" (click)="openDialog(dialog)" class="icon_btn">Download Request</a> -->
</div>
<!-- <ng-template #dialog>
  <global-document-dialog [settings]="dialogSettings" [documentModel]="document"></global-document-dialog>
</ng-template> -->
