.controls {
  h3, h4 {
    margin-left: 20px;
  }
  button {
    background: none !important;
    font-weight: bolder;
    background-color: white;
    margin-right: 0 !important;
    padding: 0 26px !important;
    height: 30px !important;
  }
  .preview, .share, .download {
    border-left: solid 1px #cccccc !important;
  }
}
