<div class="dialog_body">
  <div class="dialog_title text-center">
<a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
    <h1>{{title}}</h1>
    <div class="clear"></div>
  </div>
  <ng-container *ngIf="document">
    <div class="media">
      <tbwa-document-viewer [document]="document" [forDailog]="forDailog"></tbwa-document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text_content">
      <div class="controls">
        {{ document.get('The_Loupe_Main:brand')}}
        <a href="{{document.filePath}}"><button class="inline-middle download" type="submit">Download</button></a>
        <button class="inline-middle share">Share</button>
      </div>
      <p> </p>
    </div>
  </ng-container>
</div>
