<div class="featured-carousel">
  <picture-gallery [gallerySettings]="gallerySettings" [galleryItems]="galleryItems" (playingChange)="onPlayingChange($event)" [customEvent]="galleryEvent" [customTemplate]="customTemplate"></picture-gallery>
</div>

<ng-template #customTemplate let-doc="doc">
  <div class="popover-container {{status}}" (click)="toggleInfo(doc)"></div>
</ng-template>

<ng-container *ngIf="showInfo && infoTemplate">
  <div *ngIf="infoTemplate" class="info-template">
    <ng-container *ngTemplateOutlet="infoTemplate; context: { doc: selectedDocument }"></ng-container>
  </div>
</ng-container>
