<div class="search-filter-form row">
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.assettype_agg" placeholder="Asset Type"></tbwa-option-select>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.agency_agg" placeholder="Agency"></tbwa-option-select>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.country_agg" placeholder="County"></tbwa-option-select>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.brand_agg" placeholder="Brand"></tbwa-option-select>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.clientname_agg" placeholder="Client"></tbwa-option-select>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.industry_agg" placeholder="Industry"></tbwa-option-select>
  </div>
  <!-- <div class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" placeholder="Asset Type">
    <tbwa-option-select [items]="aggregates.campaign_agg" placeholder="Asset Type"></tbwa-option-select>
  </div> -->
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.backslash_category_agg" placeholder="Category"></tbwa-option-select>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <tbwa-option-select [items]="aggregates.tags_edges_agg" placeholder="\Edges"></tbwa-option-select>
  </div>
</div>
