<div class="document-creative-project-home-action">
  <div class="actions-title">Request Info</div>
</div>
<div class="document-creative-project-home-nav"> 
  <div class="creative-project-navigation"> 
    <div class="creative-project-navigation-home">
      <h3>Import Request</h3>
    </div>
  </div>
</div>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" style="float: left;">
    <div *ngIf="requestDocument" class="document">
      <div>Status</div>
      <div>{{ requestDocument.get('The_Loupe_Delivery:status') }}</div>
      <div>Request sent</div>
      <div>{{ requestDocument.get('The_Loupe_Delivery:delivery_send_date') }}</div>
      <div>Upload expires by</div>
      <div>{{ requestDocument.get('The_Loupe_Delivery:delivery_expiration_date') }}></div>
      <div>Message</div>
      <div>{{ requestDocument.get('The_Loupe_Main:description') }}</div>
      <div>Requested by</div>
      <div>{{ requestDocument.get('The_Loupe_Delivery:request_user') }}</div>
      <div>Upload expires by</div>
      <div>{{ requestDocument.get('The_Loupe_Delivery:delivery_email') }}</div>
      <button (click)="moveAssets()">Approve and move selected assets to library</button>
  </div>
</div>
<div class="document-creative-project-home-nav"> 
  <div class="creative-project-navigation import-queue"> 
    <div class="creative-project-navigation-home">
      <h3>Import Queue</h3>
      <list-search-form-in-dialog [searchParams]="baseParams$ | async" [settings]="searchFormSettings"
      [listViewSettings]="listViewSettings" [listViewBuilder]="listViewBuilder" (onSelected)="onSelected($event)">
      </list-search-form-in-dialog>

    </div>
  </div>
</div>
<div class="document-creative-project-home-nav"> 
  <div class="creative-project-navigation accepted-queue"> 
    <div class="creative-project-navigation-home">
      <h3>Accept Queue</h3>
    </div>
  </div>
</div>