@import '../../../theme/styles/themes';
@import '../../../core/nebular/bootstrap/breakpoints';
@import '../../../core/nebular/theme/styles/global/breakpoints';

.global-search-form-buttons {
  margin-right: 60px;
  .roadmap-btn {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    font-size: 18px;
    color: #afafaf;
    &:hover { color: #afafaf; }
    border: none;
    padding-right: 0;
    @media screen and (min-width: 1000px) {
      transform: translate(0, -75px);
    }
    @media screen and (min-width: 800px) and (max-width: 1000px) {
        transform: translate(0, -125px);
    }
    @media screen and (max-width: 800px) {
      transform: translate(0, -150px);
    }
  }
}
.roadmap-heading {
  margin-left: 60px;
  margin-top: 30px;
  font-size: 25px;
  line-height: 60px;
  color: #000000;
  font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
}
