<creative-brand-info-view [loading]="loading" [document]="document"></creative-brand-info-view>
<div class="creative-brand-project">
  <global-search-form [filters]="filters" [baseParams]="baseParams$ | async" [showInput]="showInput">
    <ng-container class="group-right">
      <div class="global-search-form-buttons">
        <creative-brand-form-button [parent]="target" [type]="'project'" [title]="'New Project'"></creative-brand-form-button>
      </div>
    </ng-container>
  </global-search-form>
  <creative-brand-project-search-result [layout]="layout" [selectedView]="'listView'"></creative-brand-project-search-result>
</div>
