.row {
  margin: 0;
  .col {
    padding: 3px;
  }
}
.icon_btn {
  background-color: #fecc00;
}

.white {
  background-color:  #ffffff;
}

.icon_btn.success {
  background-color: #fecc00 !important;
}

::ng-deep .creative-brand-campaign-project-mgt {
  .list-search-form {
    .search-group {
      button.success {
        background-color: #fecc00 !important;
      }
    }
    .advanced_filters {
      .dropdown_container {
        width: 40% !important;
      }
    }
  }
  .creative-brand-project, .creative-brand-campaign-asset, .creative-brand-campaign {
    .list-search-result {
      table {
        tbody {
          tr {
            td {
              button {
                padding: 0 30px;
                height: 35px;
              }
              border: none;
            }
          }
          tr td:last-child {
            float: right;
          }
          tr:hover {
            background-color: #fecc00 !important;
            background: #fecc00 !important;
          }
          .project-info {
            li {
              padding: 5px 0;
            }
            .project-title {
              font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
              font-size: 15px;
            }
            .project-jobnumber {
              font-size: 13px;
            }
          }
          .asset-info {
            .asset-type {
              height: 25px;
              text-align: center;
              background-color: #e5e4e2;
              border: 1px #e5e4e2;
              border-radius: 5px;
              padding-top: 5px;
              margin: 5px 0;
              float: left;
              width: 50%;
            }
            .asset-date {
              float: left;
              margin: 10px;
            }
          }
          img {
            max-width: 160px;
          }
        }
      }
    }
  }
}

.global-search-form-buttons {
 .creative-brand-campaign-asset-btn {
   margin: 0 2px;
 }
}
