<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div class="property-section" *ngIf="documentModel">
    <div class="property-intro inline-top">
      <div *ngIf="documentModel" [ngStyle]="{'background-image': 'url('+documentModel.filePath+')'}"></div>
    </div>
    <div class="property-info inline-top">
      <h1 [title]="documentModel.get('The_Loupe_Main:brand').join(', ')">{{documentModel.get('The_Loupe_Main:brand').join(', ')}}</h1>
      <ul>
        <a class="agency-link" [routerLink]="['/p/creative/agency', documentModel.parentRef, 'showcase']">
          <li><b>Agency:</b><span class="brand-agency">{{documentModel.get('The_Loupe_Main:agency')}}</span></li>
        </a>
      </ul>
    </div>
    <nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }" style="padding: 0;"></nb-route-tabset>
  </div>
</div>
