<creative-brand-info-view [loading]="loading" [document]="document"></creative-brand-info-view>
<div class="creative-brand-usage-rights" [nbSpinner]="loading" nbSpinnerStatus="disabled">
  <global-search-form [filters]="filters" [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
    <ng-container class="group-right">
      <div class="global-search-form-buttons">
        <creative-brand-form-button [parent]="target" [type]="'model'" [title]="'New Talent'"></creative-brand-form-button>
        <creative-brand-form-button [parent]="target" [type]="'music'" [title]="'New Music'"></creative-brand-form-button>
        <creative-brand-form-button [parent]="target" [type]="'photo'" [title]="'New Photographer'"></creative-brand-form-button>
        <creative-brand-form-button [parent]="target" [type]="'stock'" [title]="'New Stock'"></creative-brand-form-button>
      </div>
    </ng-container>
  </global-search-form>
  <creative-usage-rights-search-result [layout]="layout" [selectedView]="'listView'"></creative-usage-rights-search-result>
</div>
