<div class="dialog-title text-center">
  <a (click)="close()"><img [src]="closeBtnImage()"></a>
  <h1>{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged"><img [src]="backBtnImage()"></a>
</div>
<div class="dialog-body">
  <ng-container *ngIf="document">
    <div class="media">
      <document-viewer [document]="document" [enableActions]="false"></document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <document-backslash-info [document]="document"></document-backslash-info>
  </ng-container>
</div>
