.slides { min-width: 800px; }
tbwa-backslash-dialog,
tbwa-disruption-dialog,
tbwa-intelligence-dialog,
tbwa-roadmaps-dialog,
tbwa-disruption-form-dialog {
	display: block;
	width: 100%;
	height: 85vh;
	overflow: hidden;
	border-radius: 10px;
	background-color: #ffffff;
}
