h1 {
	font-family: 'Averta for TBWA W01 Black', helvetica, arial;
	margin: 0 0 28px;
	padding: 0 60px;
	font-size: 30px;
}

::ng-deep .knowledge-related-info {
	.nb-card {
		.nb-card-body {
			padding: 0;
			nb-tabset {
				ul {
					padding-left: 60px;
					width: 100% !important;
				}
			}
		}
	}
}

.line {
	width: calc(100% - 120px);
	height: 2px;
	margin: 0 auto;
	background: #a1a1a1;
}
