<h1>RELATED</h1>
<div class="knowledge-related-info">
<nb-card class="nb-card">
  <nb-card-body class="nb-card-body">
    <nb-tabset fullWidth (changeTab)="onChangTab($event)">
      <nb-tab *ngFor="let item of tabItems" [active]="currentTab && currentTab.name === item.name" tabTitle="{{item.name}}" class="nb-tab" responsive>
        <knowledge-related-info-view [tabInfo]="tabInfo$ | async" [item]="item"></knowledge-related-info-view>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
</div>
<div class="line"></div>
