<div class="creative-project-navigation">
  <div class="creative-project-navigation-home">
    <div class="left logo" title="Home" (click)="goHome()"></div>
  </div>
  <div class="creative-project-navigation-page-list">
    <ng-select [items]="options" bindLabel="label" bindValue="value" [(ngModel)]="selectedItem" (change)="onChange($event)" [hideSelected]="true" [clearable]='false' [searchable]='false'></ng-select>
  </div>
  <div class="creative-project-navigation-search">
    <global-search-form [filters]="filters" [searchParams]="defaultParams" [settings]="searchFormSettings"></global-search-form>
  </div>
</div>
