.creative-project-navigation {
    background-color: #434343;
    width: 100%;
    height: 36px;
}
.creative-project-navigation-home {
    width: 80px;
    height: 100%;
    float: left;
}
.creative-project-navigation-page-list {
    width: 200px;
    height: 100%;
    float: left;
}
