<div class="advanced_filters flex">
  <div *ngFor="let item of searchOptions" class="dropdown_container">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="item.type === 'search-filter'">
        <option-select class="form-control" (change)="onFilterChange()" [(ngModel)]="aggregateModel[item.id]" (ngModelChange)="onModelChange()" [settings]="item" [className]="item.id" [disabled]="disabled">
        </option-select>
      </ng-container>
      <ng-container *ngSwitchCase="item.type === 'date-range'">
        <input type="text" [placeholder]="item.placeholder" [ngClass]="['form-control', 'datepicker', item.customClass]" [readonly]="readonly" [nbDatepicker]="searchDateRange">
        <nb-rangepicker #searchDateRange (rangeChange)="onDateRangeChange($event, item)"></nb-rangepicker>
      </ng-container>
    </ng-container>
  </div>
</div>
