<div [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="document" class="document">
    <div class="page_title">
      <a (click)="navigateToBackslashHome()"><img src="/assets/images/backslash_logo.png"></a>
    </div>
    <div class="showcase">
      <section class="media">
        <document-viewer [document]="document" [storyboard]="storyboard" [layout]="dialogLayout" [showAction]="false"></document-viewer>
      </section>
      <section class="info">
        <document-backslash-info [document]="document"></document-backslash-info>
      </section>
    </div>
  </div>
</div>
