<div class="union-talent">
  <h4 class="title">Union Talent</h4>
  <div *ngIf="!showForm" class="document">
    <table>
      <tbody>
        <tr>
          <th>FILM/SHOOT</th>
          <th>LOCATION/STUDIO</th>
          <th>FILM CITY/STATE</th>
        </tr>
        <tr>
          <td>{{ document.get('The_Loupe_ProdCredits:shooting_date') }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:shooting_location') }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:film_city_state') }}</td>
        </tr>
        <tr>
          <th>Production Company</th>
          <th>Production Company Address</th>
          <th>Production Company Contact</th>
          <th>Production Company Phone Email</th>
        </tr>
        <tr>
          <td>{{ document.get('The_Loupe_ProdCredits:production_company')['production_company'] }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:production_company')['production_company_address'] }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:production_company')['production_company_contact'] }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:production_company')['production_company_phone_email'] }}</td>
        </tr>
        <tr>
          <th>RECORD DATE</th>
          <th>RECORD DATE</th>
          <th>RECORD CITY/STATE</th>
        </tr>
        <tr>
          <td>{{ document.get('The_Loupe_ProdCredits:recording')['record_date'] }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:recording')['record_studio'] }}</td>
          <td>{{ document.get('The_Loupe_ProdCredits:recording')['record_city_state'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showForm" class="document">
    <document-form [user]="currentUser" [document]="document" [settings]="formSettings" (callback)="onCallback($event)"></document-form>
  </div>
  <button nbButton outline class="btn edit-btn" (click)="changeView()">Edit</button>
  <hr>
</div>
