<div class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="documentModel">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="isDisruptionAsset(documentModel) || isIntelligenceAsset(documentModel) || isBizDevAsset(documentModel) || isInnovationAsset(documentModel) || isEdgeAsset(documentModel)">
        <h1>{{ documentModel.title }}</h1>
        <h2>{{ documentModel.get('The_Loupe_Main:brand') }}</h2>
        <table>
          <tbody>
            <tr>
              <th>Descriptions</th>
              <th>Asset Type</th>
            </tr>
            <tr>
              <td *ngIf="isDisruptionAsset(documentModel)">{{ documentModel.get('The_Loupe_Main:description') }}</td>
              <td *ngIf="isIntelligenceAsset(documentModel) || isBizDevAsset(documentModel) || isInnovationAsset(documentModel) || isEdgeAsset(documentModel)">{{ documentModel.get('dc:description') }}</td>
              <td *ngIf="isIntelligenceAsset(documentModel)">{{ documentModel.get('app_Edges:intelligence_type') }}</td>
              <td *ngIf="(isDisruptionAsset(documentModel) && !isDisruptionRoadmapAsset(documentModel)) || isBizDevAsset(documentModel) || isInnovationAsset(documentModel) || isEdgeAsset(documentModel)">{{ documentModel.get('The_Loupe_Main:assettype') }}</td>
              <td *ngIf="isDisruptionAsset(documentModel) && isDisruptionRoadmapAsset(documentModel)">{{ documentModel.get('app_Edges:disruption_type') }}</td>
            </tr>
            <tr>
              <th>Industry</th>
              <th>Geography</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('app_Edges:industry') }}</td>
              <td>{{ vocabularyFormatter(documentModel.get('app_Edges:Relevant_Country')) }}</td>
            </tr>
            <tr>
              <th>Author</th>
              <th>Published</th>
            </tr>
            <tr>
              <!-- <td *ngIf="isDisruptionAsset(documentModel)">{{ documentModel.get('dc:creator') }}</td> -->
              <td>{{ documentModel.get('The_Loupe_Main:created_by') }}</td>
              <td>{{ documentModel.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</td>
            </tr>
            <tr>
              <th>Backslash Category</th>
              <th>Edge</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('app_Edges:backslash_category').join(', ') }}</td>
              <td>{{ documentModel.get('app_Edges:Tags_edges') }}</td>
            </tr>
            <tr>
              <th>Agency</th>
              <th>Brand</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('The_Loupe_Main:agency') }}</td>
              <td>{{ documentModel.get('The_Loupe_Main:brand') }}</td>
            </tr>
            <tr *ngIf="isIntelligenceAsset(documentModel)">
              <th>Tags</th>
              <th></th>
            </tr>
             <tr *ngIf="isIntelligenceAsset(documentModel)">
               <td>{{getTags()}}</td>
               <td></td>
             </tr>
          </tbody>
        </table>
        <ng-container *ngIf="deletePermission$ | async">
          <a href="javascript:;" (click)="openDialog(deleteDialog)" title="Delete" class="delete right icon_btn">Delete</a>
        </ng-container>
        <ng-container *ngIf="writePermission$ | async">
          <a href="javascript:;" (click)="openDialog(editDialog)" title="Edit" class="edit right icon_btn">Edit</a>
        </ng-container>
        <!-- <ng-container *ngIf="isIntelligenceAsset(documentModel) && deletePermission$ | async">
          <a href="javascript:;" (click)="openDialog(dialog, 'delete')" title="Delete" class="edit right icon_btn">Delete</a>
        </ng-container> -->
        <!-- <ng-container *ngIf="downloadPermission$ | async">
          <a *ngIf="documentModel.filePath" href="{{documentModel.filePath}}" class="download right icon_btn" title="Download">Download</a>
        </ng-container>
        <ng-container *ngIf="downloadPermission$ | async">
          <a href="{{documentModel.previewUrl}}" class="preview right icon_btn" title="Preview" target="_blank">Preview</a>
        </ng-container>
        <a href="javascript:;" (click)="goBack()" class="back right icon_btn" title="Back">Back</a> -->
      </ng-container>
      <ng-container *ngSwitchCase="isCreativeAsset(documentModel)">
        <h1>{{documentModel.title}}</h1>
        <h2><a *ngIf="documentModel.parentRef && hasBrand() && !hasFilter() && hasBrandFolder()" href="javascript:;" (click)="goToBrandFolder();" class="">{{documentModel.get('The_Loupe_Main:brand')}}</a>
          <ng-container *ngIf="documentModel.parentRef && hasBrand() && hasFilter() || !hasBrandFolder()">{{documentModel.get('The_Loupe_Main:brand')}}</ng-container>
        </h2>
        <h4>About</h4>
        <p>{{documentModel.get('dc:description')}}</p>
        <table>
          <tbody>
            <tr>
              <th>Asset Type</th>
              <th>Country</th>
            </tr>
            <tr>
              <td>{{documentModel.get('The_Loupe_Main:assettype')}}</td>
              <td>{{vocabularyFormatter(documentModel.get('The_Loupe_Main:country'))}}</td>
            </tr>
            <tr>
              <th colspan="2">Agency</th>
            </tr>
            <tr>
              <td colspan="2">
                <a *ngIf="hasAgency() && !hasFilter() && hasAgencyFolder()" href="javascript:;" (click)="goToAgencyFolder();" class="text">{{documentModel.get('The_Loupe_Main:agency')}}</a>
                <ng-container *ngIf="hasAgency() && !hasAgencyFolder() || hasFilter()">{{documentModel.get('The_Loupe_Main:agency')}}</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
        <nb-accordion class="accordion">
          <nb-accordion-item class="accordion-item" (click)="toggleJob(documentModel)">
            <nb-accordion-item-header class="accordion-item-header"><span>Job</span></nb-accordion-item-header>
            <nb-accordion-item-body class="accordion-item-body" [nbSpinner]="jobLoading" nbSpinnerStatus="disabled">
              <table>
                <tbody>
                  <tr>
                    <td>{{jobTitle}}</td>
                  </tr>
                </tbody>
              </table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item [collapsed]="false" class="accordion-item">
            <nb-accordion-item-header class="accordion-item-header">Usage Rights</nb-accordion-item-header>
            <nb-accordion-item-body class="accordion-item-body" [nbSpinner]="usageLoading" nbSpinnerStatus="disabled">
              <ng-container [ngSwitch]="true">
                <ng-container *ngSwitchCase="usageRights.all_error_messages && usageRights.all_error_messages.length > 0">
                  <ul class="state error">
                    <li>
                      <span>{{usageRights.error_messages}}</span>
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ngSwitchCase="usageRights.info_messages && usageRights.info_messages.length > 0">
                  <ul class="state info">
                    <li>
                      <span>{{usageRights.info_messages}}</span>
                    </li>
                  </ul>
                </ng-container>
                <ng-container *ngSwitchCase="usageRights.info_messages && usageRights.info_messages.length === 0 && usageRights.info_messages.length === usageRights.all_error_messages.length">
                  <ul class="state">
                    <li>
                      <h4>Expires in</h4>
                      <span>{{usageRights.days_left}} days</span>
                    </li>
                    <li>
                      <h4>Expires on</h4>
                      <span>{{usageRights.end_date ? (usageRights.end_date | date:'MMM d, yyyy':'UTC') : 'N/A'}}</span>
                    </li>
                  </ul>
                </ng-container>
              </ng-container>
              <div class="clear"></div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <!-- <ng-container *ngIf="downloadPermission$ | async">
          <a *ngIf="documentModel.filePath" href="{{documentModel.filePath}}" class="download right icon_btn" title="Download">Download</a>
        </ng-container>
        <ng-container *ngIf="downloadPermission$ | async">
          <a href="{{documentModel.previewUrl}}" class="preview right icon_btn" title="Preview" target="_blank">Preview</a>
        </ng-container>
        <a href="javascript:;" (click)="goBack()" class="back right icon_btn" title="Back">Back</a> -->
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #editDialog>
  <global-document-dialog [settings]="getDialogFormSettings(documentModel)" [documentModel]="documentModel" [metadata]="dialogMetadata" [title]="getFormTitle(documentModel)" [redirectUrl]="editRedirectUrl"></global-document-dialog>
</ng-template>
<ng-template #deleteDialog>
  <global-document-dialog [settings]="deleteDialogSettings" [documentModel]="documentModel" [metadata]="dialogMetadata" [title]="deleteTitle" [redirectUrl]="deleteRedirectUrl"></global-document-dialog>
</ng-template>
