<div class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="documentModel">
    <ng-container [ngSwitch]="true">
      <ng-container *ngSwitchCase="isDisruptionAsset(documentModel) || isIntelligenceAsset(documentModel)">
        <h1>{{ documentModel.title }}</h1>
        <h2>{{ documentModel.get('The_Loupe_Main:brand') }}</h2>
        <table>
          <tbody>
            <tr>
              <th>Descriptions</th>
              <th>Asset Type</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('The_Loupe_Main:description') }}</td>
              <td>{{ documentModel.get('app_Edges:disruption_type') }}</td>
            </tr>
            <tr>
              <th>Industry</th>
              <th>Geography</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('app_Edges:industry') }}</td>
              <td>{{ parseCountry(documentModel.get('app_Edges:Relevant_Country')) }}</td>
            </tr>
            <tr>
              <th>Author</th>
              <th>Published</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('dc:creator') }}</td>
              <td>{{ documentModel.get('The_Loupe_ProdCredits:production_date') | date }}</td>
            </tr>
            <tr>
              <th>Backslash Category</th>
              <th>Edge</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('app_Edges:backslash_category').join(', ') }}</td>
              <td>{{ documentModel.get('app_Edges:Tags_edges') }}</td>
            </tr>
            <tr>
              <th>Agency</th>
              <th>Brand</th>
            </tr>
            <tr>
              <td>{{ documentModel.get('The_Loupe_Main:agency') }}</td>
              <td>{{ documentModel.get('The_Loupe_Main:brand') }}</td>
            </tr>
          </tbody>
        </table>
        <ng-container *ngIf="writePermission$ | async">
          <a href="javascript:;" (click)="openForm(dialog, 'edit')" title="Edit" class="edit right icon_btn">Edit</a>
        </ng-container>
        <ng-container *ngIf="deletePermission$ | async">
          <a href="javascript:;" (click)="openForm(dialog, 'delete')" title="Delete" class="edit right icon_btn">Delete</a>
        </ng-container>
        <ng-container *ngIf="downloadPermission$ | async">
          <a *ngIf="documentModel.filePath" href="{{documentModel.filePath}}" class="download right icon_btn" title="Download">Download</a>
        </ng-container>
        <ng-container *ngIf="downloadPermission$ | async">
          <a href="{{documentModel.previewUrl}}" class="preview right icon_btn" title="Preview" target="_blank">Preview</a>
        </ng-container>
        <a href="javascript:void(0)" (click)="goBack()" class="back right icon_btn" title="Back">Back</a>
      </ng-container>
      <ng-container *ngSwitchCase="isCreativeAsset(documentModel)">
        <h1>{{documentModel.title}}</h1>
        <h2><a *ngIf="documentModel.parentRef && hasBrand() && !hasFilter() && hasBrandFolder()" href="javascript:void(0)" (click)="goBrandFolder();" class="">{{documentModel.get('The_Loupe_Main:brand')}}</a>
            <ng-container *ngIf="documentModel.parentRef && hasBrand() && hasFilter() || !hasBrandFolder()">{{documentModel.get('The_Loupe_Main:brand')}}</ng-container>
        </h2>
        <h4>About</h4>
        <p>{{documentModel.get('dc:description')}}</p>
        <table>
          <tbody>
            <tr>
              <th>Asset Type</th>
              <th>Country</th>
            </tr>
            <tr>
              <td>{{documentModel.get('The_Loupe_Main:assettype')}}</td>
              <td>{{parseCountry(documentModel.get('The_Loupe_Main:country'))}}</td>
            </tr>
            <tr>
              <th colspan="2">Agency</th>
            </tr>
            <tr>
              <td colspan="2">
                <a *ngIf="hasAgency() && !hasFilter() && hasAgencyFolder()" href="javascript:void(0)" (click)="goAgencyFolder();" class="text">{{documentModel.get('The_Loupe_Main:agency')}}</a>
                <ng-container *ngIf="hasAgency() && !hasAgencyFolder() || hasFilter()">{{documentModel.get('The_Loupe_Main:agency')}}</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
        <nb-accordion class="accordion">
          <nb-accordion-item class="accordion-item" (click)="toggleJob(documentModel)">
            <nb-accordion-item-header class="accordion-item-header"><span>Job</span></nb-accordion-item-header>
            <nb-accordion-item-body class="accordion-item-body" [nbSpinner]="jobLoading" nbSpinnerStatus="disabled">
              <table>
                <tbody>
                  <tr>
                    <td>{{jobTitle}}</td>
                  </tr>
                </tbody>
              </table>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item [collapsed]="false" class="accordion-item">
            <nb-accordion-item-header class="accordion-item-header">Usage Rights</nb-accordion-item-header>
            <nb-accordion-item-body class="accordion-item-body" [nbSpinner]="usageLoading" nbSpinnerStatus="disabled">
              <ng-container *ngIf="usageRights && usageRights.error_messages && usageRights.error_messages.length > 0 ; then errorInfo else stateInfo"></ng-container>
              <ng-template #stateInfo>
                <ul class="state">
                  <li>
                    <h4>Expires in</h4>
                    <span>{{usageRights.days_left}} days</span>
                  </li>
                  <li>
                    <h4>Expires on</h4>
                    <span>{{usageRights.end_date ? (usageRights.end_date | date) : 'N/A'}}</span>
                  </li>
                </ul>
              </ng-template>
              <ng-template #errorInfo>
                <ul class="state error">
                  <li>
                    <span>{{usageRights.error_messages}}</span>
                  </li>
                </ul>
              </ng-template>
              <div class="clear"></div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <ng-container *ngIf="downloadPermission$ | async">
          <a *ngIf="documentModel.filePath" href="{{documentModel.filePath}}" class="download right icon_btn" title="Download">Download</a>
        </ng-container>
        <ng-container *ngIf="downloadPermission$ | async">
          <a href="{{documentModel.previewUrl}}" class="preview right icon_btn" title="Preview" target="_blank">Preview</a>
        </ng-container>
        <a href="javascript:void(0)" (click)="goBack()" class="back right icon_btn" title="Back">Back</a>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #dialog>
  <preview-dialog>
    <ng-container [ngSwitch]="dialogType">
      <ng-container *ngSwitchCase="'edit'">
        <metadata-edit-form-dialog-body (updatedSuccess)="onUpdated($event)">
          <preview-dialog-alert></preview-dialog-alert>
        </metadata-edit-form-dialog-body>
      </ng-container>
      <ng-container *ngSwitchCase="'delete'">
        <delete-dialog-body [deleteRedirect]="deleteRedirect" (callBack)="callback($event)">
          <preview-dialog-alert></preview-dialog-alert>
        </delete-dialog-body>
      </ng-container>
    </ng-container>
  </preview-dialog>
</ng-template>
