<nb-route-tabset fullWidth [tabs]="tabs"></nb-route-tabset>
<global-search-form [filters]="filters" [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
  <ng-container class="group-left">
    <div class="global-search-form-buttons d-flex" *ngIf="addChildrenPermission$ | async">
      <innovation-form-button [parent]="document" [type]="'asset'" [title]="'New Presentation'"></innovation-form-button>
    </div>
  </ng-container>
</global-search-form>
<innovation-folder-view [loading]="loading" [assetUrl]="assetUrl" [document]="document" [deleteRedirectUrl]="deleteRedirectUrl" [showFolderInfo]="showFolderInfo"></innovation-folder-view>
<innovation-asset-search-result [assetUrl]="assetUrl" [folderId]="document?.uid"></innovation-asset-search-result>
