<div class="dialog_body">
  <div class="dialog_title">
    <a (click)="close()"><img [src]="closeBtnImage()"></a>
  </div>
  <ng-container *ngIf="document">
    <div class="media">
      <tbwa-document-viewer [document]="document" [forDailog]="forDailog"></tbwa-document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text_content">
      <img [src]="previewBtnImage()" class="inline-middle">
      <h3 class="inline-middle">{{document.title}}</h3>
      <p>{{description}}</p>
    </div>
  </ng-container>
</div>
