.dialog-body {
  .documents {
    padding-left: 30px;
    .doc-title {
      font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
      font-size: 20px;
      padding-left: 5px;
      list-style: outside;
    }
  }
}
