<div class="dialog-title text-center" [ngStyle]=" hiddenDialogInfo ? {'display': 'none'} : {}">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <ng-container *ngIf="document">
    <div class="media" [ngStyle]=" hiddenDialogInfo ? {'display': 'none'} : {}">
      <document-viewer [document]="document" [settings]="viewerSettings"></document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text-content" style="padding-top: 0;" [ngStyle]=" hiddenDialogInfo ? {'display': 'none'} : {}">
      <div class="controls row">
        <div class="col-5">
          <h3 class="left"><b>{{ document.title }}</b></h3>
          <div class="clear"></div>
          <h4 class="left">{{ document.get('The_Loupe_Main:brand') }}</h4>
        </div>
        <div class="col-7">
          <ng-container *ngIf="isNeedSendDownloadRequest(document)">
            <a href="javascript:;" (click)="selectView('document-download-request')"><button class="inline-middle download right" title="Download">Download Request</button></a>
          </ng-container>
          <ng-container *ngIf="downloadPermission$ | async">
            <a *ngIf="document.filePath" href="{{document.filePath}}" (click)="googleAnalyticsTrackLink(document, 'Download', 'File')" title="Download"><button class="inline-middle download right" title="Download">Download</button></a>
          </ng-container>
          <ng-container *ngIf="downloadPermission$ | async">
            <a href="{{document.previewUrl}}" (click)="googleAnalyticsTrackLink(document, 'Preview')" title="Preview" target="_blank"><button class="preview right">Preview</button></a>
          </ng-container>
          <button class="share right" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
          <ng-container *ngIf="getDialogSettings().enableDetail">
            <a href="{{this.buildShareUrl(document)}}" (click)="close()"><button class="inline-middle details right">Details</button></a>
          </ng-container>
        </div>
        <div class="clear"></div>
      </div>
      <ng-container *ngIf="getDialogSettings().moreInfo">
        <table>
          <tbody>
            <tr>
              <th>Descriptions</th>
              <th>Asset Type</th>
            </tr>
            <tr>
              <td>{{ document.get('dc:description') }}</td>
              <td>{{ document.get('The_Loupe_Main:assettype') }}</td>
            </tr>
            <tr>
              <th>Industry</th>
              <th>Geography</th>
            </tr>
            <tr>
              <td>{{ document.get('app_Edges:industry') }}</td>
              <td>{{ vocabularyFormatter(document.get('app_Edges:Relevant_Country')) }}</td>
            </tr>
            <tr>
              <th>Author</th>
              <th>Published</th>
            </tr>
            <tr>
              <td>{{ document.get('The_Loupe_Main:created_by') }}</td>
              <td>{{ document.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</td>
            </tr>
            <tr>
              <th>Backslash Category</th>
              <th>Edge</th>
            </tr>
            <tr>
              <td>{{ document.get('app_Edges:backslash_category').join(', ') }}</td>
              <td>{{ document.get('app_Edges:Tags_edges') }}</td>
            </tr>
            <tr>
              <th>Agency</th>
              <th>Brand</th>
            </tr>
            <tr>
              <td>{{ document.get('The_Loupe_Main:agency') }}</td>
              <td>{{ document.get('The_Loupe_Main:brand') }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <nb-accordion class="accordion" *ngIf="attachments && attachments.length !== 0">
        <nb-accordion-item class="accordion-item">
          <nb-accordion-item-header class="accordion-item-header"><span>Additional Attachments</span></nb-accordion-item-header>
          <nb-accordion-item-body class="accordion-item-body">
            <ng-container *ngIf="isNeedSendDownloadRequest(document)">
              <table>
                <tbody *ngFor="let attachment of attachments">
                  <tr>
                    <td>
                      <a href="javascript:;" (click)="selectView('document-download-request')" class="download-btn">{{ attachment.title }}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-container *ngIf="downloadPermission$ | async">
              <table>
                <tbody *ngFor="let attachment of attachments">
                  <tr>
                    <td><a href="{{ attachment.url }}" (click)="googleAnalyticsTrackLink(document, 'Download', 'Attachment', attachment.title)" class="download-btn">{{ attachment.title }}</a></td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
    <section class="related" *ngIf="getDialogSettings().enableKnowledgeRelated">
      <knowledge-related-info [hideTab]="'Creative'" [document]="document"></knowledge-related-info>
    </section>
  </ng-container>
</div>

<ng-template #popContent>
  <document-share-button [document]="document" [shareUrl]="shareUrl"></document-share-button>
</ng-template>
