<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <section class="filter-wrapper">
    <h1>{{ this.headline }}</h1>
    <h4>{{ this.subHead }}</h4>
    <div (clickOutside)="hide()" (click)="show()" style="display:inline-block;">
      <div class="keyword-wrapper" [ngStyle]="{'background-image': 'url('+getThumbnailUrl(backgroudDocument)+')'}">
        <input [formControl]="queryField" autofocus (keyup.enter)="onKeyup($event)" type="text" class="keyword" placeholder="Search for campaigns by title, agency, brand, client..." />
      </div>
      <creative-thumbnail-view [layout]="layout" [documents]="documents" [showEmpty]="false" [tabIndex]="0"></creative-thumbnail-view>
    </div>
    <div class="clear"></div>
    <!-- <a href="javascript:;" (click)="goToSearch()" class="advanced_filters_trigger icon_btn">Filters +</a> -->
  </section>
  <div class="clear"></div>
</form>
