  <div class="text-content pure-text">
    <document-form [document]="document" [formMode]="formMode" [settings]="settings" [beforeSave]="beforeSave" [afterSave]="afterSave" [hasResetForm]="'true'" [showButton]="showStatus" (callback)="onCallback($event)"></document-form>
    <button *ngIf="!showStatus" nbButton outline class="btn btn-info btn-xs" status="info" (click)="goBack()">Back</button>
  </div>
  <document-creative-project-related-asset [document]="parentDocument" [listViewOptions]="listViewOptionsPackage" (onRowSelected)="onSelected($event)" [showButton]="showStatus"></document-creative-project-related-asset>
