<document-batch-operation [documentModel]="document" [settings]="formSettings" [beforeSaveValidation]="beforeSaveValidation" [beforeSave]="beforeSave" [afterSave]="afterSave" [afterFormSave]="afterFormSave" (callback)="onCallback($event)" [templateRef]="formTemplate"></document-batch-operation>
<ng-template #formTemplate let-form="form" let-group="group">
  <div class="colletion-form-template">
    <document-form-element [formModel]="'form'"></document-form-element>
    <document-form-element *ngIf="enableUpload" [group]="group" [formModel]="form.getFormModels('file:content')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
    <div class="ring-colletion-header">
      <div class="ring-colletion-share-form-model">
        <div class="ring-collection-brand">
          <document-form-element [group]="form.sharedGroup" [formModel]="form.getSharedFormModels('The_Loupe_Main:brand')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
        </div>
        <div class="ring-collection-agency">
          <document-form-element [group]="form.sharedGroup" [formModel]="form.getSharedFormModels('The_Loupe_Main:agency')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
        </div>
      </div>
    </div>
    <document-form-element [group]="group" [formModel]="form.getFormModels('selected-documents')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
    <document-form-element *ngIf="enableUpload" [group]="group" [formModel]="form.getFormModels('batchUpload')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
  </div>
</ng-template>
