<document-batch-operation [documentModel]="document" [settings]="formSettings" [beforeSaveValidation]="beforeSaveValidation" [beforeSave]="beforeSave" [afterSave]="afterSave" [afterFormSave]="afterFormSave" (callback)="onCallback($event)" [templateRef]="formTemplate"></document-batch-operation>
<ng-template #formTemplate let-form="form" let-group="group">
  <div class="ring-add-to-colletion-form-template">
    <document-form-element [formModel]="'form'"></document-form-element>
     <div class="row mx-0">
      <div class="col-lg-2 col-md-3 px-0">
        <document-form-element [group]="group" [formModel]="form.getFormModels('dc:title')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
      </div>
      <div class="col-lg-2 col-md-9">
      </div>
      <div class="col-lg-2 col-md-3 px-0 pr-1">
        <document-form-element [group]="group" [formModel]="form.getFormModels('The_Loupe_Main:agency')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
      </div>
      <div class="col-lg-2 col-md-3 px-0 pr-1">
        <document-form-element [group]="group" [formModel]="form.getFormModels('The_Loupe_Main:country')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
      </div>
      <div class="col-lg-2 col-md-3 px-0 pr-1">
        <document-form-element [group]="group" [formModel]="form.getFormModels('The_Loupe_Main:brand')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
      </div>
      <div class="col-lg-2 col-md-3 px-0">
        <document-form-element [group]="group" [formModel]="form.getFormModels('The_Loupe_Main:assettype')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
      </div>
    </div>
    <document-form-element [group]="group" [formModel]="form.getFormModels('selected-documents')" (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)" (customEvent)="form.onCustomEvent($event)"></document-form-element>
  </div>
</ng-template>
