.ring-colletion-header {
  width: 100%;
  height: 86px;
  margin-bottom: 10px;
}
.ring-colletion-form-model {
  width: 35%;
  min-width: 220px;
  float: left;
  .ring-collection-form-title {
    float: left;
    width: 100%;
  }
}
.ring-add-to-colletion-form-template {
  .ring-colletion-form-model {
    width: 18%;
  }
  .ring-collection-user {
    width: 77%;
  }
}
.ring-colletion-share-form-model {
  width: 100%;
  // min-width: 220px;
  float: left;
  .ring-collection-brand {
    float: left;
    width: 220px;
  }
  .ring-collection-agency {
    float: left;
    width: 225px;
    margin-left: 5px;
    margin-top: 10px;
  }
}
.add-box {
  height: 35px;
  text-align: center;
  width: 100%;
  background-color: #efefef;
  p {
    height: 35px;
    width: 40%;
    float: left;
    margin-left: 30%;
    font-weight: 700;
    line-height: 35px;
    font-size: 15px;
  }
  button {
    float: right;
    color: #ffffff;
    font-weight: 700;
    height: 35px;
    width: 100px;
    background-color: #f9da78;
    border-radius: 10px;
    border: none;
  }
}
.upload-box {
  padding: 10px 0;
}
.line {
  border-bottom: solid 2px #a1a1a1;
  margin: 8px 0;
}
.default-settings {
  font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
  width: 100%;
  height: 35px;
  background-color: #fecc00;
  font-weight: 600;
  padding: 7px 0 0 10px;
}
::ng-deep .ring-colletion-form-model label {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
}
::ng-deep .ring-colletion-form-model dynamic-ng-input {
  div {
    width: 200px;
  }
}
.ring-collection-user {
  width: 60%;
  min-width: 400px;
  float: right;
  .ring-collection-user-label {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    float: left;
    margin-right: 7px;
  }
  .ring-collection-user-agency {
    float: right;
    width: 180px;
  }
  .ring-collection-user-country, .ring-collection-default-brand, .ring-collection-default-asset-type {
    float: right;
    width: 180px;
    margin-left: 5px;
  }
}
::ng-deep creative-ring-collection-form .button-groups {
  padding: 0 !important;
}

::ng-deep creative-ring-collection-upload-form {
  .button-groups {
    padding: 0 !important;
  }
  .direction-horizontal {
    width: 215px !important;
  }
}

::ng-deep creative-ring-add-to-collection-form .button-groups {
  padding: 0 !important;
}
::ng-deep .ng-placeholder {
  font-size: 14px;
  letter-spacing: -1px;
  padding: 0;
}
