.ring-colletion-header {
    width: 100%;
    height: 80px;
}
.ring-colletion-title {
    width: 15%;
    min-width: 200px;
    float: left;
}
.ring-collection-agency-country {
    width: 15%;
    min-width: 200px;
    float: right;
}
