.default-layout {
  padding: 0 10px;
}
.layout-left,
.layout-right {
  width: 50%;
}
.layout-left-shared {
  max-width: 220px;
}
.layout-left-accordion,
.layout-right-accordion {
  width: 51%;
  padding: 0 10px;
}
.layout-right {
  padding-top: 30px;
}
.right-layout-widely {
  width: 80%;
  max-width: calc(100% - 220px);
  margin-left: 0!important;
  float: right!important;
}
::ng-deep .gcl-theme-default .horizontal-input {
  font-size: 15.5px;
}

::ng-deep .required ~ div .is-empty {
    background: #e9a1a3 !important;
    color: #000000 !important;
    font-weight: 600;
    .mat-chip-list-wrapper input {
      background: #e9a1a3 !important;
      color: #000000 !important;
      font-weight: 600;
    }
}
::ng-deep .required ~ div {
  ng-select.is-empty .ng-select-container {
      background: #e9a1a3 !important;
      color: #000000 !important;
      padding-left: 5px;
      font-weight: 600;
  }
}
// ::ng-deep .is-empty {
//   background: #e9a1a3 !important;
// }
// ::ng-deep .is-empty .mat-chip-list-wrapper input {
//   background: #e9a1a3 !important;
// }
// ::ng-deep ng-select.is-empty > .ng-select-container {
//  background: #e9a1a3 !important;
// }
// ::ng-deep .text-not-required {
//  background: #ffffff !important;
// }
// ::ng-deep .text-not-required .mat-chip-list-wrapper input {
//   background: #ffffff !important;
// }
// ::ng-deep ng-select.text-not-required > .ng-select-container {
//  background: #ffffff !important;
// }
// ::ng-deep .mat-chip-list-wrapper > input {
//   font-weight: 600;
// }
// ::ng-deep .ng-pristine > input {
//   font-weight: 600;
// }
dynamic-ng-form-control {
  padding: 0;
  // margin-bottom: 10px;
  display: block;
  width: 100%;
  flex: none;
  max-width: none;
  .document-form {
    float: none;
    width: 100%;
  }
  .document-form + div {
    display: none;
    float: none;
  }
}
