<div class="form-button-group" [nbSpinner]="isButtonDisabled()" nbSpinnerStatus="disabled">
  <button type="button" (click)="fetchSite()" class="icon_btn" title="Fetch Site">Fetch Site</button>
  <textarea #url autofocus="true" autocomplete="off" rows="10" cols="50" placeholder="Please enter the url">https://www.ifanr.com/1371214</textarea>
</div>
<backslash-plugin-trigger-form [documentModel]="document" [settings]="triggerFormSettings"></backslash-plugin-trigger-form>
<!-- <backslash-plugin-user-preference-form [documentModel]="userDocument" [settings]="userFormSettings"></backslash-plugin-user-preference-form> -->
