<div class="backslash-trigger">
  <div class="form-button-group">
    <button type="button" class="icon_btn" title="Fetch Site" [disabled]="!inputUrl" (click)="fetchSite()">Fetch Site</button>
  </div>
  <div class="form-site-link">
    <textarea #url autocomplete="off" rows="3" cols="80" placeholder="Please enter the url" [ngModel]="inputUrl" (ngModelChange)="urlChanged($event)"></textarea>
  </div>
  <div *ngIf="noImages" class="error-message">
    <p>We’re sorry but the site does not allow us to fetch any content. Please create the trigger manually.</p>
  </div>
  <div class="backslash-trigger-form" [nbSpinner]="isFormDisabled()" nbSpinnerStatus="disabled">
    <backslash-plugin-trigger-form [documentModel]="document" [settings]="formSettings" (callback)="onCallback($event)">
      <div class="custom-button">
        <button nbButton class="'btn btn-info btn-xs" status="info" [disabled]="!hasDraft" (click)="onDiscardDraft()">DISCARD DRAFT</button>
      </div>
    </backslash-plugin-trigger-form>
  </div>
</div>
