.backslash-trigger {
  padding: 10px 15px 0;
}
.form-site-link {
  padding: 0 0 10px 10px;
  textarea {
    width: 40%;
    max-width: 500px;
  }
}
.form-button-group {
  float: left;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-right: 20px;
  button {
    font-family: Averta for TBWA W01 Semibold, helvetica, arial;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 13px;
    font-size: 18px;
    background-color: #40dc7e;
    color: #fff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    border-radius: 0.375rem;
  }
}
.custom-button {
  float: left;
  button {
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    font-size: 0.75rem;
    line-height: 1.25;
    border: 2px solid transparent;
  }
}
::ng-deep .backslash-trigger-form nb-tabset {
  .tabset {
    width: 100% !important;
  }
}
::ng-deep .backslash-trigger-form dynamic-ng-form {
  .layout-right {
    padding-top: 0 !important;
  }
  
}
::ng-deep .backslash-trigger-form gallery-upload {
  .gallery-list {
    width: calc(100% - 110px) !important;
    height: 40% !important;
    .drag-scroll-content {
      width: 100% !important;
    }
    .list-item {
      width: 26% !important;
      margin-right: 15px !important;
      padding: 5px;
      img {
        width: 95% !important;
        height: 95% !important;
      }
    }
    .item-selected {
      height: 90% !important;
      padding: 0;
    }
  }
}
