.thumbnail-view-item {
  // box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  // transition: 0.4s;
  position: relative;
  &.item-selected {
    outline: solid 5px #fecc26;
  }
  &.half-size {
  	width: calc( 16.6% - 34px);
  	margin:15px;
  }
}
.enableSelectable:hover {
  outline: solid 5px #fecc26;
}
