<creative-ring-info-view [loading]="loading" [document]="document"></creative-ring-info-view>
<creative-ring-folder-info [loading]="loading" [document]="document"></creative-ring-folder-info>
<global-search-form [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
  <ng-container class="group-left">
    <div class="global-search-form-buttons d-flex" *ngIf="addChildrenPermission$ | async">
    </div>
  </ng-container>
</global-search-form>
<creative-ring-collection-folder-asset-search-result></creative-ring-collection-folder-asset-search-result>