<div class="creative-project-asset-deliverable">
  <div class="page-title">IMPORT</div>
  <button (click)="changeAssetType('Image')">Upload Image</button>
  <button (click)="changeAssetType('Video')">Upload Video</button>
  <button (click)="changeAssetType('Audio')">Upload Audio</button>

  <div class='document' [ngSwitch]="getAssetType()">
    <creative-project-asset-import-image *ngSwitchCase="'Image'" [document]="document">
    </creative-project-asset-import-image>
    <creative-project-asset-import-video *ngSwitchCase="'Video'" [document]="document">
    </creative-project-asset-import-video>
    <creative-project-asset-import-audio *ngSwitchCase="'Audio'" [document]="document">
    </creative-project-asset-import-audio>
  </div>

</div>