.search-results {
  span {
    float: right;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clear {
    clear: both;
  }

  > h1,
  .list_view_trigger,
  .grid_view_trigger {
    height: 46px;
    line-height: 46px;
    margin-top: 32px;
  }

  > h1 {
    font-family: 'Averta for TBWA W01 Black', helvetica, arial;
    margin-left: 38px;
  }

  .icon_btn {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 13px 0 45px;
    font-size: 18px;
    color: #000000;
    border: solid 1px #e1e1e1;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &.btn-disabled {
      background-color: #eeeeee !important;
      color: #cccccc;

      &:hover,
      &:focus {
        color: #cccccc;
        text-decoration: none;
      }
    }

    &.btn-active {
      background-color: #40dc7e !important;
      color: #ffffff;

      &:hover,
      &:focus {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

  .list_view_trigger {
    margin-right: 38px;
    background: url('/assets/images/list_icon.png') no-repeat 13px center;

    &.btn-active {
      background: url('/assets/images/list_icon_active.png') no-repeat 13px center;
      cursor: auto;
    }

    &.btn-disabled {
      background: url('/assets/images/list_icon_disabled.png') no-repeat 13px center;
      cursor: auto;
    }
  }

  .grid_view_trigger {
    margin-right: 12px;
    background: url('/assets/images/grid_icon.png') no-repeat 13px center;

    &.btn-active {
      background: url('/assets/images/grid_icon_active.png') no-repeat 13px center;
      cursor: auto;
    }

    &.btn-disabled {
      background: url('/assets/images/grid_icon_disabled.png') no-repeat 13px center;
      cursor: auto;
    }
  }
}

.search-pagination {
  width: calc(100% - 76px);
  margin: 0 auto;
}
