<div>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header>Credits</nb-accordion-item-header>
      <nb-accordion-item-body>
        document.Credits
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>Press Kit</nb-accordion-item-header>
      <nb-accordion-item-body>
        document press kit
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header>Data & A</nb-accordion-item-header>
      <nb-accordion-item-body>
        document. data
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
