<h1>Additional Project Info</h1>
<nb-accordion class="accordion">
  <nb-accordion-item class="accordion-item">
    <nb-accordion-item-header class="accordion-item-header"><span>Credits</span></nb-accordion-item-header>
    <nb-accordion-item-body class="accordion-item-body">
      <table>
        <tbody>
          <tr>
            <th>Account Director:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:accountDirector')}}</td>
          </tr>
          <tr>
            <th>Creative Director:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:creativeDirector')}}</td>
          </tr>
          <tr>
            <th>Art Director:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:artProducer')}}</td>
          </tr>
          <tr>
            <th>Copy Writer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:copyWriter')}}</td>
          </tr>
          <tr>
            <th>Broadcast Producer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:broadcastProducer')}}</td>
          </tr>
          <tr>
            <th>Print Producer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:printProducer')}}</td>
          </tr>
          <tr>
            <th>Digital Producer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:digitalProducer')}}</td>
          </tr>
          <tr>
            <th>Project Manager:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{document.get('The_Loupe_Credits:projectManager')}}</td>
          </tr>
        </tbody>
      </table>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
