.dialog-title {
  background-color: #ffffff;
  h1 {
    font-size: calc(27px * 1.25);
    color: #000000;
    font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
  }
}
.text-content {
  margin-top: 25px;
  margin-left: 80px;
  .text-controls {
    width: 55%;
    padding-right: 8px;
    h4 {
      margin-left: 0;
      font-family: 'Averta for TBWA W01 Black', helvetica, arial;
      font-size: 18px;
    }
    .showcase-area {
      p {
        width: 100%;
        word-wrap: break-word;
        font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
        margin: 0 !important;
        padding: 0 0 5px 16px;
        font-size: 15px;
        line-height: 30px;
      }
      li {
        line-height: 28px;
      }
    }
  }
  .photo {
    margin-top: 36px;
    width: 42%;
    margin-left: 30px;
  }
}
.show-url {
  text-align: center;
  padding: 20px 0 35px;
  a {
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  button {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    font-size: 18px;
    background: #e1e1e1;
    color: #000000;
    border: solid 1px #e1e1e1;
    cursor: pointer;
  }
}
