@import '../../../theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../core/nebular/theme/styles/global/breakpoints';

.icon_btn {
  &.new_day { padding-left: 13px; }
}
preview-dialog {
  display: block;
  // width: 190vh;
  border-radius: 10px;
  background: #ffffff;
}
