<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [defaultParams]="defaultParams">
  <button type="button" (click)="openForm(dialog)" class="icon_btn new_day" [ngClass]="{'btn-disabled': !parentDocument }" [disabled]="!parentDocument" title="New Day">New Day</button>
</global-search-form>
<disruption-days-asset-search-result></disruption-days-asset-search-result>

<ng-template #dialog>
  <preview-dialog>
    <disruption-form-body>
      <preview-dialog-alert></preview-dialog-alert>
    </disruption-form-body>
  </preview-dialog>
</ng-template>
