@import '../../../theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../core/nebular/theme/styles/global/breakpoints';

nb-route-tabset {
  display: block;
  margin: 20px 0;
  padding: 0 60px;
  box-sizing: border-box;
}
.icon_btn {
  &.new_day {
    padding-left: 13px;
  }
}

preview-dialog {
  display: block;
  // width: 190vh;
  border-radius: 10px;
  background: #ffffff;
}
