<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [defaultParams]="defaultParams">
  <button type="button" (click)="openForm(dialog)" class="icon_btn new_day" [ngClass]="{'btn-disabled': !parentDocument }" [disabled]="!parentDocument" title="New Asset">New Asset</button>
</global-search-form>
<disruption-roadmaps-asset-search-result></disruption-roadmaps-asset-search-result>

<ng-template #dialog>
  <preview-dialog>
    <disruption-form-brilliant-thinking-body></disruption-form-brilliant-thinking-body>
  </preview-dialog>
</ng-template>
