@import '../../../core/nebular/theme/styles/global/breakpoints';

.button-groups {
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0 10px;
  float: left;
  .btn {
    margin-right: 10px;
    float: left;
  }
}

.upload-message {
  display: inline;
  font-size: 18px;
}

.submitted-message {
  @include media-breakpoint-down(lg) { //992px
    width: 840px;
  }
  @include media-breakpoint-between(lg, xxl) { //992px - 1400px
    width: 940px;
  }
  @include media-breakpoint-up(xxl) { //1400px
    width: 1000px;
  }
  min-width: 800px;
  background-color: #a8d8a8;
  bottom: 0;
  width: 100%;
  height: 75px;
  margin-left: -20px;
  margin-bottom: 25px;
  font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
  text-align: center;
  font-size: 23px;
  display: block;
}

::ng-deep .middle-dialog-container {
  .submitted-message {
    @include media-breakpoint-down(lg) { //992px
      width: 920px !important;
    }
    @include media-breakpoint-between(lg, xxl) { //992px - 1400px
      width: 990px !important;
    }
    @include media-breakpoint-up(xxl) { //1400px
      width: 1300px !important;
    }
  }
}

::ng-deep .wide-dialog-container {
  .submitted-message {
    @include media-breakpoint-down(lg) { //1199
      width: 940px !important;
    }
    @include media-breakpoint-between(lg, xxl) { //992px - 1599px
      width: 1200px !important;
    }
    @include media-breakpoint-up(xxl) { //1400px
      width: 1700px !important;
    }
  }
}

.btn-margin-bottom {
  margin-bottom: 75px;
}

p {
  margin-bottom: 0;
}
