<section class="filter-wrapper">
  <h1>Discover and find inspiring TBWA work</h1>
  <h4>Over hundreds of curated work created by the TBWA network, all in one place.</h4>
  <div (clickOutside)="hide()" (click)="show()" style="display:inline-block;">
    <div class="keyword-wrapper">
      <input [formControl]="queryField" autofocus (keyup.enter)="onKeyup($event)" type="text" class="keyword"
        placeholder="Search for campaigns by title, agency, brand, client..." />
    </div>
    <tbwa-thumbnail-view [layout]="layout" [documents]="documents" [tabIndex]="0"></tbwa-thumbnail-view>
  </div>
</section>
<div class="clear"></div>
