<div class="list-search-form">
  <form class="global-search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
    <div class="search-filters left">
      <ng-content select=".group-left"></ng-content>
    </div>

    <div class="button-groups left">
      <ng-content select=".group-right"></ng-content>
    </div>

    <div [ngClass]="['search-group', searchFormSettings.searchGroupPosition, 'right']">
      <ng-container *ngIf="hasFilters()">
        <div [ngClass]="['search-filters', 'global-search-filters', searchFormSettings.searchGroupPosition]">
          <button type="button" (click)="toggleFilter()" class="advanced-filters-trigger icon_btn" [ngClass]="{'success': showFilter, 'btn-disabled': !hasAggs}" [disabled]="!hasAggs" title="Filter">Filter</button>
        </div>
      </ng-container>
    </div>

    <div class="clear"></div>

    <div [ngClass]="['search-group', searchFormSettings.searchGroupPosition, 'search-box']">
      <ng-container *ngIf="searchFormSettings.enableSearchInput">
        <div [ngClass]="['search-input', 'global-search-input', searchFormSettings.searchGroupPosition, 'search-box']">
          <input class="form-control left" [autofocus]='searchFormSettings.autofocus' formControlName="ecm_fulltext" [placeholder]="searchFormSettings.placeholder" (keyup)="onKeyup($event)" [ngClass]="{'with-filters': hasFilters()}" />
        </div>
      </ng-container>
    </div>

    <div class="clear"></div>

    <ng-container *ngIf="hasFilters() && showFilter">
      <global-search-filter formControlName="aggregates" [filterSettings]="filters" [searchResponse]="searchResponse$ | async" [disableControl]="submitted" (selected)="onFilterSelected($event)"></global-search-filter>
    </ng-container>
  </form>
</div>
<div class="list-search-result">
  <document-list-view [loading]="loading" [settings]="listViewOptions" [documents]="documents" (onRowSelect)="onRowSelect($event)"></document-list-view>
</div>
