@import '../../../core/nebular/theme/styles/global/breakpoints';
@import '../global-search-result/thumbnail-view.scss';

$main-yellow: #fecc00;

.clear { clear: both; }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
