<div class="dialog-title text-center">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <ng-container *ngIf="document">
    <div class="media">
      <document-viewer [document]="document" [settings]="viewerSettings"></document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text-content" style="padding-top: 0;">
      <div class="controls row">
        <div class="col-6">
          <h3 class="left"><b>{{ document.title }}</b></h3>
          <div class="clear"></div>
          <h4 class="left">{{ document.get('The_Loupe_Main:brand') }}</h4>
        </div>
        <div class="col-6">
          <a href="{{document.filePath}}" (click)="googleAnalyticsTrackLink(document, 'Download', 'File')" class="right" title="Download"><button class="inline-middle download right" type="submit">Download</button></a>
          <ng-container *ngIf="getDialogSettings().enablePreview">
            <a href="{{document.previewUrl}}" title="Preview" target="_blank" (click)="googleAnalyticsTrackLink(document, 'Preview')"><button class="right preview">Preview</button></a>
          </ng-container>
          <button class="share right" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
          <ng-container *ngIf="getDialogSettings().enableDetail">
            <a href="{{shareUrl}}" (click)="close()"><button class="inline-middle details right">Details</button></a>
          </ng-container>
          <ng-container *ngIf="deletePermission$ | async">
            <button class="right edit delete" (click)="selectView('document-deletion')">Delete</button>
          </ng-container>
          <ng-container *ngIf="writePermission$ | async">
            <button class="right edit" (click)="selectView(getDialogFormTemplateName(document))">Edit</button>
          </ng-container>
          <document-new-poster-button class="inline-middle poster right" [document]="document" [enable]="enableThumbnailCreation"></document-new-poster-button>
        </div>
        <div class="clear"></div>
      </div>
      <ng-container *ngIf="getDialogSettings().moreInfo">
        <table>
          <tbody>
            <tr>
              <th>Descriptions</th>
              <th>Asset Type</th>
            </tr>
            <tr>
              <td>{{ document.get('dc:description') }}</td>
              <td>{{ document.get('The_Loupe_Main:assettype') }}</td>
            </tr>
            <tr>
              <th>Industry</th>
              <th>Geography</th>
            </tr>
            <tr>
              <td>{{ document.get('app_Edges:industry') }}</td>
              <td>{{ vocabularyFormatter(document.get('app_Edges:Relevant_Country')) }}</td>
            </tr>
            <tr>
              <th>Author</th>
              <th>Published</th>
            </tr>
            <tr>
              <td>{{ document.get('The_Loupe_Main:created_by') }}</td>
              <td>{{ document.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</td>
            </tr>
            <tr>
              <th>Backslash Category</th>
              <th>Agency</th>
            </tr>
            <tr>
              <td>{{ document.get('app_Edges:backslash_category').join(', ') }}</td>
              <td>{{ document.get('The_Loupe_Main:agency') }}</td>
            </tr>
            <tr>
              <th>Edge</th>
              <th>Brand</th>
            </tr>
            <tr>
              <td>{{ document.get('app_Edges:Tags_edges') }}</td>
              <td>{{ document.get('The_Loupe_Main:brand') }}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <div>
        <p class="description"><b>{{ document.get('dc:description') }}</b></p><br><br>
      </div>
      <ng-container *ngIf="getDialogSettings().enableThumbnailImg">
        <div class="left thumbnail-img">
          <img style="width: 300px; margin: 0 0 10px 0;" [src]="document.thumbnailUrl">
        </div>
      </ng-container>
      <ng-container *ngIf="attachments && attachments.length !== 0">
        <div class="right attachment-right">
          <table>
            <thead>
              <td class="download">Download</td>
            </thead>
            <tbody>
              <tr *ngFor="let attachment of attachments">
                <td><a href="{{ attachment.url }}" (click)="googleAnalyticsTrackLink(document, 'Download', 'Attachment', attachment.title)" class="download-btn">{{ attachment.title }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
    <section class="related" *ngIf="getDialogSettings().enableKnowledgeRelated">
      <knowledge-related-info [hideTab]="'Creative'" [document]="document"></knowledge-related-info>
    </section>
  </ng-container>
</div>

<ng-template #popContent>
  <document-share-button [document]="document" [shareUrl]="shareUrl"></document-share-button>
</ng-template>
