<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="isDisruptionAsset()">
    <div>{{ document.title }}</div>
    <div>{{ document.get('The_Loupe_Main:brand') }}</div>
    <h4>Descriptions</h4>
    <div>{{ document.get('The_Loupe_Main:description') }}</div>
    <h4>Asset Type</h4>
    <div>{{ document.get('app_Edges:disruption_type') }}</div>
    <h4>Industry</h4>
    <div>{{ document.get('app_Edges:industry') }}</div>
    <h4>Geography</h4>
    <div>{{ parseCountry(document.get('The_Loupe_Main:country')) }}</div>
    <h4>Author</h4>
    <div>{{ document.get('dc:creator') }}</div>
    <h4>Pubilished</h4>
    <div>{{ document.get('The_Loupe_ProdCredits:production_date') | date }}</div>
    <h4>Edge Category</h4>
    <div>{{ document.get('app_Edges:backslash_category') }}</div>
    <h4>Edge</h4>
    <div>{{ document.get('app_Edges:Tags_edges') }}</div>
  </ng-container>
  <ng-container *ngSwitchCase="isCreativeAsset()">
    <h1>Unboxing</h1>
    <h2>{{document.title}}</h2>
    <h4>About</h4>
    <p>{{document.get('dc:description')}}</p>
    <table>
      <tbody>
        <tr>
          <th>Asset Type</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>{{document.get('The_Loupe_Main:assettype')}}</td>
          <td>{{parseCountry(document.get('The_Loupe_Main:country'))}}</td>
        </tr>
        <tr>
          <th>Agency</th>
          <th>Brand</th>
        </tr>
        <tr>
          <td>{{document.get('The_Loupe_Main:agency')}}</td>
          <td>{{document.get('The_Loupe_Main:brand')}}</td>
        </tr>
      </tbody>
    </table>
    <nb-accordion class="accordion">
      <nb-accordion-item class="accordion-item" (click)="toggleJob()">
        <nb-accordion-item-header class="accordion-item-header"><span>Job</span></nb-accordion-item-header>
        <nb-accordion-item-body class="accordion-item-body" [nbSpinner]="jobLoading" nbSpinnerStatus="disabled">
          <table>
            <tbody>
              <tr>
                <td>{{jobTitle}}</td>
              </tr>
            </tbody>
          </table>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item [collapsed]="false" class="accordion-item">
        <nb-accordion-item-header class="accordion-item-header">Usage Rights</nb-accordion-item-header>
        <nb-accordion-item-body class="accordion-item-body" [nbSpinner]="usageLoading" nbSpinnerStatus="disabled">
          <ng-container *ngIf="usageRights.error_messages && usageRights.error_messages.length > 0 ; then errorInfo else stateInfo"></ng-container>
          <ng-template #stateInfo>
            <ul class="state">
              <li>
                <h4>Expires in</h4>
                <span>{{usageRights.days_left}} days</span>
              </li>
              <li>
                <h4>Expires on</h4>
                <span>{{usageRights.end_date ? (usageRights.end_date | date) : 'N/A'}}</span>
              </li>
            </ul>
          </ng-template>
          <ng-template #errorInfo>
            <ul class="state error">
              <li>
                <h4>Errors</h4>
                <span>{{usageRights.error_messages}}</span>
              </li>
            </ul>
          </ng-template>
          <div class="clear"></div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <a *ngIf="document.get('file:content')" href="{{document.get('file:content').data}}" class="download right" title="Download">Download</a>
  </ng-container>
</ng-container>
