<ng-container [ngSwitch]="docType">
  <ng-container *ngSwitchCase="'Creative'">
    <h1>Additional Project Info</h1>
    <nb-accordion class="accordion">
      <nb-accordion-item class="accordion-item">
        <nb-accordion-item-header class="accordion-item-header"><span>Credits</span></nb-accordion-item-header>
        <nb-accordion-item-body class="accordion-item-body">
          <table>
            <tbody>
              <tr>
                <th>Account Director:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:accountDirector')}}</td>
              </tr>
              <tr>
                <th>Creative Director:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:creativeDirector')}}</td>
              </tr>
              <tr>
                <th>Art Director:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:artProducer')}}</td>
              </tr>
              <tr>
                <th>Copy Writer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:copyWriter')}}</td>
              </tr>
              <tr>
                <th>Broadcast Producer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:broadcastProducer')}}</td>
              </tr>
              <tr>
                <th>Print Producer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:printProducer')}}</td>
              </tr>
              <tr>
                <th>Digital Producer:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:digitalProducer')}}</td>
              </tr>
              <tr>
                <th>Project Manager:&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>{{documentModel.get('The_Loupe_Credits:projectManager')}}</td>
              </tr>
            </tbody>
          </table>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </ng-container>
  <ng-container *ngSwitchCase="'Disruption'">
    <nb-accordion class="accordion">
      <nb-accordion-item class="accordion-item">
        <nb-accordion-item-header class="accordion-item-header"><span>Additional Attachments</span></nb-accordion-item-header>
        <nb-accordion-item-body class="accordion-item-body">
          <table>
            <tbody *ngFor="let attachment of attachments">
              <tr>
                <th>{{ attachment.title }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td><a href="{{ attachment.url }}">Download</a></td>
              </tr>
            </tbody>
          </table>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </ng-container>
  <ng-container *ngSwitchCase="'Business-Development'">
    <nb-accordion class="accordion">
      <nb-accordion-item class="accordion-item">
        <nb-accordion-item-header class="accordion-item-header"><span>Additional Attachments</span></nb-accordion-item-header>
        <nb-accordion-item-body class="accordion-item-body">
          <ng-container *ngIf="isNeedSendDownloadRequest(documentModel)">
            <div class="asset-download-request"><a href="javascript:void(0)" (click)="openDialog(dialog)" class="download btn">Download Request</a></div>
          </ng-container>
          <ng-container *ngIf="downloadPermission$ | async">
            <table>
              <tbody *ngFor="let attachment of attachments">
                <tr>
                  <th>{{ attachment.title }}&nbsp;&nbsp;&nbsp;&nbsp;</th>
                  <td><a href="{{ attachment.url }}">Download</a></td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <ng-template #dialog>
      <global-document-dialog [type]="'custom'" [customComponent]="customComponent" [documentModel]="documentModel" [title]="'Download Request'"></global-document-dialog>
    </ng-template>
  </ng-container>
</ng-container>
