<nb-card class="nb-card">
  <nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
  <tbwa-global-search-form [filters]="filters" [baseParams]="defaultParams">
    <button (click)="openForm(dialog)" class="new_day icon_btn" [ngClass]="{'btn-disabled': !parentDocument }" [disabled]="!parentDocument" title="New Day">New Day</button>
  </tbwa-global-search-form>
  <tbwa-disruption-roadmaps-asset-search-result></tbwa-disruption-roadmaps-asset-search-result>
</nb-card>
<ng-template #dialog>
  <tbwa-preview-dialog>
    <tbwa-disruption-form-body></tbwa-disruption-form-body>
  </tbwa-preview-dialog>
</ng-template>
