@import '../../../../theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../../../core/nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

div {
  padding: 0;
  margin: 0;
}
nb-card {
  // @include media-breakpoint-down(lg) { //992px
  //   width: 700px;
  // }
  // @include media-breakpoint-between(lg, xxl) { //992px - 1400px
  //   width: 850px;
  // }
  // @include media-breakpoint-up(xxl) { //1400px
  //   width: 1366px;
  // }
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}
nb-route-tabset { margin: 20px 0; }
