<div class="dialog-title text-center">
  <a (click)="close()" class="left" title="Close"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged && mainViewChanged.changed" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <div class="text-content pure-text">Are you sure you want to delete this document?</div>
  <div class="action-content text-right">
    <button (click)="delete()" class="btn btn-success">Yes</button>
    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
  </div>
</div>
