<div class="dialog_body">
  <div class="dialog_title text-center">
    <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
    <h1>{{title}}</h1>
    <div class="clear"></div>
  </div>
  <ng-container *ngIf="document">
    <div class="media">
      <document-viewer [document]="document" [storyboard]="storyboard" [layout]="dialogLayout"></document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text_content">
      <div class="controls">
        <h2 class="left">{{ document.get('The_Loupe_Main:brand')}}</h2>
        <button class="share right">Share</button>
        <a href="{{document.filePath}}" class="right"><button class="inline-middle download" type="submit">Download</button></a>
        <ng-container *ngIf="writePermission$ | async">
          <button class="right edit" (click)="closeInfo()">Edit</button>
        </ng-container>
        <div class="clear"></div>
      </div>
      <ng-container *ngIf="moreInfo">
        <p>
          Title: {{ document.title }}<br>
          Brand: {{ document.get('The_Loupe_Main:brand') }}<br>
          Description: {{ document.get('The_Loupe_Main:description') }}<br>
          Type: {{ document.get('app_Edges:disruption_type') }}<br>
          Industry: {{ document.get('app_Edges:industry') }}<br>
          Geography: {{ parseCountry(document.get('app_Edges:Relevant_Country')) }}<br>
          Author: {{ document.get('The_Loupe_Main:created_by').join(', ') }}<br>
          Published: {{ document.get('The_Loupe_ProdCredits:production_date') | date }}<br>
          Edge Cotegory: {{ document.get('app_Edges:backslash_category').join(', ') }}<br>
          Edge: {{ document.get('app_Edges:Tags_edges') }}
        </p>
      </ng-container>
    </div>
  </ng-container>
</div>
