<div class="dialog_body">
  <div class="dialog_title text-center">
    <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
    <h1>{{title}}</h1>
    <div class="clear"></div>
  </div>
  <ng-container *ngIf="document">
    <div class="media">
      <tbwa-document-viewer [document]="document" [storyboard]="storyboard" [imageAsViewer]="imageAsViewer" [layout]="dialogLayout"></tbwa-document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text_content">
      <div class="controls">
        <h2 class="left">{{ document.get('The_Loupe_Main:brand')}}</h2>
        <button class="share right">Share</button>
        <a href="{{document.filePath}}" class="right"><button class="inline-middle download" type="submit">Download</button></a>
        <div class="clear"></div>
      </div>
      <p> </p>
    </div>
  </ng-container>
</div>
