<div class="knowledge-home-form">
  <knowledge-search-form [headline]="headline" [subHead]="subHead" [redirectUrl]="'/p/search/knowledge/asset/'" [settings]="searchFormSettings" [filters]="filters" [searchParams]="defaultParams">
  </knowledge-search-form>
</div>
<div class="knowledge-module">
  <h3 class="title">Explore by Category</h3>
  <div class="card-deck">
      <div class="card mb-5">
        <a [routerLink]="['/p/disruption/home']">
          <div class="card-body">
            <h4 class="card-title">Disruption</h4>
            <p class="card-text">Find the who, what, where, when, why and how of our process.</p>
          </div>
        </a>
      </div>
      <div class="card mb-5">
        <a [routerLink]="['/p/intelligence/home']">
          <div class="card-body">
            <h4 class="card-title">Intelligence</h4>
            <p class="card-text">All brains on deck. Before we disrupt, we do our homework.</p>
          </div>
        </a>
      </div>
      <div class="card mb-5">
        <a [routerLink]="['/p/backslash/home']">
          <div class="card-body">
            <h4 class="card-title">Backslash</h4>
            <p class="card-text">Locating Brands in culture.</p>
          </div>
        </a>
      </div>
  </div>

  <div class="card-deck">
    <div class="card mb-5">
      <a [routerLink]="['/p/business-development/home']">
        <div class="card-body">
          <h4 class="card-title">Business Development</h4>
          <p class="card-text">Find everything you need to grow our business!</p>
        </div>
      </a>
    </div>
    <div class="card mb-5">
      <a [routerLink]="['/p/innovation/home']">
        <div class="card-body">
          <h4 class="card-title">Innovation</h4>
          <p class="card-text">Driving progress and change across our collective</p>
        </div>
      </a>
    </div>
    <div class="card mb-5">
      <a [routerLink]="['/p/creative/home']">
        <div class="card-body">
          <h4 class="card-title">Creative</h4>
          <p class="card-text">Our most disruptive work is all right here.</p>
        </div>
      </a>
    </div>
  </div>
</div>
