<div class="landing">
  <div class="banner">TBWA\</div>
  <div class="content">
    <div>
      <h1>Welcome to the know\<font>edge</font> portal.</h1>
      <h4>Find insights, inspiration and creative work from around our collective.</h4>
      <ul class="nav">
        <li>
          <a [routerLink]="['/p/creative']" class="creative">
            <h4>Creative Library</h4>
            <p>Check out work <br> from around <br> the world</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/p/disruption']" class="disruption">
            <h4>Disruption</h4>
            <p>See the <br> conventions <br> we've broken</p>
          </a>
        </li>
        <li>
          <a href="{{backslashUrl}}" target="_blank" class="backslash">
            <h4>Backslash</h4>
            <p>Get our take on<br> cultral trends</p>
          </a>
        </li>
        <li>
          <a [routerLink]="['/p/intelligence']" class="intelligence">
            <h4>Intelligence</h4>
            <p>Dig through our <br> treasure chest <br> of data</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
