<div class="knowledge-home-form">
  <knowledge-search-form [headline]="headline" [subHead]="subHead" [redirectUrl]="'/p/search/knowledge/asset/'" [settings]="searchFormSettings" [filters]="filters" [searchParams]="defaultParams">
  </knowledge-search-form>
</div>
<div class="knowledge-module">
  <span class="title">Explore by Category</span>
  <div class="knowledge-module-list">
    <ul>
      <li>
        <div class="module-info">
          <div class="module-title"><a [routerLink]="['/p/disruption/home']">Disruption</a></div>
          <div class="module-description">Find the who, what, where, when, whay and how of our process</div>
        </div>
      </li>
    </ul>
  </div>
</div>
