<creative-ring-info-view [loading]="loading" [document]="document"></creative-ring-info-view>
<div class="creative-ring-collection" [nbSpinner]="loading" nbSpinnerStatus="disabled">
  <ng-container *ngIf="isViewEnabled('myCollectionsView')">
    <div [ngStyle]="currentView === 'myCollectionsView' ? {} : {'display': 'none'}">
      <global-search-form [filters]="filters" [searchParams]="baseParams$ | async" [settings]="searchFormSettings" (onLoading)="onLoading($event)">
        <ng-container class="group-left">
          <div class="global-search-form-buttons">
            <button type="button" (click)="selectView('myCollectionsView')" class="icon_btn roadmap-btn" title="My Collections">My Collections</button>
            <button type="button" (click)="selectView('allCollectionsView')" class="icon_btn roadmap-btn" title="All Collections">All Collections</button>
          </div>
        </ng-container>
        <ng-container class="group-right">
          <div class="global-search-form-buttons">
            <creative-ring-form-button [parent]="document" [type]="'image'" [title]="'New Collection'"></creative-ring-form-button>
          </div>
        </ng-container>
      </global-search-form>
      <creative-ring-my-collections-search-result [enableScrolling]="enableScrolling['myCollectionsView']"></creative-ring-my-collections-search-result>
    </div>
  </ng-container>

  <ng-container *ngIf="isViewEnabled('allCollectionsView')">
    <div [ngStyle]="currentView === 'allCollectionsView' ? {} : {'display': 'none'}">
      <global-search-form [filters]="filters" [searchParams]="featuredParams" [settings]="featuredSearchFormSettings" (onLoading)="onLoading($event)">
        <ng-container class="group-left">
          <div class="global-search-form-buttons">
            <button type="button" (click)="selectView('myCollectionsView')" class="icon_btn roadmap-btn" title="My Collections">My Collections</button>
            <button type="button" (click)="selectView('allCollectionsView')" class="icon_btn roadmap-btn" title="All Collections">All Collections</button>
          </div>
        </ng-container>
        <ng-container class="group-right">
          <div class="global-search-form-buttons">
            <creative-ring-form-button [parent]="document" [type]="'image'" [title]="'New Collection'"></creative-ring-form-button>
          </div>
        </ng-container>
      </global-search-form>
      <creative-ring-all-collections-search-result [enableScrolling]="enableScrolling['allCollectionsView']"></creative-ring-all-collections-search-result>
    </div>
  </ng-container>

</div>
