
<div class="creative-project-asset-deliverable">
  <div class="page-content">
       <div class="text-content">
          <h3 class="left"><b>{{ documentModel.title }}</b></h3>
          <div class="clear"></div>
          <h4 class="left">{{ documentModel.get('The_Loupe_Main:brand') }}</h4>
      </div>
    <nb-tabset>
      <nb-tab tabTitle="Info">
         <creative-asset-template-tab-info [document]="documentModel"></creative-asset-template-tab-info>
      </nb-tab>
      <nb-tab tabTitle="Usage Rights">
        <creative-asset-template-tab-usage-rights [document]="documentModel"></creative-asset-template-tab-usage-rights>
      </nb-tab>
      <nb-tab tabTitle="Asset Requests">
      </nb-tab>
    </nb-tabset>
  </div>
</div>
