<ng-select
  [items]="options$ | async"
  [closeOnSelect]="configs.closeOnSelect"
  [placeholder]="configs.placeholder"
  [selectOnTab]="true"
  [multiple]="true"
  [hideSelected]="false"
  bindLabel="inputLabel"
  bindValue="value"
  clearAllText="Clear"
  [loading]="loading"
  [disabled]="disabled"
  [virtualScroll]="true"
  [clearOnBackspace]="true"
  [(ngModel)]="selectedItems"
  (open)="onOpen()"
  (close)="onClose()"
  (clear)="onClear()"
  (focus)="onFocus($event)"
  (search)="onSearch($event)"
  (blur)="onBlur($event)"
  (add)="onAdd($event)"
  (remove)="onRemove($event)"
  (change)="onChange($event)"
  (scroll)="onScroll($event)"
  (scrollToEnd)="onScrollToEnd()"
>
  <ng-template ng-label-tmp let-item="item" let-clear="clear">
    <span class="ng-value-icon left" (click)="clear.call(this, item);" aria-hidden="true">×</span>
    <span class="ng-value-label">{{item.label}}</span>
  </ng-template>
  <ng-template ng-option-tmp let-item="item">
    <div class="{{item.deep}}">{{item.label}}</div>
  </ng-template>
</ng-select>
