<ng-select
  [items]="options$ | async"
  [closeOnSelect]="closeOnSelect"
  [placeholder]="placeholder"
  [selectOnTab]="true"
  [multiple]="true"
  [hideSelected]="true"
  bindLabel="label"
  bindValue="value"
  clearAllText="Clear"
  [loading]="loading"
  [disabled]="disabled"
  [virtualScroll]="true"
  [clearOnBackspace]="true"
  (open)="onOpen()"
  (close)="onClose()"
  (clear)="onClear()"
  (focus)="onFocus($event)"
  (search)="onSearch($event)"
  (blur)="onBlur($event)"
  (add)="onAdd($event)"
  (remove)="onRemove($event)"
  (change)="onChange($event)"
  [(ngModel)]="selectedItems"
>
<ng-template ng-label-tmp let-item="item">
  <span title="{{item.label}}">{{item.label}}</span>
</ng-template>
</ng-select>
