111111111111111111111
<div class="creative-project-asset-home-nav">
  <document-creative-project-navigation [documentModel]='document' [settings]="navSettings"></document-creative-project-navigation>
</div>
<div *ngIf="document">
  <document-creative-project-import-asset-image [documentModel]='document'></document-creative-project-import-asset-image>
</div>
<div class="creative-project-asset-home-action">
  <div>ACTIONS</div>
  <nb-menu [items]="actions" (itemClick)="onMenuClick($event)"></nb-menu>
</div>
<div class="creative-project-asset-home-list">
  <list-search-form-in-dialog [searchParams]="defaultParams" [settings]="searchFormSettingsAsset" [listViewSettings]="listViewSettingsAsset" [listViewBuilder]="listViewBuilderAsset">
  </list-search-form-in-dialog>
</div>
