.image-viewer {
  img { width: 100%; }
  &.creative-asset {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &.learning-program-info {
    img {
      height: 320px;
    }
  }
  &.learning-program-nomination-preview {
    img {
      height: 260px;
    }
  }
}
