@import '../../../theme/styles/themes';
@import '../../../core/nebular/bootstrap/breakpoints';
@import '../../../core/nebular/theme/styles/global/breakpoints';
@import '../../shared/global-search-result/thumbnail-view.scss';
.alumni-title {
	height: 100px;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    color: black;
}
