<style>
  .file-drop-zone {
    width: 300px;
    height: 200px;
    border: dotted 3px lightgray;
  }

  /* Default class applied to drop zones on over */
  .invalid-drag {
    border: dotted 3px red;
  }

  .valid-drag {
    border: dotted 3px green;
  }

  .inline-block {
    display: inline-block;
  }
</style>

<div class="batch-upload">
  <div class="batch-upload-zone" ngFileDrop multiple="1" (filesChange)="onFilesChange($event)" [(validDrag)]="validComboDrag" [(files)]="files" [accept]="acceptTypes" [maxSize]="maxSize" class="file-drop-zone" [class.invalid-drag]="validComboDrag === false"
    [class.valid-drag]="validComboDrag" [fileDropDisabled]="uploading || uploaded">
    <div><strong>{{placeholder}}</strong></div>
  </div>
  <div class="batch-upload-queue">
    <h6>{{ files.length }} Queued Files</h6>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of onUploaded | async; let i=index">
          <td nowrap><strong>{{ item.fileName }}</strong></td>
          <td nowrap>{{ item.fileSize/1024/1024 | number:'.2' }} MB, {{ item.percentLoaded }}%</td>
          <td nowrap><button nbButton size="xsmall" status="danger" (click)="removeOne(i)" [disabled]="uploading || uploaded">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <button nbButton size="small" status="success" (click)="uploadFiles(files)" [disabled]="uploading || uploaded || !files.length">Upload</button>
    <button nbButton size="small" status="danger" (click)="removeAll()" [disabled]="uploading || uploaded || !files.length">Remove</button>
  </div>
</div>
