<div class="batch-upload">
  <ng-container [ngSwitch]="true">
      <div class="batch-upload-queue">
        <h6 *ngIf="hasSubForm()">{{ files.length }} Queued Files</h6>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th *ngIf="showInputs">Asset Title</th>
              <th>Size</th>
              <th *ngIf="hasSubForm()">Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of attachments; let i=index">
                <td nowrap><strong>{{ item.file.name }}</strong></td>
                <td *ngIf="showInputs"></td>
                <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB, 100%</td>
                <td nowrap><button nbButton outline class="btn btn-danger btn-xs" status="danger" (click)="removeOneAttachmen(i)" [disabled]="uploading || uploaded">Delete</button></td>
              </tr>
              <tr *ngFor="let item of files; let i=index">
                <td nowrap><strong>{{ item.fileName }}</strong></td>
                <td *ngIf="showInputs">
                  <dynamic-ng-form [formClass]="'document-form'" [group]="formGroups[i]" [model]="formModels[i]" [layout]="formLayout" (customEvent)="onCustomEvent($event)" (blur)="onBlur($event)" (change)="onChange($event)" (focus)="onFocus($event)"></dynamic-ng-form>
                </td>
                <td nowrap>{{ item.fileSize/1024/1024 | number:'.2' }} MB, {{ item.percentLoaded }}%</td>
                <td nowrap *ngIf="hasSubForm()"><button nbButton outline class="btn btn-danger btn-xs" status="danger" (click)="removeOne(i)" [disabled]="uploading || uploaded">Delete</button></td>
              </tr>
          </tbody>
        </table>
        <div class="button-group" *ngIf="hasSubForm()">
          <button nbButton class="btn btn-success btn-xs" status="success" [disabled]="uploading || uploaded || !files.length" (click)="uploadFiles(files)">Upload</button>
          <button nbButton class="btn btn-danger btn-xs" status="danger" [disabled]="uploading || uploaded || !files.length" (click)="removeAll()">Discard</button>
        </div>
      </div>
  </ng-container>
</div>
