::ng-deep .layout-left {

  .production-date, .first-airing {
    width: 40%;
    float: left;
    margin-bottom: 0;
    min-height: 102px;
  }
  .media-types, .asset-type {
    width: 58%;
    float: left;
    margin-left: 2%;
    margin-bottom: 0;
    min-height: 102px;
  }
  .showcase {
    white-space: pre-wrap;
    font-size: 18px;
    font-weight: 400;
  }
  .asset-country, .description, .po-internal {
    min-height: 75px;
    clear: both;
  }
  .media-types, .asset-type, .search-project {
    .ng-invalid {
      .directory-suggestion {
        .ng-select {
          .ng-select-container {
              background: #e9a1a3;
          }
          .ng-select-container.ng-has-value {
            background: none !important;
          }
        }
      }
    }
  }
  .title {
    input.ng-invalid {
      background: #e9a1a3;
    }
    ::placeholder {
      color: black;
    }
  }
  .accordion-item-header {
    padding-top: 0;
    font-weight: 500;
    font-size: 18px;
  }
}

::ng-deep .layout-right {

  .drag-drop {
    .ng-pristine {
      background: #e9a1a3;
    }
    .ng-dirty {
      background: none;
    }
  }
}

::ng-deep creative-ring-collection-upload-form{
  div.default-layout.formClass.layout-left-narrow {
    float: left;
    .form-group {
      .horizontal-first-line {
        border-top: none;
        padding-top: 0;
      }
      label {
        font-weight: normal;
      }
      min-width: 200px;
    }
  }
}
