.dialog-title {
	height: 80px;
	padding: 24px 0;
	box-sizing: border-box;
	&.with_logo {
		background-image: url('/assets/images/backslash_logo.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 32px;
	}
	background-color: #000000;
	a {
		display: block;
		width: 32px;
		height: 32px;
		&.left { margin-left: 25px; }
		&.right { margin-right: 25px; }
		img {
			display: block;
			width: 100%;
			cursor: pointer;
		}
	}
	h1 {
		display: block;
		width: calc(100% - 114px);
		height: 32px;
		line-height: 32px;
		margin: 0;
		color: #ffffff;
		font-size: 23px;
	}
}
.dialog-body {
  max-height: 80vh;
  overflow: auto;
	.media {
		// padding: 0 144px;
		box-sizing: border-box;
		background-color: #000000;
		document-viewer { width: 100%; }
	}
	.form {
    width: 100%;
    padding: 10px 20px;
  }
	.text-content {
		padding: 30px 0;
		&.pure-text {
			font-family: "Averta for TBWA W01 Semibold", helvetica, arial;
			font-size: 24px;
			padding: 30px;
		}
		img {
			margin-left: 33px;
			margin-right: 27px;
		}
		.controls {
			width: 100%;
			padding: 10px 0 0;
			box-sizing: border-box;
			h2 {
				line-height: 50px;
				margin-left: 15px;
			}
			a { cursor: default; }
			button {
				height: 51px;
				padding: 0 26px 0 50px;
				margin-right: 15px;
				border: none;
				background-color: #f2f2f2;
				background-repeat: no-repeat;
				background-position: 18px center;
				background-size: 19px auto;
				cursor: pointer;
				&.edit { background-image: url('/assets/images/edit_icon.png'); }
				&.download { background-image: url('/assets/images/download_icon.png'); }
				&.share { background-image: url('/assets/images/share.png'); }
			}
		}
		p {
			width: calc(100% - 254px);
			margin: 49px auto 0;
		}
	}
	.action-content {
		padding: 10px 30px;
		box-sizing: border-box;
		.btn { margin-right: 10px; }
	}
}
