<div class="dialog_body">
  <div class="dialog_title">
    <h5>
      <a (click)="close()"><img [src]="closeBtnImage()"></a>
      <div *ngIf="backButton"><a (click)="back()" style="float: right;"><img [src]="backBtnImage()"></a></div> 
    </h5>
  </div>
  <ng-content>
  </ng-content>
  <ng-container *ngIf="document">
    <div></div>
  </ng-container>
  <div class="text_content">Are you sure you want to delete this document?</div>
  <div class="action_content">
    <button (click)="onDelete($event)" class="btn btn-success">Yes</button>
    <button (click)="back()" class="btn btn-danger">Cancel</button>
  </div>
</div>