<div class="knowledge-related-info-view" [ngStyle]="currentView === 'relatedInfo' ? {} : {'display': 'none'}">
  <ng-container *ngIf="item.layout !== 'creative'">
    <h2 class="left">{{item.name}}</h2>
    <global-search-form [searchParams]="baseParams$ | async" [forbidParams]="forbidParams" [filters]="filters" [settings]="searchFormSettings"></global-search-form>
  </ng-container>
  <ng-container *ngIf="item.layout === 'creative'">
    <global-search-form [searchParams]="baseParamsBrand$ | async" [forbidParams]="forbidParams" [filters]="filters" [settings]="searchFormBrandSettings"></global-search-form>
    <global-search-form [searchParams]="baseParamsAgency$ | async" [forbidParams]="forbidParams" [filters]="filters" [settings]="searchFormAgencySettings"></global-search-form>
  </ng-container>
  <div class="clear"></div>
  <ng-container *ngIf="item.layout === 'backslash'">
    <h3>\Edges</h3>
    <div class="line"></div>
    <div [nbSpinner]="edgeLoading" nbSpinnerStatus="disabled">
      <ng-container *ngIf="backslashEdges && backslashEdges.length !== 0">
        <ul>
          <li *ngFor="let doc of backslashEdges">
            <a [href]="getBackslashEdgeUrl(doc.title)" title="{{doc.title}}" target="_blank">
              <button nbPopoverPlacement="right" [nbPopover]="edgeContent" [nbPopoverContext]="{ text: doc }" class="share"  nbPopoverTrigger="hover">
                <img src="{{doc.thumbnailUrl}}" [alt]="doc.title">
              </button>
              {{doc.title}}
            </a>
          </li>
        </ul>
      </ng-container>
    </div>
    <ng-template #edgeContent let-data>
      <div class="edgeHover">
        <h5>{{ data.text.get('dc:title') }}</h5>
        <p>{{ data.text.get('dc:description') }}</p>
      </div>
    </ng-template>
    <ng-container *ngIf="!edgeLoading && backslashEdges && backslashEdges.length === 0">
      <div class="empty text-center"><span class="empty-data">No edge found</span></div>
    </ng-container>
    <div class="clear"></div>
  </ng-container>
  <ng-container *ngIf="item.layout ==='creative' && document">
    <h2 class="left brand-top">See more {{document.get('The_Loupe_Main:brand')}}</h2>
    <global-search-more-result-in-dialog [templateRef]="thumbnailItemView" [searchResultFilter]="searchBrandResultFilter" [append]="append" (onLoadMore)="onLoadMore($event)" (onResponse)="onResponse($event)"></global-search-more-result-in-dialog>
    <h2 class="left">See more {{document.get('The_Loupe_Main:agency')}}</h2>
    <global-search-more-result-in-dialog [templateRef]="thumbnailItemView" [searchResultFilter]="searchAgencyResultFilter" [append]="append" (onLoadMore)="onLoadMore($event)" (onResponse)="onResponse($event)"></global-search-more-result-in-dialog>
  </ng-container>
  <ng-container *ngIf="item.layout !=='creative'">
    <global-search-more-result-in-dialog [templateRef]="thumbnailItemView" [append]="append" (onLoadMore)="onLoadMore($event)" (onResponse)="onResponse($event)"></global-search-more-result-in-dialog>
  </ng-container>
</div>

<div class="knowledge-related-info-preview" [ngStyle]="currentView === 'previewInfo' ? {} : {'display': 'none'}">
  <ng-template #dynamicTarget></ng-template>
</div>

<ng-template #backslashThumbnailItemView let-doc="doc">
  <div class="backslash">
    <h4 (click)="preview('Backslash', doc)">{{doc.title}}</h4>
    <h4 class="right" [title]="doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'">{{doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</h4>
    <div class="image-holder">
      <a [title]="doc.title" (click)="preview('Backslash', doc)" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
  </div>
</ng-template>

<ng-template #disruptionThumbnailItemView let-doc="doc">
  <div class="disruption">
    <div class="image-holder">
      <a (click)="preview('Disruption', doc)" [title]="doc.title" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
    <div class="description">
      <h1 (click)="preview('Disruption', doc)" [title]="doc.title">{{doc.title}}</h1>
    </div>
  </div>
</ng-template>

<ng-template #intelligenceThumbnailItemView let-doc="doc">
  <div class="intelligence">
    <div class="image-holder">
      <a (click)="preview('Intelligence', doc)" [title]="doc.title" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
    <div class="description">
      <h1 (click)="preview('Intelligence', doc)" [title]="doc.title">{{doc.title}}</h1>
    </div>
  </div>
</ng-template>

<ng-template #creativeThumbnailItemView let-doc="doc">
  <div class="creative">
    <div class="image-holder">
      <a (click)="preview('Creative', doc)" [title]="doc.title" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
    <div class="description">
      <h1 (click)="preview('Creative', doc)" [title]="doc.title">{{doc.title}}</h1>
      <h5 class="year" [title]="doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'">{{doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</h5>
      <span class="dot"></span>
      <h5 class="client" [title]="doc.get('The_Loupe_Main:brand').join(', ')">{{doc.get('The_Loupe_Main:brand').join(', ')}}</h5>
      <h5 class="agency" [title]="doc.get('The_Loupe_Main:agency')">{{doc.get('The_Loupe_Main:agency')}}</h5>
    </div>
  </div>
</ng-template>
