<div class="dialog-title text-center">
  <a (click)="close()" class="left" title="Close"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged && mainViewChanged.changed" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <ng-container *ngIf="showcaseSettings.enableAddToShowcase">
    <div class="text-content pure-text" *ngIf="!documents || documents.length === 0">You don't have permission for the selected assets.</div>
    <div class="documents" *ngIf="documents && documents.length !== 0">
      <div class="text-content pure-text">Adding assets to the brand showcase shares them with everyone at TBWA\ globally. Are you sure?</div>
      <ul>
        <li *ngFor="let doc of documents; index as i" class="doc-title">{{ doc.title }}</li>
      </ul>
    </div>
    <div class="action-content text-right">
      <button (click)="addToShowcase(documents)" *ngIf="documents && documents.length !== 0" class="btn btn-success">Yes</button>
      <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    </div>
  </ng-container>
  <ng-container *ngIf="showcaseSettings.enableRemoveFromShowcase">
    <div class="text-content pure-text" *ngIf="!documents || documents.length === 0">You don't have permission for the selected assets.</div>
    <div class="documents" *ngIf="documents && documents.length !== 0">
      <div class="text-content pure-text">Removing assets from the brand showcase no longer shares them with everyone at TBWA\ globally. Are you sure?</div>
      <ul>
        <li *ngFor="let doc of documents; index as i" class="doc-title">{{ doc.title }}</li>
      </ul>
    </div>
    <div class="action-content text-right">
      <button (click)="removeFromShowcase(documents)" *ngIf="documents && documents.length !== 0" class="btn btn-success">Yes</button>
      <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    </div>
  </ng-container>
</div>
