<h2>Project Completion Report</h2>
<button>Download</button><button>Email</button>
<document-creative-project-asset-report-production-information [document]="document"></document-creative-project-asset-report-production-information>
<document-creative-project-asset-report-allowable-versions [document]="document"></document-creative-project-asset-report-allowable-versions>
<document-creative-project-asset-report-union-talent [document]="document"></document-creative-project-asset-report-union-talent>
<document-creative-project-report-buyout-talent-information [document]="document"></document-creative-project-report-buyout-talent-information>