<h2>Project Completion Report</h2>
<button>Download</button><button>Email</button>
<creative-project-asset-report-production-information [document]="document"></creative-project-asset-report-production-information>
<creative-project-asset-report-allowable-versions></creative-project-asset-report-allowable-versions>
<creative-project-asset-report-buyont-talent-information></creative-project-asset-report-buyont-talent-information>
<creative-project-asset-report-union-talent></creative-project-asset-report-union-talent>