<div class="creative-project-asset-deliverable">
 <div class="page-title">3rd Party Import Requests</div>
 <div class="page-content">
   <nb-tabset fullWidth>
     <nb-tab tabTitle="New Request">
       <document-creative-project-import-new-request [documentModel]="document"></document-creative-project-import-new-request>
     </nb-tab>
     <nb-tab tabTitle="Requests">
       <document-creative-project-import-requests-view [document]="document"></document-creative-project-import-requests-view>
     </nb-tab>
   </nb-tabset>
 </div>
</div>
