@import '../../../../core/nebular/theme/styles/global/breakpoints';

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}
.brand-view {
  @include media-breakpoint-down(lg) {
    //992px
    width: 700px;
  }
  @include media-breakpoint-between(lg, xxl) {
    //992px - 1400px
    width: 850px;
  }
  @include media-breakpoint-up(xxl) {
    //1400px
    width: 1366px;
  }
  margin: 0 auto;
  // padding-top: 40px;
  box-sizing: border-box;
}
.brand-section {
  width: calc(100% - 76px);
  margin: 0 auto;
}
.brand-intro {
  width: 280px;
  height: 280px;
  margin-right: 30px;
  img {
    width: 100%;
    height: 100%;
  }
}
.brand-info {
  width: calc(100% - 310px);
  h1 {
    font-family: 'Averta for TBWA W01 Black', helvetica, arial;
    font-size: 25px;
    margin: 0;
  }
  table {
    width: 100%;

    td {
      font-family: 'Averta for TBWA W01 Regular', helvetica, arial;
      font-size: 15px;
      line-height: 20px;
      color: #000000;
    }
  }
}
.button-group {
  width: calc(100% - 76px);
  margin: 0 auto;
}
