<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [beforeSearch]="beforeSearch" [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
  <ng-container class="group-left">
    <div class="global-search-form-buttons d-flex">
      <backslash-form-button [parent]="document" [type]="'case'" [title]="'New Folder'"></backslash-form-button>
      <backslash-form-button [parent]="document" [type]="'case asset'" [title]="'New Case'"></backslash-form-button>
    </div>
  </ng-container>
</global-search-form>
<backslash-resource-asset-search-result [folderId]="document?.uid"></backslash-resource-asset-search-result>
