<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <section class="filter-wrapper" [ngStyle]="{'background-image': 'url('+backgroudUrl+')'}">
    <h1 class="headline">{{ this.headline }}</h1>
    <h1 class="extraHeadline">{{ this.extraHeadline }}</h1>
    <h4>{{ this.subHead }}</h4>
    <div (clickOutside)="hide()" (click)="show()" class="keyword-wrapper">
      <input formControlName="ecm_fulltext" autofocus (keyup.enter)="onKeyenter($event)" (keyup)="onKeyup($event)" type="text" class="keyword"
        [placeholder]="placeholder" />
      <document-thumbnail-view [loading]="loading" [layout]="layout" [templateRef]="thumbnailItemView"
        [documents]="documents" [hideEmpty]="true" [tabIndex]="0"></document-thumbnail-view>
    </div>
    <a class="filter_trigger">
      <button type="button" (click)="toggleFilter()" class="advanced-filters-trigger icon_btn"
        [ngClass]="{'success': showFilter, 'btn-disabled': !hasAggs}" [disabled]="!hasAggs"
        title="Filter">Filter</button>
    </a>
  </section>
  <div class="search-filters left">
    <ng-content></ng-content>
  </div>
  <div class="clear"></div>
  <ng-container *ngIf="hasFilters() && showFilter">
    <global-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async"
      [disableControl]="submitted" (blur)="onFilterBlur($event)"></global-search-filter>
  </ng-container>
</form>
<ng-template #thumbnailItemView let-doc="doc">
  <div class="thumbnail-view-item quick-search">
    <div class="image-holder">
      <a [routerLink]="[getAssetUrl(doc), doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
    <div class="description">
      <h1 [title]="doc.title"><a [routerLink]="[getAssetUrl(doc), doc.uid]">{{doc.title}}</a></h1>
      <h4 class="year" [title]="doc.get('The_Loupe_ProdCredits:production_date') | date">{{doc.get('The_Loupe_ProdCredits:production_date') | date}}</h4>
      <span class="dot"></span>
      <h4 class="client" [title]="doc.get('The_Loupe_Main:brand').join(', ')">{{doc.get('The_Loupe_Main:brand').join(', ')}}</h4>
      <h4 class="agency" [title]="doc.get('The_Loupe_Main:agency')">{{doc.get('The_Loupe_Main:agency')}}</h4>
    </div>
  </div>
</ng-template>