@import '../../../core/nebular/theme/styles/global/breakpoints';
@import '../global-search-result/thumbnail-view.scss';

$main-yellow: #fecc00;

.clear { clear: both; }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.filter-wrapper {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 560px;
  border-bottom: solid 3px $main-yellow;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  > h1 {
    font-family: 'Averta for TBWA W01 Black', helvetica, arial;
    font-size: 50px;
    line-height: 50px;
    margin-top: 138px;
    margin-left: 40px;
    color: $main-yellow;
  }
  > h4 {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    font-size: 20px;
    line-height: 20px;
    margin-top: 16px;
    margin-left: 40px;
    color: #ffffff;
  }
  .advanced_filters_trigger {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    display: inline-block;
    margin-left: 40px;
    margin-top: 21px;
    font-size: 15px;
    color: #ffffff;
  }
}
.keyword-wrapper {
  position: relative;
  width: calc(100% - 80px);
  margin: 0 auto;
}
.keyword {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  display: block;
  width: 100%;
  height: 95px;
  margin-top: 50px;
  padding-left: 109px;
  font-size: 30px;
  box-sizing: border-box;
  background: #ffffff url('/assets/images/search_icon.png') no-repeat 38px center;
  border: none;
  outline: 0;
  &:focus { border-color: rgba(81, 203, 238, 1); }
}
.filter_trigger {
  display: inline-block;
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  font-size: 15px;
  margin-left: 40px;
  margin-top: 21px;
  margin-bottom: 18px;
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}
.line {
  display: block;
  width: calc(100% - 80px);
  height: 2px;
  margin: 0 auto;
  background-color: #ffc300;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b1b1b1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b1b1b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b1b1b1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b1b1b1;
}
.thumbnail-view-item {
  border: none;
  > .image-holder {
    display: inline-block;
    vertical-align: top;
    width: 291px;
    height: 144px;
    a, a:hover { transition: none; }
  }
  .description {
    display: inline-block;
    vertical-align: top;
    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
      font-size: 30px;
      line-height: 24px;
      margin-top: 0;
      margin-bottom: 13px;
      a {
        display: block;
        height: 100%;
      }
    }
    .year, .client, .dot {
      font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
      display: inline-block;
      vertical-align: middle;
      line-height: 18px;
      font-size: 24px;
      margin: 0;
      margin-bottom: 28px;
    }
    .dot {
      width: 4px;
      height: 4px;
      margin: 0 6px;
      margin-bottom: 28px;
      background: #2a2a2a;
      border-radius: 2px;
    }
    .agency {
      line-height: 20px;
      font-size: 25px;
    }
  }
}
