<h1>Unboxing</h1>
<h2>{{document.title}}</h2>
<h4>About</h4>
<p>{{document.get("dc:description")}}</p>
<table>
  <tbody>
    <tr>
      <th>Asset Type</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>{{document.get('The_Loupe_Main:assettype')}}</td>
      <td>{{document.get('The_Loupe_Main:country')}}</td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <th colspan="2">Agency</th>
    </tr>
    <tr>
      <td colspan="2">{{document.get("The_Loupe_Main:agency")}}</td>
    </tr>
  </tbody>
</table>
<nb-accordion class="accordion">
  <nb-accordion-item class="accordion-item">
    <nb-accordion-item-header class="accordion-item-header"><span>Job</span></nb-accordion-item-header>
    <nb-accordion-item-body class="accordion-item-body">
      {{document.get('The_Loupe_Main:jobtitle')}}
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item [collapsed]="false" class="accordion-item">
    <nb-accordion-item-header class="accordion-item-header">Usage Rights</nb-accordion-item-header>
    <nb-accordion-item-body class="accordion-item-body">
      <ul class="state">
        <li>
          <h4>Legit Days</h4>
          <span>{{usageRights.days_left >= 0 ? usageRights.days_left : 0}}</span>
        </li>
        <li>
          <h4>Expires on</h4>
          <span>{{usageRights.end_date | date}}</span>
        </li>
      </ul>
      <a *ngIf="document.get('file:content')" href="{{document.get('file:content').data}}" class="download right">Download</a>
      <div class="clear"></div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
