h1 {
	font-family: 'Averta for TBWA W01 Black', helvetica, arial;
	margin: 0;
	margin-bottom: 28px;
	font-size: 30px;
}
.nb-card {
	.nb-card-body {
		padding: 0;
		.nb-tab { margin: 25px auto 0; }
	}
}
