<document-route-tabset [tabConfig]="tabConfig"></document-route-tabset>
<global-search-form [filters]="filters" [beforeSearch]="beforeSearch" [searchParams]="categoryAssetParams" [settings]="categorySearchFormSettings">
  <ng-container class="group-left">
    <div class="global-search-form-buttons d-flex">
      <a [routerLink]="['/p/backslash/report']" title="Reports"><button class="icon_btn">Reports</button></a>
      <a [routerLink]="['/p/backslash/category']" title="By Category"><button class="icon_btn view_selected">By Category</button></a>
      <a [routerLink]="['/p/backslash/region']" title="By Region"><button class="icon_btn">By Region</button></a>
    </div>
  </ng-container>
</global-search-form>
<backslash-category-asset-search-result [regions]="regions" [folderId]="document?.uid"></backslash-category-asset-search-result>
