<div class="dialog-title text-center">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <ng-container *ngIf="document">
    <div class="media">
      <document-viewer [document]="document"></document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text-content" style="padding-top: 0;">
      <div class="controls row">
        <div class="col-5">
          <h3 class="left"><b>{{ document.title }}</b></h3>
          <div class="clear"></div>
          <h4 class="left">{{ document.get('The_Loupe_Main:brand') }}</h4>
        </div>
        <div class="col-7">
          <ng-container *ngIf="downloadPermission$ | async">
            <a *ngIf="document.filePath" href="{{document.filePath}}"><button class="inline-middle download right" title="Download">Download</button></a>
          </ng-container>
          <ng-container *ngIf="getDialogSettings().enablePreview">
            <a href="{{document.previewUrl}}" title="Preview" target="_blank"><button class="preview right">Preview</button></a>
          </ng-container>
          <button class="share right" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
          <ng-container *ngIf="getDialogSettings().enableDetail">
            <a [routerLink]="['/p/creative/asset', document.uid]" (click)="close()"><button class="inline-middle details right">Details</button></a>
          </ng-container>
        </div>
        <div class="clear"></div>
      </div>
      <ng-container *ngIf="getDialogSettings().moreInfo">
        <p class="description">{{ document.get('dc:description') }}</p>
        <table>
          <tbody>
            <tr>
              <th>Asset Type</th>
              <th>Country</th>
            </tr>
            <tr>
              <td>{{ document.get('The_Loupe_Main:assettype') }}</td>
              <td>{{ parseCountry(document.get('The_Loupe_Main:country')) }}</td>
            </tr>
            <tr>
              <th colspan="2">Agency</th>
            </tr>
            <tr>
              <td colspan="2">
                {{ document.get('The_Loupe_Main:agency') }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <nb-accordion class="accordion" *ngIf="downloadPermission$ && attachments && attachments.length !== 0">
        <nb-accordion-item class="accordion-item">
          <nb-accordion-item-header class="accordion-item-header"><span>Additional Attachments</span></nb-accordion-item-header>
          <nb-accordion-item-body class="accordion-item-body">
            <table>
              <tbody *ngFor="let attachment of attachments">
                <tr>
                  <td><a href="{{ attachment.url }}" class="download-btn">{{ attachment.title }}</a></td>
                </tr>
              </tbody>
            </table>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </ng-container>
</div>

<ng-template #popContent>
  <share-document-button [document]="document" [shareUrl]="shareUrl"></share-document-button>
</ng-template>
