<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view">
  <div class="property-section" *ngIf="documentModel">
    <div class="property-intro inline-top">
      <div *ngIf="documentModel" [ngStyle]="{'background-image': 'url('+documentModel.filePath+')'}"></div>
    </div>
    <div class="property-info inline-top">
      <h1>{{documentModel.get('The_Loupe_Main:agency')}}</h1>
      <ul>
        <li><b>Country:</b> {{ parseCountry(documentModel.get('The_Loupe_Main:country')) }}</li>
      </ul>
    </div>
    <nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }" style="padding: 0;"></nb-route-tabset>
  </div>
</div>
