<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <div class="search-input">
    <input class="form-control" formControlName="ecm_fulltext" [disableControl]="submitted" placeholder="Search for..." (keyup.enter)="onSubmit()" />
  </div>
  <div class="filters">
    <a href="javascript:;" (click)="toggleFilter()" class="advanced_filters_trigger icon_btn" [ngClass]="{'success': showFilter, 'btn-disabled': submitted}">Filter</a>
    <!-- <div class="dropdown_container">
      <a href="javascript:;" class="dropdown-trigger"><span>Asset type</span><i class="caret down"></i></a>
    </div>
    <div class="dropdown_container">
      <a href="javascript:;" class="dropdown-trigger"><span>Year</span><i class="caret down"></i></a>
    </div> -->
    <div class="clear"></div>
  </div>

  <ng-container *ngIf="showFilter">
    <tbwa-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async" [disableControl]="submitted" (selected)="onFilterChange($event)"></tbwa-search-filter>
  </ng-container>
</form>
