<div class="outside-biggest-wrapper">
    <div class="middle-wrapper">
        <div *ngFor="let doc of documents" class="thumbnail-view-item">
            <div class="yellow-strip-area">
                {{ doc.title }}
                <div class="right-circle-yellow-wrapper">
                    <a href="{{scrollToDocument(doc)}}">
                        <img class="right-circle-black-filling" [src]="doc.fullHDPicture">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
