.creative-my-agency {
  padding: 0 35px;
  a {
    color: #b0afaf;
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    text-decoration: none;
  }

  .see_all {
    padding-left: 10px;

    &:hover {
      color: #fecc00;
    }
  }
}
