h1 {
	font-family: 'Averta for TBWA W01 Black', helvetica, arial;
	margin: 0 0 28px;
	padding: 0 60px;
	font-size: 30px;
}
.nb-card {
	.nb-card-body {
		padding: 0;
		nb-tabset {
			padding: 0 30px;
		}
		.nb-tab { margin: 25px auto 0; }
	}
}
.line {
	width: calc(100% - 120px);
	height: 2px;
	margin: 0 auto;
	background: #a1a1a1;
}
