<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [baseParams]="baseParams$ | async">
  <button type="button" (click)="openForm(dialog)" class="icon_btn new_day" [ngClass]="{'btn-disabled': !document }" [disabled]="!document" title="New Asset">New Asset</button>
</global-search-form>
<disruption-folders-view [loading]="loading" [document]="document"></disruption-folders-view>
<disruption-folder-day-asset-search-result [folderId]="document?.uid"></disruption-folder-day-asset-search-result>

<ng-template #dialog>
  <preview-dialog>
    <disruption-form-folders-body>
      <preview-dialog-alert></preview-dialog-alert>
    </disruption-form-folders-body>
  </preview-dialog>
</ng-template>
