<ng-container *ngIf="doc">
  <div class="text-content" [nbSpinner]="loading" nbSpinnerStatus="disabled">
    <div class="controls row">
      <div class="col-9">
        <img class="left" [src]="previewBtnImage()">
        <h2 class="left">{{ doc.title }}</h2>
      </div>
      <div class="col-3 btns">
        <button class="share right" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
        <ng-container *ngIf="isBackslashHomePage() && writePermission$ | async">
          <button class="right edit" (click)="selectView(getDialogFormTemplateName(doc))">Edit</button>
        </ng-container>
        <ng-container *ngIf="videoCurrentTime !== null && writePermission$ | async">
          <a href="javascript:;" (click)="newThumbnail(videoCurrentTime)" class="right btn new-poster" title="New poster">New poster at {{videoCurrentTime | round: 2}}</a>
        </ng-container>
      </div>
      <div class="clear"></div>
    </div>
    <div class="info" *ngIf="moreInfo">
      <div class="edges">
        <ul>
          <ng-container *ngIf="backslashEdges && backslashEdges.length !== 0">
            <li *ngFor="let edge of backslashEdges">
              <button nbPopoverPlacement="right" [nbPopover]="edgeContent" [nbPopoverContext]="{ text: edge }" class="share" nbPopoverTrigger="hover">
                <img src="{{edge.thumbnailUrl}}" [alt]="edge.title" class="edge-img">
              </button>
            </li>
          </ng-container>
        </ul>
        <div class="more-info">
          <p class="description">{{ doc.get('dc:description') }}</p><br><br>
          <p><b>Edges: </b>{{ doc.get('app_Edges:Tags_edges') }}</p>
          <p><b>Spotter: </b>{{ doc.get('app_Edges:Spotter') }}</p>
          <p><b>Geography: </b>{{ doc.get('app_Edges:Relevant_Country').join(', ') }}</p><br>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #popContent>
  <share-document-button [document]="doc" [shareUrl]="shareUrl"></share-document-button>
</ng-template>

<ng-template #edgeContent let-data>
  <div class="edgeHover">
    <h5>{{ data.text.get('dc:title') }}</h5>
    <p>{{ data.text.get('dc:description') }}</p>
  </div>
</ng-template>
