.search-results {
  > h1,
  .list_view_trigger,
  .grid_view_trigger {
    height: 46px;
    line-height: 46px;
    margin-top: 32px;
    margin-bottom: 39px;
  }
  > h1 {
    font-family: 'Averta for TBWA W01 Black', helvetica, arial;
    margin-left: 60px;
  }
  .list_view_trigger {
    margin-right: 60px;
    background: url('/assets/images/list_icon.png') no-repeat 13px center;
    &.btn-active {
      background: url('/assets/images/list_icon_active.png') no-repeat 13px center;
      cursor: auto;
    }
    &.btn-disabled {
      background: url('/assets/images/list_icon_disabled.png') no-repeat 13px center;
      cursor: auto;
    }
  }
  .grid_view_trigger {
    margin-right: 12px;
    background: url('/assets/images/grid_icon.png') no-repeat 13px center;
    &.btn-active {
      background: url('/assets/images/grid_icon_active.png') no-repeat 13px center;
      cursor: auto;
    }
    &.btn-disabled {
      background: url('/assets/images/grid_icon_disabled.png') no-repeat 13px center;
      cursor: auto;
    }
  }
}
.search-pagination {
  width: calc(100% - 76px);
  margin: 0 auto;
}
