<div class="intelligence-home-form">
  <home-search-form [openSearchFilter]="openSearchFilter" [assetUrl]="'/p/intelligence/asset/'" [redirectUrl]="'/p/search/intelligence/asset/'" [headline]="headline" [subHead]="subHead" [settings]="searchFormSettings" [filters]="filters"
    [searchParams]="baseParams$ | async">
    <div class="filters">
      <input class="keyword" autofocus [placeholder]="placeholder" (keyup.enter)="onKeyEnter($event)" (keyup)="onKeyup($event)" />
    </div>
  </home-search-form>
</div>
<div class="intelligence-form-button right" *ngIf="addChildrenPermission$ | async">
  <intelligence-form-button [parent]="document" [type]="'asset'" [title]="'New Document'"></intelligence-form-button>
</div>
<div class="clear"></div>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document s-results intelligence-home">
  <div *ngFor="let doc of folders" class="thumbnail-view-item">
    <div class="description">
      <h1 [title]="doc.title"><a [routerLink]="['/p/intelligence/folder', doc.uid]">{{doc.title}}</a>
      </h1>
    </div>
    <div class="image-holder">
      <a [routerLink]="['/p/intelligence/folder', doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
  </div>
  <div class="clear"></div>
</div>
