<div class="intelligence-home-form">
  <home-search-form [assetUrl]="'/p/intelligence/asset/'" [redirectUrl]="'/p/search/intelligence/asset/'" [headline]="headline" [subHead]="subHead" [settings]="searchFormSettings" [filters]="filters" [searchParams]="defaultParams">
  </home-search-form>
</div>
<intelligence-form-button [parent]="baseFolder" [type]="'document'" [title]="'New Document'"></intelligence-form-button>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document s-results intelligence-home">
  <div *ngFor="let doc of folders" class="thumbnail-view-item">
    <div class="description">
      <h1 [title]="doc.title"><a [routerLink]="['/p/intelligence/folder', doc.uid]">{{doc.title}}</a>
      </h1>
    </div>
    <div class="image-holder">
      <a [routerLink]="['/p/intelligence/folder', doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
    </div>
  </div>
  <div class="clear"></div>
</div>
