<div class="intelligence-home-form">
  <home-search-form [assetUrl]="'/p/intelligence/asset/'" [redirectUrl]="'/p/search/intelligence/asset/'"
    [headline]="headline" [subHead]="subHead" [placeholder]="placeholder" [filters]="filters"
    [defaultParams]="defaultParams">
  </home-search-form>
</div>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document s-results intelligence-home">
  <div *ngFor="let document of folders" class="thumbnail-view-item">
    <div class="description">
      <h1 [title]="document.title"><a [routerLink]="['/p/intelligence/folder', document.uid]">{{document.title}}</a>
      </h1>
    </div>
    <div class="image-holder">
      <a [routerLink]="['/p/intelligence/folder', document.uid]"
        [ngStyle]="{'background-image': 'url('+document.thumbnailUrl+')'}"></a>
    </div>
  </div>
  <div *ngFor="let document of brands" class="thumbnail-view-item">
    <div class="description">
      <h1 [title]="document.title"><a [routerLink]="['/p/intelligence/folder', document.uid]">{{document.title}}</a>
      </h1>
    </div>
    <div class="image-holder">
      <a [routerLink]="['/p/intelligence/folder', document.uid]"
        [ngStyle]="{'background-image': 'url('+document.thumbnailUrl+')'}"></a>
    </div>
  </div>
  <div class="clear"></div>
</div>
