<ng-container [formGroup]="group">
  <batch-file-upload
      [formControlName]="model.field"
      [id]="id"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [multiUpload]="model.multiUpload"
      [showInputs]="model.showInputs"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (valid)="onValid($event)"
      (onUploaded)="onCustomEvent($event, 'BATCH_UPLOAD')">
  </batch-file-upload>
</ng-container>
