<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<biz-dev-folder-view [loading]="folderLoading" [document]="folder" [showButton]="showButton" [assetUrlMapping]="assetUrlMapping"></biz-dev-folder-view>
<div *ngIf="document" class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled">
  <section class="general">
    <div class="showcase left">
      <document-viewer [document]="document" [settings]="viewerSettings"></document-viewer>
      <document-action-group [document]="document" [enableThumbnailCreation]="enableThumbnailCreation"></document-action-group>
    </div>
    <div class="general_info left">
      <document-metadata-info [document]="document" [deleteRedirectUrl]="deleteRedirectUrl"></document-metadata-info>
    </div>
    <div class="clear"></div>
  </section>
  <section class="additional_info">
    <document-additional-info [document]="document"></document-additional-info>
  </section>
  <section class="related">
    <document-related-info [document]="document"></document-related-info>
  </section>
</div>
