<div class="creative-project-asset-usage-rights">
  <div class="page-title">Usage Rights Contracts</div>
  <div class="page-content">
    <div class="action-content">
      <button type="button" (click)="linkEvent()" [ngClass]="{'btn-disabled': !hasData}" [disabled]="!hasData" class="btn" title="Link Contract">Link Contract</button>
      <button type="button" (click)="editEvent()" [ngClass]="{'btn-disabled': !hasData}" [disabled]="!hasData" class="btn" title="Edit">Edit</button>
    </div>
    <document-creative-project-usage-rights [document]="document" (onResponsed)="onResponse($event)" [listViewOptions]="listViewOptions" (onSelect)="onSelect($event)"></document-creative-project-usage-rights>
  </div>
</div>