<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view">
  <div class="property-section">
    <div class="property-intro inline-top">
      <div [ngStyle]="{'background-image': 'url('+document?.filePath+')'}"></div>
      <!-- <img src="{{document?.filePath}}" /> -->
    </div>
    <div class="property-info inline-top">
      <h1>{{document?.get('dc:title')}}</h1>
      <ul>
        <!-- <li><b>Client:</b> {{document?.get('The_Loupe_Main:clientName')}}</li> -->
        <li><b>Brand:</b> {{document?.get('The_Loupe_Main:brand')}}</li>
        <li><b>Agency:</b> {{document?.get('The_Loupe_Main:agency')}}</li>
      </ul>
      <!-- <div class="button-group">
        <button class="btn">Jobs</button>
        <button class="btn">Campalgns</button>
        <button class="btn">UR</button>
        <button class="btn">Upload</button>
        <button class="btn">Manage Library</button>
      </div> -->
    </div>
  </div>
</div>
<div style="margin-top: 45px;">
  <global-search-form [filters]="filters" [baseParams]="baseParams$ | async"></global-search-form>
  <creative-document-asset-search-result [layout]="layout"></creative-document-asset-search-result>
</div>
