<div class="row">
  <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
    <h1>{{title}}</h1>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <input type="text" />
  </div>
</div>
<div style="min-height:30px;">
  {{documents}}
  <div class="row">
    <h2 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem Ipsum</h2>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Authen
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      New Mas
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Augmented
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Lorem Ipsum
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Lorem Ipsum
    </div>
  </div>
  <div class="row">
    <h2 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Lorem Ipsum</h2>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Wed - Sep 12<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Tue - Sep 11<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Tue - Sep 11<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Tue - Sep 11<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Wed - Sep 12<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Tue - Sep 11<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Tue - Sep 11<br />
      img
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      Tue - Sep 11<br />
      img
    </div>
  </div>
</div>
