<h2 class="left">{{title}}</h2>
<div class="search_area right">
  <input [formControl]="queryField" (keyup.enter)="onKeyup($event)" type="text" class="keyword" placeholder="Search for..">
</div>
<div class="clear"></div>
<h3>Lorem Ipsum</h3>
<div class="line"></div>
<ul>
  <li>
    <a href="javascript:;"><img src="/assets/images/Polygon 6185.png" alt="">Authenticity</a>
  </li>
  <li>
    <a href="javascript:;"><img src="/assets/images/Polygon 6185 copy.png" alt="">New Masculinity</a>
  </li>
  <li>
    <a href="javascript:;"><img src="/assets/images/Polygon 6185 copy 2.png" alt="">Augmented Self</a>
  </li>
  <li>
    <a href="javascript:;"><img src="/assets/images/Polygon 6185 copy 3.png" alt="">Lorem Ipsum</a>
  </li>
</ul>
<div class="clear"></div>
<h3>Lorem Ipsum</h3>
<tbwa-thumbnail-view [layout]="layout" [itemLayout]="'simple'" [documents]="documents"></tbwa-thumbnail-view>
