<div *ngIf="document" class="document">
  <section class="general">
    <div class="showcase left">
      <tbwa-document-viewer [document]="document"></tbwa-document-viewer>
    </div>
    <div class="general_info left">
      <tbwa-document-metadata-info [document]="document"></tbwa-document-metadata-info>
    </div>
    <div class="clear"></div>
  </section>
  <section class="additional_info">
    <tbwa-document-additional-info [document]="document"></tbwa-document-additional-info>
  </section>
  <section class="related">
    <tbwa-document-related-info [document]="document"></tbwa-document-related-info>
  </section>
  <section class="more">
    <ng-container *ngIf="hasReleatedBrands()">
      <tbwa-document-related-project [document]="document"></tbwa-document-related-project>
    </ng-container>
    <ng-container *ngIf="hasReleatedAgency()">
      <tbwa-document-related-agency [document]="document"></tbwa-document-related-agency>
    </ng-container>
  </section>
</div>
