<ng-container [formGroup]="group">
  <drag-drop-file-zone
      [formControlName]="model.field"
      [id]="id"
      [placeholder]="model.placeholder"
      [acceptTypes]="model.acceptTypes"
      [queueLimit]="model.queueLimit"
      [uploadType]="model.uploadType"
      [formMode]="model.formMode"
      [maxSize]="model.maxSize"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (valid)="onValid($event)"
      (fileChange)="onCustomEvent($event, 'DRAG_DROP_FILE')">
  </drag-drop-file-zone>
</ng-container>
