<ng-container [formGroup]="group">
  <drag-drop-file-zone
      [formControlName]="model.field"
      [id]="id"
      [settings]="model.settings"
      [attr.disabled]="model.disabled"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (valid)="onValid($event)"
      (onUpload)="onCustomEvent($event, 'DRAG_DROP_FILE')"
      >
  </drag-drop-file-zone>
</ng-container>
