<div class="document-action-group {{styleName}}">
  <ng-container *ngIf="downloadPermission$ | async">
    <a *ngIf="documentModel.filePath" href="{{documentModel.filePath}}" class="download right btn" title="Download">Download</a>
  </ng-container>
  <ng-container *ngIf="downloadPermission$ | async">
    <a href="{{documentModel.previewUrl}}" class="preview right btn" title="Preview" target="_blank">Preview</a>
  </ng-container>
  <ng-container *ngIf="isNeedSendDownloadRequest(documentModel)">
    <a href="javascript:void(0)" (click)="openDialog(dialog)" class="download right btn">Download Request</a>
  </ng-container>
  <a href="javascript:;" nbPopoverPlacement="bottom" [nbPopover]="popContent" title="Share" class="right btn">Share</a>
  <a href="javascript:void(0)" (click)="goBack()" class="back left btn" title="Back">Back</a>
  <div class="clear"></div>
</div>

<ng-template #popContent>
  <share-document-button [document]="documentModel"></share-document-button>
</ng-template>
<ng-template #dialog>
  <global-document-dialog [settings]="dialogSettings" [documentModel]="documentModel" [title]="'Download Request'"></global-document-dialog>
</ng-template>
