<div class="knowledge-home-form">
  <knowledge-search-form [headline]="headline" [subHead]="subHead" [searchPageUrl]="'/p/search/knowledge/asset/'" [settings]="searchFormSettings" [filters]="filters" [searchParams]="defaultParams">
  </knowledge-search-form>
</div>
<div class="knowledge-module">
  <h3 class="title">Explore by Category</h3>
  <div class="card-deck">
    <div class="card mb-5">
      <a [routerLink]="['/p/disruption/home']" title="Disruption">
        <div class="card-body">
          <h4 class="card-title">Disruption</h4>
          <p class="card-text">Find the who, what, where, when, why and how of our process</p>
        </div>
      </a>
    </div>
    <div class="card mb-5">
      <a [routerLink]="['/p/intelligence/home']" title="Intelligence">
        <div class="card-body">
          <h4 class="card-title">Intelligence</h4>
          <p class="card-text">All brains on deck. Before we disrupt, we do our homework</p>
        </div>
      </a>
    </div>
    <div class="card mb-5">
      <a [routerLink]="['/p/backslash/home']" title="Backslash">
        <div class="card-body">
          <h4 class="card-title">Backslash</h4>
          <p class="card-text">Locating Brands in culture</p>
        </div>
      </a>
    </div>
  </div>

  <div class="card-deck">
    <div class="card mb-5">
      <a [routerLink]="['/p/business-development/home']" title="Business Development">
        <div class="card-body">
          <h4 class="card-title">Business Development</h4>
          <p class="card-text">Find everything you need to grow our business</p>
        </div>
      </a>
    </div>
    <div class="card mb-5">
      <a [routerLink]="['/p/innovation/home']" title="Innovation">
        <div class="card-body">
          <h4 class="card-title">Innovation</h4>
          <p class="card-text">Driving progress and change across our collective</p>
        </div>
      </a>
    </div>
    <div class="card mb-5">
      <a [routerLink]="['/p/creative/home']" title="Creative">
        <div class="card-body">
          <h4 class="card-title">Creative</h4>
          <p class="card-text">Our most disruptive work is all right here</p>
        </div>
      </a>
    </div>
  </div>

  <div class="card-deck card-deck-individual">
    <div class="card">
      <a [routerLink]="['/p/learning/home']" title="Learning">
        <div class="card-body">
          <h4 class="card-title">Learning Journeys</h4>
          <p class="card-text">We are perpetual learners! Continuous growth is the cornerstone of success throughout the TBWA Collective</p>
        </div>
      </a>
    </div>
  </div>
</div>
