<div class="document-creative-project-home-action">
  <ng-template #dynamicTarget></ng-template>
</div>
<div class="document-creative-project-home-nav">
  <document-creative-project-navigation [documentModel]='document' [settings]="navSettings"></document-creative-project-navigation>
</div>
<div class="document-creative-project-home-list">
  <list-search-form-in-dialog [searchParams]="baseParams$ | async" [settings]="searchFormSettingsAsset" [listViewSettings]="listViewSettingsAsset" [listViewBuilder]="listViewBuilderAsset" [afterSearch]="afterSearch"
    (rowSelect)="onSelected($event)"></list-search-form-in-dialog>
</div>
