<div class="backslash-home-search">
  <global-search-form [filters]="filters" [searchParams]="defaultParams">
    <ng-container class="group-right">
      <div class="search-filters global-search-filters right redirect_margin">
        <a href="{{oldBackslashUrl}}" class="advanced-filters-trigger icon_btn share_padding" title="Backslash" target="blank"></a>
      </div>
    </ng-container>
  </global-search-form>
  <backslash-document-asset-search-result [layout]="layout" [selectedView]="currentView"></backslash-document-asset-search-result>
</div>
