<div class="picture-select">
  <div class="prev left" (click)="moveLeft()"><a href="javascript:;"></a></div>
    <drag-scroll class="gallery-list "
          drag-scroll-y-disabled="true"
          scrollbar-hidden="true"
          (dsInitialized)="onDragScrollInitialized()"
          (indexChanged)="onIndexChanged($event)"
          (reachesLeftBound)="leftBoundStat($event)"
          (reachesRightBound)="rightBoundStat($event)"
          (snapAnimationFinished)="onSnapAnimationFinished()"
          #gallery>
      <div drag-scroll-item *ngFor="let image of images" (click)="clickItem(image)" [title]="image.getName()" class="list-item">
        <img [src]="image.getSource()" />
      </div>
    </drag-scroll>
  <div class="next left" (click)="moveRight()"><a href="javascript:;"></a></div>
</div>
