.document-creative-project-info {
  background-color: #e1e1e1;
  padding: 5px;
  margin-top: 5px;
}
.actions-title {
  font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
  font-size: 18px;
  text-align: center;
  background-color: #fecc00;
  line-height: 30px;
  color: #ffffff;
}
