<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-home-search [headline] = 'headline' [subHead] = 'subHead' [backgroudDocument]="backgroudDocument"></tbwa-home-search>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-home-gallery></tbwa-home-gallery>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-agency-thumbnail></tbwa-agency-thumbnail>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-brand-thumbnail></tbwa-brand-thumbnail>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-recommend-brand-thumbnail></tbwa-recommend-brand-thumbnail>
</div>
