<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-home-search-form [redirectUrl]="'/p/search/creative/asset'" [headline]="headline" [subHead]="subHead" [placeholder]="placeholder" [backgroudDocument]="backgroudDocument" [params]="params"></tbwa-home-search-form>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-home-gallery></tbwa-home-gallery>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-agency-thumbnail></tbwa-agency-thumbnail>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <tbwa-recommend-brand-thumbnail></tbwa-recommend-brand-thumbnail>
</div>
