@import '../../../shared/global-search-result/thumbnail-view.scss';

.brand-thumbnail {
  width: 100%;
  padding: 0 30px;
	margin-top: 45px;
  box-sizing: border-box;
  h1 {
    font-family: 'Averta for TBWA W01 Black', helvetica, arial;
		font-size: 35px;
		margin: 0 0 40px 30px;
  }
  .see_all {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    font-size: 18px;
    margin: 11px 30px 0 0;
    color: #afafaf;
    &:hover { color: #afafaf; }
  }
}
