<div class="brand-thumbnail">
  <h1 class="left">Brands</h1>
  <a [routerLink]="['/p/search/creative/popularBrand']" class="see_all right">See all</a>
  <a [routerLink]="['/p/search/creative/myBrand']" class="see_all right">My brands</a>
  <div class="clear"></div>
  <document-thumbnail-view [loading]="loading" [layout]="layout" [templateRef]="thumbnailItemView" [documents]="documents"></document-thumbnail-view>
</div>
<div class="clear"></div>

<ng-template #thumbnailItemView let-doc="doc">
  <div class="image-holder">
    <a [routerLink]="['/p/search/creative/popularBrandAsset', doc.uid]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}">
      <div class="description">
        <h1 [title]="doc.title">{{doc.title}}</h1>
      </div>
    </a>
  </div>
</ng-template>
