<ng-container [formGroup]="group">
  <gallery-upload
      [formControlName]="model.field"
      [id]="id"
      [settings]="model.settings"
      [attr.disabled]="model.disabled"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)"
      (onUpload)="onCustomEvent($event, 'GALLERY_UPLOAD')"
      >
  </gallery-upload>
</ng-container>
