<vg-player (onPlayerReady)="onPlayerReady($event)">

  <vg-overlay-play vgFor="documentVideo"></vg-overlay-play>

  <vg-controls>
    <vg-play-pause></vg-play-pause>

    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

    <vg-mute></vg-mute>
    <vg-volume></vg-volume>

    <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video [vgMedia]="video" #video id="documentVideo" preload="auto" [poster]="poster">
    <source *ngFor="let videoSource of videoSources" [src]="videoSource['source']" [type]="videoSource['type']">
  </video>
</vg-player>
<div class="tools right">
  <a href="javascript:;" class="share">Share</a>
  <a href="javascript:;" class="like">Like</a>
  <!-- <div class="review">
    <a href="javascript:;"><img src="images/happy.png" alt=""></a>
    <a href="javascript:;"><img src="images/joy.png" alt=""></a>
    <a href="javascript:;"><img src="images/surprised.png" alt=""></a>
    <a href="javascript:;"><img src="images/sad.png" alt=""></a>
    <a href="javascript:;"><img src="images/scared.png" alt=""></a>
  </div> -->
  <a href="javascript:;" class="save">Save</a>
  <a href="javascript:;" class="expand">Expand</a>
</div>
<div class="clear"></div>
