<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <!-- <tbwa-home-search></tbwa-home-search> -->
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-image-gallery></tbwa-image-gallery>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-thumbnail-view></tbwa-thumbnail-view>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-thumbnail-view></tbwa-thumbnail-view>
  </div>
</div>
