<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-home-search></tbwa-home-search>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-home-gallery></tbwa-home-gallery>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-agency-thumbnail></tbwa-agency-thumbnail>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <tbwa-brand-thumbnail></tbwa-brand-thumbnail>
  </div>
</div>
