.inline-middle {
	display: inline-block;
	vertical-align: middle;
}

.dialog_title {
	height: 80px;
	padding: 24px 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 32px;
	background: #000000;

	h5 {
		color: #ffffff;
		text-align: center;
		line-height: 32px;
	}

	a {
		display: block;
		width: 32px;
		height: 32px;
		float: left;

		img {
			display: block;
			width: 100%;
			cursor: pointer;
		}
	}
}
.dialog_body {
	min-width: 500px;
	height: 80vh;
	overflow: auto;
	background-color: #ffffff;

	.form {
		width: 100%;
		padding: 10px 20px;
	}

	.text_content {
		font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
		padding: 15px 20px;
		background: #ffffff;
		font-size: 24px;
		box-sizing: border-box;
		.form-control:focus {
			border: 2px solid #fecc01;
		}
		img {
		margin-left: 33px;
		margin-right: 27px;
		}

		p {
		width: calc(100% - 254px);
		margin: 49px auto 0;
		}
	}
	.action_content {
		padding: 10px 20px;
		box-sizing: border-box;
		.btn {
			color: #000000;
			margin-right: 10px;
			background: #fecc01;
			cursor: pointer;
		}
	}
}
