<div *ngIf="isPackage">
  <div class="text-content pure-text">
    <document-form [document]="document" [formMode]="formMode" [settings]="settings" [beforeSave]="beforeSave" [afterSave]="afterSave" [hasResetForm]="'true'" (callback)="onCallback($event)"></document-form>
  </div>
</div>
<div class="document-creative-project-related-asset">
  <list-search-form [searchParams]="baseParams$ | async" [settings]="searchFormSettings" [listViewSettings]="listViewSettings" [listViewBuilder]="listViewBuilder" (onSelected)="onSelected($event)">
  </list-search-form>
</div>
