<div class="drag-drop-file-zone">
  <div class="batch-upload-zone" ngFileDrop [multiple]="uploadSettings.multiUpload" [queueLimit]="uploadSettings.queueLimit" (filesChange)="onFilesChange($event)" [(validDrag)]="validComboDrag" [(files)]="files"
    [accept]="uploadSettings.acceptTypes"
    [maxSize]="uploadSettings.maxSize"
    class="file-drop-zone"
    [class.invalid-drag]="validComboDrag === false" [class.valid-drag]="validComboDrag" [fileDropDisabled]="disalbed">
    <div><strong>{{uploadSettings.placeholder}}</strong></div>
  </div>
</div>
