<div class="drag-drop-file-zone">
  <div [ngClass]="['file-drop-zone', uploadSettings.layout]"
          ngFileDrop
          [multiple]="uploadSettings.multiUpload"
          [queueLimit]="uploadSettings.queueLimit"
          [accept]="uploadSettings.acceptTypes"
          [maxSize]="uploadSettings.maxSize"
          [class.invalid-drag]="validComboDrag === false"
          [class.valid-drag]="validComboDrag"
          [fileDropDisabled]="disalbed"
          (filesChange)="onFilesChange($event)"
          [(validDrag)]="validComboDrag"
          [(files)]="files"
          [ngStyle]="uploadSettings.dragZoneStyle"
    >
    <div class="placeholder" [ngStyle]="uploadSettings.placeholderClass"><strong>{{uploadSettings.placeholder}}</strong></div>
  </div>
  <div class="message" *ngIf="message"><strong>{{message}}</strong></div>
  <div class="files" *ngIf="uploadSettings.enableFileList">
    <ul>
      <li *ngFor="let file of files" class="file-name">{{ file.name }}</li>
    </ul>
  </div>
</div>
