<div class="picture-select">
  <div class="error-message" *ngIf="(uploadStatus$ | async)?.itemChanged && (!uploadItems || uploadItems.length === 0)">
    <p>{{uploadSettings.errorMessage}}</p>
  </div>
  <div class="clipboard-message" *ngIf="uploadSettings.enableClipboard">
    <p>{{uploadSettings.clipboardPlaceholder}}</p>
  </div>
  <div class="prev left" (click)="moveLeft()"><a href="javascript:;"></a></div>
  <drag-scroll #gallery class="gallery-list" drag-scroll-y-disabled="true" scrollbar-hidden="true" (paste)="onPaste($event)">
    <div drag-scroll-item *ngFor="let response of uploadItems; let i = index" [ngClass]="{'item-selected': response.item.selected}" (click)="selectItem(i, response.item)" [title]="response.item.getName()" class="list-item">
      <span class="upload-info">{{ response.fileSize/1024/1024 | number:'.2' }} MB, {{ response.percentLoaded }}%</span>
      <div class="img-info" [attr.source-info]="response.item.getSrc()"><img [src]="getSafeImagePath(response.item.getSource())" /></div>
    </div>
  </drag-scroll>
  <div class="next right" (click)="moveRight()"><a href="javascript:;"></a></div>
</div>
