<gallery id="pictureGallery" [thumbTemplate]="thumbTemplate" (indexChange)="onIndexChange($event)" (playingChange)="onPlayingChange($event)" [itemTemplate]="itemTemplate" (customEvent)="onCustomEvent($event)"></gallery>
<ng-template #thumbTemplate let-type="type">
  <span *ngIf="type === 'video'" class="item-type">
    <i class="fas fa-play"></i>
  </span>
</ng-template>
<ng-template #itemTemplate let-index="index" let-data="data">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="gallerySettings.enableTitle">
      <a *ngIf="gallerySettings.enableOuterLink && data.link" href={{data.link}}><span class="item-text" (click)="onClick(index)">{{data.title}}</span></a>
      <a *ngIf="!gallerySettings.enableOuterLink && !gallerySettings.assetUrl" href="javascript:;"><span class="item-text" (click)="onClick(index)">{{data.title}}</span></a>
      <a *ngIf="!gallerySettings.enableOuterLink && gallerySettings.assetUrl" [routerLink]="[getAssetUrl(data.uid)]" [queryParams]="queryParams[index]"><span class="item-text" (click)="onClick(index)">{{data.title}}</span></a>
    </ng-container>
    <ng-container *ngIf="!customTemplate">
      <span class="item-description">{{data.description}}</span>
    </ng-container>
    <div *ngIf="customTemplate" class="custom-template">
      <ng-container *ngTemplateOutlet="customTemplate; context: { doc: data.doc }"></ng-container>
    </div>
  </ng-container>
</ng-template>
