@import '../../../core/nebular/theme/styles/global/breakpoints';

::ng-deep {
	gallery {
		height: 100%!important;
	}
	gallery-core {
		display: block!important;
	}
	.g-box,
	gallery-slider {
		position: relative!important;
		display: block!important;
	}
	// gallery-nav {
	// 	position: absolute;
	// 	display: block;
	// 	width: 100%;
	// 	height: 50px;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: auto;
	// 	right: auto;
	// 	margin: auto;
	// 	background-repeat: no-repeat;
	// 	background-position: top left;
	// 	background-size: cover;
	// 	z-index: 1000;
	// }
	gallery-dots {
    transform: none!important;
    bottom: 31px!important;
		right: 45px!important;
	}
	gallery-counter { display: none!important; }
	.item-text {
		font-family: 'Averta for TBWA W01 Black', helvetica, arial;
		position: absolute;
		display: inline-block;
		color: #ffffff;
		top: 60px;
		left: 73px;
		font-size: 35px;
  }
  .item-description {
    font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
    position: absolute;
    display: inline-block;
		color: #ffffff;
		// @include media-breakpoint-down(md) {
		// 	// < 768px
		// 	top: calc(576px * 9 / 16 - 50px);
		// }
		// @include media-breakpoint-between(md, lg) {
		// 	//768px - 992px
		// 	top: calc(768px * 9 / 16 - 50px);
		// }
		// @include media-breakpoint-between(lg, xl) {
		// 	// 992px - 1200px
		// 	top: calc(992px * 9 / 16 - 50px);
		// }
		// @include media-breakpoint-between(xl, xxxl) {
		// 	// 1200px - 1600px
		// 	top: calc(1200px * 9 / 16 - 170px);
		// }
		// @include media-breakpoint-up(xxxl) {
		// 	// > 1600px 
		// 	top: calc(100vw * 9 / 16 - 200px);
		// }

		@media only screen and (max-width: 900px) {
			// < 900px
			top: calc(900px * 9 / 16 - 50px);
		}
		@media screen and (min-width: 900px) and (max-width: 1000px) {
			//900px - 1000px
			top: calc(900px * 9 / 16 - 50px);
		}
		@media screen and (min-width: 1000px) and (max-width: 1200px) {
			// 1101px - 1200px
			top: calc(1000px * 9 / 16 - 50px);
		}
		@media screen and (min-width: 1200px) and (max-width: 1300px) {
			// 1201px - 1300px
			top: calc(1200px * 9 / 16 - 160px);
		}
		@media screen and (min-width: 1300px) and (max-width: 1400px) {
			// 1301px - 1400px
			top: calc(1300px * 9 / 16 - 220px);
		}
		@media screen and (min-width: 1400px) and (max-width: 1500px) {
			// 1401px - 1500px
			top: calc(1400px * 9 / 16 - 270px);
		}
		@media screen and (min-width: 1500px) and (max-width: 1600px) {
			// 1501px - 1600px
			top: calc(1500px * 9 / 16 - 270px);
		}
		@include media-breakpoint-up(xxxl) {
			// > 1600px 
			top: calc(100vw * 9 / 16 - 270px);
		}
    left: 73px;
		font-size: 18px;
  }
	.g-nav-prev {
		left: 31px!important;
	}
	.g-nav-next {
		right: 31px!important;
	}
	.g-dot { margin-left: 18px; }
	.g-dot-inner {
		width: 10px!important;
		height: 10px!important;
		background-color: rgba(255, 255, 255, 0.8)!important;
	}
	.g-dot-active .g-dot-inner { background-color: #fecc01!important; }
	gallery-core[imageSize='contain'] gallery-slider .g-image-item {
		// background-size: cover!important;
	}
}
