@import '../../../core/nebular/theme/styles/global/breakpoints';

::ng-deep {
	gallery {
		height: 100%!important;
	}
	gallery-core {
		display: block!important;
	}
	.g-box,
	gallery-slider {
		position: relative!important;
		display: block!important;
	}
	// gallery-nav {
	// 	position: absolute;
	// 	display: block;
	// 	width: 100%;
	// 	height: 50px;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: auto;
	// 	right: auto;
	// 	margin: auto;
	// 	background-repeat: no-repeat;
	// 	background-position: top left;
	// 	background-size: cover;
	// 	z-index: 1000;
	// }
	gallery-dots {
    transform: none!important;
    bottom: 31px!important;
		right: 45px!important;
	}
	gallery-counter { display: none!important; }
	.item-text {
		font-family: 'Averta for TBWA W01 Black', helvetica, arial;
		position: absolute;
		display: inline-block;
		color: #ffffff;
		top: 60px;
		left: 73px;
		font-size: 35px;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.85);
  }
  .item-description {
    font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
    position: absolute;
    display: inline-block;
		color: #ffffff;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.85);
		bottom: 30px;
    left: 73px;
		font-size: 18px;
  }
	.g-nav-prev {
		left: 31px!important;
	}
	.g-nav-next {
		right: 31px!important;
	}
	.g-dot { margin-left: 18px; }
	.g-dot-inner {
		width: 10px!important;
		height: 10px!important;
		background-color: rgba(255, 255, 255, 0.8)!important;
	}
	.g-dot-active .g-dot-inner { background-color: #fecc01!important; }
	gallery-core[imageSize='contain'] gallery-slider .g-image-item {
		// background-size: cover!important;
	}
}
