<gallery id="pictureGallery" [thumbTemplate]="thumbTemplate" [itemTemplate]="itemTemplate" (customEvent)="onCustomEvent($event)"></gallery>
<ng-template #thumbTemplate let-type="type">
  <span *ngIf="type === 'video'" class="item-type">
    <i class="fas fa-play"></i>
  </span>
</ng-template>
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
  <a [routerLink]="[assetUrl, data.uid]" [queryParams]="queryParams[index]">
    <span class="item-text" (click)="onClick(index)">{{data.title}}</span>
  </a>
  <span class="item-description">{{data.description}}</span>
</ng-template>
