<gallery id="pictureGallery" [thumbTemplate]="thumbTemplate" (playingChange)="onPlayingChange($event)" [itemTemplate]="itemTemplate" (customEvent)="onCustomEvent($event)"></gallery>
<ng-template #thumbTemplate let-type="type">
  <span *ngIf="type === 'video'" class="item-type">
    <i class="fas fa-play"></i>
  </span>
</ng-template>
<ng-template #itemTemplate let-index="index" let-data="data">
  <ng-container *ngIf="galleryType === 'disruption' && !!data.outerLink">
    <a href={{data.outerLink}}><span class="item-text" (click)="onClick(index)">{{data.title}}</span></a>
  </ng-container>
  <ng-container *ngIf="galleryType === 'disruption' && !data.outerLink">
    <a href="javascript:void(0)"><span class="item-text" (click)="onClick(index)">{{data.title}}</span></a>
  </ng-container>
  <ng-container *ngIf="galleryType === 'creative' || (displayTitle && galleryType === 'backslash')">
    <a [routerLink]="[assetUrl, data.uid]" [queryParams]="queryParams[index]"><span class="item-text" (click)="onClick(index)">{{data.title}}</span></a>
  </ng-container>
  <ng-container *ngIf="!['backslash', 'creative'].includes(galleryType)">
    <span class="item-description">{{data.description}}</span>
  </ng-container>
  <div *ngIf="customTemplate" class="custom-template">
    <ng-container *ngTemplateOutlet="customTemplate; context: { doc: data.doc }"></ng-container>
  </div>
</ng-template>
