<div [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="document" class="document">
    <section class="general">
      <div class="showcase left">
        <document-viewer [document]="document" [styleName]="'creative-asset'"></document-viewer>
        <document-action-group [document]="document" [enableThumbnailCreation]="enableThumbnailCreation" [styleName]="'creative-asset'"></document-action-group>
        <document-related-campaign [document]="document" [styleName]="'creative-asset'"></document-related-campaign>
      </div>
      <div class="general_info left">
        <document-metadata-info [document]="document"></document-metadata-info>
      </div>
      <div class="clear"></div>
    </section>
    <section class="additional_info">
      <document-additional-info [document]="document"></document-additional-info>
    </section>
    <section class="related">
      <document-related-info [document]="document"></document-related-info>
    </section>
    <section class="more">
      <ng-container *ngIf="hasReleatedBrands()">
        <document-related-brand [document]="document"></document-related-brand>
      </ng-container>
      <ng-container *ngIf="hasReleatedAgency()">
        <document-related-agency [document]="document"></document-related-agency>
      </ng-container>
    </section>
  </div>
</div>
