<div class="backslash-trigger-header">
  <div class="top-bar">
    <div class="left logo">
      <div [routerLink]="['/p/backslash/trigger']" title="Trigger Submission Tool" class="logo-area"></div>
      <h1 [routerLink]="['/p/backslash/trigger']" title="Trigger Submission Tool">Trigger Submission Tool</h1>
    </div>
    <div class="left flex">
      <nb-actions size="medium">
        <nb-action>
          <nb-user [name]="user.username" [picture]="user.avatar" [title]="user.username" [routerLink]="['/p/backslash/trigger/preference']"></nb-user>
        </nb-action>
      </nb-actions>
    </div>
    <div class="clear"></div>
  </div>
</div>
