<div class="disruption-home-form">
  <home-search-form [assetUrlMapping]="assetUrlMapping" [redirectUrl]="'/p/search/disruption/asset/'" [headline]="headline" [extraHeadline]="extraHeadline" [subHead]="subHead" [placeholder]="placeholder" [params]="params">
  </home-search-form>
</div>
<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document flex third">
  <div *ngFor="let document of folders">
    <div class="thumbnail-view">
      <h1 [title]="document.title"><a [routerLink]="['/p/disruption', document.title]">{{document.title}}</a></h1>
      <div class="image-holder">
        <a [routerLink]="['/p/disruption', document.title]" [ngStyle]="{'background-image': 'url('+document.thumbnailUrl+')'}"></a>
      </div>
      <!-- <div class="description">
        <h1 [title]="document.title"><a [routerLink]="['/p/disruption', document.title]">{{document.title}}</a></h1>
      </div> -->
    </div>
  </div>
</div>
