.learning-banner {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
 }
 .learning-description {
    text-align: center;
    font-size: x-large;
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    color: black;
    margin: 19px 0;
    height: 55px;
    line-height: 55px;
 }
