<ng-container [formGroup]="group">
  <directory-suggestion
      [formControlName]="model.id"
      [id]="elementId"
      [document]="model.document"
      [settings]="model.settings"
      [attr.disabled]="model.disabled"
      [afterSearch]="model.afterSearch"
      [onResponsed]="model.onResponsed"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)">
  </directory-suggestion>
</ng-container>
