<ng-container [formGroup]="group">
  <directory-suggestion
      [formControlName]="model.id"
      [id]="elementId"
      [placeholder]="model.placeholder"
      [directoryName]="model.directoryName"
      [providerName]="model.providerName"
      [suggestion]="model.suggestion"
      [contains]="model.contains"
      [multiple]="model.multiple"
      [ngClass]="[getClass('element', 'control'), getClass('grid', 'control')]"
      [required]="model.required"
      [tabindex]="model.tabIndex"
      (blur)="onBlur($event)"
      (change)="onChange($event)"
      (focus)="onFocus($event)">
  </directory-suggestion>
</ng-container>
