<div class="creative-project-asset-deliverable">
  <div class="page-title">Production Deliverables</div>
  <div class="page-content">
    <nb-tabset fullWidth (changeTab)="onChangTab($event)">
      <nb-tab *ngFor="let item of tabItems" [active]="currentTab && currentTab.name === item.name" tabTitle="{{item.name}}" class="nb-tab" responsive>
        <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
      </nb-tab>
    </nb-tabset>
  </div>
</div>
<ng-template #assetItemView>
  <document-creative-project-related-asset [document]="document" [listViewOptions]="listViewOptionsAsset"></document-creative-project-related-asset>
</ng-template>
<ng-template #newPackageItemView>
  <document-creative-project-asset-package  [documentModel]="document" [formMode]="'create'" (onResponsed)="onResponse($event)"></document-creative-project-asset-package>
</ng-template>
<ng-template #packageListItemView>
  <document-creative-project-delivery-package  [document]="document"></document-creative-project-delivery-package>
</ng-template>
