<div class="creative-project-asset-deliverable">
  <div class="page-title">Production Deliverables</div>
  <div class="page-content">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Assets">
        <document-creative-project-related-asset [documentModel]="document" [listViewOptions]="listViewOptionsAsset"></document-creative-project-related-asset>
      </nb-tab>
      <nb-tab tabTitle="New Package">
        <document-creative-project-related-asset [documentModel]="document" [listViewOptions]="listViewOptionsPackage" [formMode]="'create'" (onResponsed)="onResponse($event)"></document-creative-project-related-asset>
      </nb-tab>
      <nb-tab tabTitle="Delivery Package">
        <document-creative-project-delivery-package [document]="document"></document-creative-project-delivery-package>
      </nb-tab>
    </nb-tabset>
  </div>
</div>
