<div class="document-action-group {{styleName}}">
  <ng-container *ngIf="downloadPermission$ | async">
    <a *ngIf="documentModel.filePath" href="{{documentModel.filePath}}" (click)="googleAnalyticsTrackLink(documentModel, 'Download', 'File')" class="download right btn" title="Download">Download</a>
  </ng-container>
  <ng-container *ngIf="!isCreativeVideoAsset(documentModel) && downloadPermission$ | async">
    <a href="{{documentModel.previewUrl}}" (click)="googleAnalyticsTrackLink(documentModel, 'Preview')" class="preview right btn" title="Preview" target="_blank">Preview</a>
  </ng-container>
  <ng-container *ngIf="isNeedSendDownloadRequest(documentModel) && (downloadPermission$ | async) === false">
    <a href="javascript:;" (click)="openDialog(dialog)" class="download right btn">Download Request</a>
  </ng-container>
  <a href="javascript:;" nbPopoverPlacement="bottom" [nbPopover]="popContent" title="Share" class="right btn">Share</a>
  <document-new-poster-button [ngClass]="['right', (enableThumbnailCreation ? 'poster' : '')]" [document]="documentModel" [enable]="enableThumbnailCreation"></document-new-poster-button>
  <a href="javascript:;" (click)="goBack()" class="back left btn" title="Back">Back</a>
  <div class="clear"></div>
</div>

<ng-template #popContent>
  <document-share-button [document]="documentModel"></document-share-button>
</ng-template>
<ng-template #dialog>
  <global-document-dialog [settings]="dialogSettings" [documentModel]="documentModel" [title]="'Download Request'"></global-document-dialog>
</ng-template>
