.edges {
  ul {
    width: 80px;
    float: left;
    button {
      border: none;
      background: none;
    	img {
        margin: 20px 0;
        width: 70px;
        height: 78px;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      }
    }
  }
}
.edgeHover {
  margin: 10px;
  max-width: 50vw;
  min-width: 20vw;
  h5 { font-size: calc(17.5px * 1.25); }
  p { font-size: calc(14px * 1.25); }
}
