<nb-card class="nb-card">
  <nb-route-tabset fullWidth [tabs]="tabs"></nb-route-tabset>
  <div *ngIf="document && asset">
    <disruption-folders-view [document]="asset"></disruption-folders-view>
    <div class="document">
      <section class="general">
        <div class="showcase left">
          <tbwa-document-viewer [document]="asset"></tbwa-document-viewer>
        </div>
        <div class="general_info left">
          <tbwa-document-metadata-info [document]="asset"></tbwa-document-metadata-info>
        </div>
        <div class="clear"></div>
      </section>
      <section class="additional_info">
        <tbwa-document-additional-info [document]="asset"></tbwa-document-additional-info>
      </section>
      <section class="related">
        <tbwa-document-related-info [document]="asset"></tbwa-document-related-info>
      </section>
    </div>
  </div>
</nb-card>
