<div class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="doc" class="property-section">
    <a href="javascript:;" (click)="goBack()" class="property-intro inline-top">
      <div [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></div>
    </a>
    <div class="property-info inline-top">
      <h1 class='heading' [class.folder-name-heading]="!showFolderInfo">{{ doc.title }}</h1>
      <ng-container *ngIf="showFolderInfo">
        <br><br>
        <div>Date: {{doc.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC'}}</div>
        <div>Industry: {{ doc.get('app_Edges:industry') }}</div>
        <div>Geography: {{ doc.get('app_Edges:Relevant_Country')}}</div>
        <div>Brand: {{ doc.get('The_Loupe_Main:brand')}}</div>
        <div>Agency: {{ doc.get('The_Loupe_Main:agency')}}</div>
        <div>Edges: {{ doc.get('app_Edges:Tags_edges') }}</div>
      </ng-container>

      <button type="button" (click)="goBack()" class="icon_btn left">Back to parent</button>
      <ng-container *ngIf="writePermission$ | async">
        <button type="button" (click)="openDialog(editDialog)" class="icon_btn left">Edit</button>
      </ng-container>
      <ng-container *ngIf="deletePermission$ | async">
        <button type="button" (click)="openDialog(deleteDialog)" class="icon_btn left">Delete</button>
      </ng-container>
      <div class="clear"></div>
    </div>
  </div>
</div>

<ng-template #editDialog>
  <global-document-dialog [settings]="dialogSettings" [documentModel]="doc" [metadata]="dialogMetadata" [title]="editTitle" [redirectUrl]="editRedirectUrl"></global-document-dialog>
</ng-template>
<ng-template #deleteDialog>
  <global-document-dialog [settings]="deleteDialogSettings" [documentModel]="doc" [metadata]="dialogMetadata" [title]="deleteTitle" [redirectUrl]="deleteRedirectUrl"></global-document-dialog>
</ng-template>
