mat-chip-list {
  outline: 0 !important;
  &:focus {
    outline: 0 !important;
  }
}
.mat-standard-chip {
	padding: 3px!important;
	min-height: 23px;
}
mat-chip {
	font-size: 0.9em;
  margin-bottom: 5px;
  margin-right: 5px;
	border-radius: 2px;
	background-color: #ebf5ff;
	span {
		display: inline-block;
		font-size: 0.9em;
		padding: 1px 5px;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		max-width: 400px;
	}
	span.close {
		margin: 0;
		line-height: 15px;
		border-right: 1px solid #b8dbff;
		cursor: pointer;
	}
}
