  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)" [disabled]="disabled">
      <span class="close" matChipRemove (click)="remove(tag)">x</span>
      <span>{{tag}}</span>
    </mat-chip>
    <input
      placeholder="{{placeholder}}"
      class="form-control"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
      (blur)="onBlur($event)"
      >
  </mat-chip-list>
