<mat-chip-list #chipList aria-label="Fruit selection">
  <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="!disabled" (removed)="remove(tag)" [disabled]="true">
    <span class="close" matChipRemove (click)="remove(tag)">x</span>
    <span>{{tag}}</span>
  </mat-chip>
  <ng-container *ngIf="!disabled">
    <input
      placeholder="{{placeholder}}"
      class="form-control"
      [disabled]="disabled"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
      (blur)="onBlur($event)"
      >
    </ng-container>
</mat-chip-list>
