<creative-brand-info-view [loading]="loading" [document]="document"></creative-brand-info-view>
<div class="creative-brand-usage-rights">
  <global-search-form [filters]="filters" [baseParams]="baseParams$ | async" [showInput]="false">
    <ng-container class="group-right">
      <div class="global-search-form-buttons">
      </div>
    </ng-container>
  </global-search-form>
  <creative-usage-rights-search-result [layout]="layout" [selectedView]="'listView'"></creative-usage-rights-search-result>
</div>
