<div *ngIf="!isRelated" class="thumbnail-view-item {{styleClass}}">
  <img src="{{document.thumbnailUrl}}" [alt]="document.title" class="thumbnail-img">
  <div class="description">
    <h1 [tbwaMoreDetail]="document.uid" [title]="document.title">{{document.title}}</h1>
    <h4 class="year">2011</h4>
    <span class="dot"></span>
    <h4 class="client">McDonald's</h4>
    <div class="line"></div>
    <h4 class="agency" title="TBWA\Chiat\Day NY">TBWA\Chiat\Day NY</h4>
    <!-- <span *ngFor='let genre of [this.document.get("dc:description")] | slice:0:6'>{{genre}}</span> -->
  </div>
</div>
<div *ngIf="isRelated" class="thumbnail-view-item {{styleClass}}">
  <div>
    <h1 [tbwaMoreDetail]="document.uid" [title]="document.title">{{document.title}}</h1>
  </div>
  <img src="{{document.thumbnailUrl}}" [alt]="document.title" class="thumbnail-img">
</div>
