<div *ngIf="layout === 'default'" class="thumbnail-view-item {{styleClass}}">
  <a routerLink="/p/document" [queryParams]="{id: document.uid}"><img src="{{document.thumbnailUrl}}" [alt]="document.title" class="thumbnail-img"></a>
  <div class="description">
    <h1 [title]="document.title"><a routerLink="/p/document" [queryParams]="{id: document.uid}">{{document.title}}</a></h1>
    <h4 class="year" [title]="document.get('The_Loupe_ProdCredits:production_date') | date">{{document.get('The_Loupe_ProdCredits:production_date') | date}}</h4>
    <span class="dot"></span>
    <h4 class="client" [title]="document.get('The_Loupe_Main:brand').join(', ')">{{document.get('The_Loupe_Main:brand').join(', ')}}</h4>
    <div class="line"></div>
    <h4 class="agency" [title]="document.get('The_Loupe_Main:agency')">{{document.get('The_Loupe_Main:agency')}}</h4>
  </div>
</div>
<div *ngIf="layout === 'backslash'" class="thumbnail-view-item {{styleClass}}">
  <h4><a routerLink="/p/document" [queryParams]="{id: document.uid}">Wednesday</a></h4>
  <div class="line"></div>
  <h4 class="right" [title]="document.get('The_Loupe_ProdCredits:production_date') | date">{{document.get('The_Loupe_ProdCredits:production_date') | date}}</h4>
  <a routerLink="/p/document" [queryParams]="{id: document.uid}"><img src="{{document.thumbnailUrl}}" [alt]="document.title" class="thumbnail-img"></a>
</div>
