.results {
  img,
  .description {
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 291px;
    height: 144px;
    margin-right: 32px;
  }
  .description {
    h1 {
      font-family: 'Averta for TBWA W01 Bold', Exo;
      font-size: 30px;
      margin: 0;
      margin-bottom: 13px;
      color: #5a5a5a;
    }
    .year, .client, .dot {
      font-family: 'Averta for TBWA W01 Semibold', Exo;
      display: inline-block;
      vertical-align: middle;
      font-size: 25px;
      margin-bottom: 28px;
      color: #5a5a5a;
    }
    .dot {
      width: 7px;
      height: 7px;
      background: #5a5a5a;
      border-radius: 4px;
    }
    .line { display: none; }
    .agency {
      font-family: 'Averta for TBWA W01 Semibold', Exo;
      font-size: 25px;
      margin: 0;
      color: #5a5a5a;
    }
  }
}
.quarter,
.half {
  height: 100%;
  box-sizing: border-box;
  border: solid 1px #e1e1e1;
  img {
    width: 100%;
    height: 290.5px;
  }
  .description {
    padding: 0 13px;
    box-sizing: border-box;
    h1 {
      font-family: 'Averta for TBWA W01 Bold', Exo;
      font-size: 18px;
      margin-top: 22px;
      margin-bottom: 14px;
      &.doubleline { margin-top: 4px; }
    }
    .year, .client, .dot {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
    }
    .dot {
      width: 4px;
      height: 4px;
      background: #000000;
      border-radius: 2px;
    }
    .line {
      width: 100%;
      height: 2px;
      margin: 15px 0;
      background: #ebebeb;
    }
    .agency {
      margin-bottom: 14px;
      font-size: 12px;
    }
  }
}
