.small {
  img {
    width: 100%;
    height:50px;
  }
}

.two-columns {
  img {
    width: 100%;
    height: 80px;
  }
}

.middle {
  img {
    width: 100%;
    height: 80px;
  }
}

.search-list {
  img {
    width: 100%;
    height: 80px;
  }
}
