<nb-route-tabset fullWidth [tabs]="tabs"></nb-route-tabset>
<global-search-form [filters]="filters" [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
  <ng-container class="group-left">
    <div class="global-search-form-buttons d-flex">
      <biz-dev-form-button [parent]="document" [type]="'thought asset'" [title]="'New Asset'"></biz-dev-form-button>
    </div>
  </ng-container>
</global-search-form>
<biz-dev-folder-view [loading]="loading" [assetUrl]="'/p/business-development/Thought Leadership/folder/'" [deleteRedirectUrl]="'/p/business-development/Thought Leadership/'" [document]="document"></biz-dev-folder-view>
<biz-dev-thought-leadership-folder-asset-search-result [showDialog]="'true'" [folderId]="document?.uid"></biz-dev-thought-leadership-folder-asset-search-result>
