<div class="dialog-title text-center">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{document.title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-body info-card">
  <ng-container *ngIf="document">
    <div class="headshot" [ngStyle]="{'background-image': 'url('+getFacebookUrl(document)+')'}"></div>
    <div class="text-area">
      <table>
        <tbody>
          <tr>
            <th>Name:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Title:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Discipline:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Program(s):&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Brands Worked On:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Agencies:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Languages:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
          <tr>
            <th>Contact Info:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <td>{{ document.title }}</td>
          </tr>
        </tbody>
      </table>
      <div>Video</div>
    </div>
    <div class="clear"></div>
  </ng-container>
</div>