.info-card {
    width: 84%;
    margin: 30px 8%;
    text-align: center;
}
.headshot {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: calc(50% - 50px);
}
.text-area {
    text-align: left;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 11px;
    min-height: 370px;
    margin: 30px 0;
}
.info-table-left {
    width: 58%;
    float: left;
}
.info-table-right {
    width: 42%;
    float: right;
}
.info-name {
    width: 240px;
    line-height: 28px;
    font-size: 28px;
    float: left;
    height: 28px;
}
.active {
    background-color: #8aa56d;
    border-radius: 4px;
    width: 65px;
    color: white;
    float: left;
    text-align: center;
    margin-left: 15px;
    height: 28px;
    line-height: 28px;
    font-family: 'Averta for TBWA W01 Bold';
}
.info-icon {
    width: 30px;
    height: 30px;
    float: left;
    margin: 2px 3px;
}
.icon-mail {
    background-image: url('/assets/images/mail.png');
    background-size:30px 30px;
}
.icon-phone {
    background-image: url('/assets/images/cell-phone.png');
    background-size:30px 30px;
}
.icon-linkedin {
    background-image: url('/assets/images/linkedin.png');
    background-size:30px 30px;
}
.icon-facebook {
    background-image: url('/assets/images/facebook.png');
    background-size:30px 30px;
}
.icon-twitter {
    background-image: url('/assets/images/twitter.png');
    background-size:30px 30px;
}
.float-left {
    float: left;
}
.right-info-top {
    width: 100%;
    height: 40px;
}
.user-main-info {
    float: left;
    width: 40%;
}
.main-info-text {
    float: left;
    width: 50%;
}
.contact-info {
    height: 28px;
    font-size: 19px;
    font-weight: bold;
}
.info-table-left th {
    width: 45%;
    font-size: 18px;
}
.icon-info-type {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 80%;
}
.icon-info-content {
    width: 80%;
    min-height: 21px;
}
.glp-area {
    text-align: left;
    padding: 20px;
    border: 1px solid #e6e6e6;
    min-height: 100px;
    margin: 30px 0;
}
.glp-type {
    width: 9%;
    float: left;
}
.glp-content {
    width: 40%;
    float: left;
}
