<div class="product-information">
  <h4 class='title'>PRODUCTION INFORMATION</h4>
  <div *ngIf="!showForm" class="document">
    <div class="one-row">
      <table>
        <tbody>
          <tr>
            <th>Client</th>
            <th>Brand</th>
            <th>Product</th>
            <th>Job Number</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>{{ document.get('The_Loupe_Main:clientName') }}</td>
            <td>{{ document.get('The_Loupe_Main:brand') }}</td>
            <td>{{ document.get('The_Loupe_Main:productModel') }}</td>
            <td>{{ document.get('The_Loupe_Main:jobnumber') }}</td>
            <td>{{ document.get('The_Loupe_ProdCredits:production_date') }}</td>
          </tr>
          <tr>
            <th>LIFT 1 ID#</th>
            <th>TITLE OF LIFT 1</th>
            <th></th>
            <th></th>
            <th>Length</th>
          </tr>
          <tr>
            <td>{{ document.get('The_Loupe_ProdCredits:lift_id_1') }}</td>
            <td>{{ document.get('The_Loupe_ProdCredits:lift_id_1_title') }}</td>
            <td></td>
            <td></td>
            <td>{{ document.get('The_Loupe_ProdCredits:lift_id_1_length') }}</td>
          </tr>
          <tr>
            <th>LIFT 2 ID#</th>
            <th>TITLE OF LIFT 2</th>
            <th></th>
            <th></th>
            <th>Length</th>
          </tr>
          <tr>
            <td>{{ document.get('The_Loupe_ProdCredits:lift_id_2') }}</td>
            <td>{{  document.get('The_Loupe_ProdCredits:lift_id_2_title') }}</td>
            <td></td>
            <td></td>
            <td>{{ document.get('The_Loupe_ProdCredits:lift_id_2_length') }}</td>
          </tr>
          <tr>
            <th>TYPE</th>
            <th></th>
            <th></th>
            <th>Producer</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <div *ngIf="document.get('The_Loupe_Rights:contract_items_usage_types').length > 0">
                <div *ngFor="let contract of document.get('The_Loupe_Rights:contract_items_usage_types')">
                  <span>{{ contract.media_usage_type }}</span>
                  <!-- <span>{{ contract.start_airing_date }}</span> -->
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>{{ document.get('The_Loupe_Credits:producer') }}</td>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Business Manager</th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ document.get('The_Loupe_Credits:businessManager') }}</td>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Talent Manager</th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ document.get('The_Loupe_Credits:talentManager') }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="showForm" class="document">
    <document-form [user]="currentUser" [document]="document" [settings]="formSettings" (callback)="onCallback($event)"></document-form>
  </div>
  <button nbButton outline class="btn edit-btn" (click)="changeView()">Edit</button>
</div>
<hr>
