.slides {
  position: relative;
  min-height: 400px;
}
.dialogSlides {
	position: relative;
  min-height: 400px;
	overflow: auto;
}
document-audio-viewer {
  position: relative;
  display: block;
  height: 400px;
}
