<intelligence-folder-view [loading]="loading" [document]="document"></intelligence-folder-view>
<global-search-form [filters]="filters" [beforeSearch]="beforeSearch" [searchParams]="baseParams$ | async" [settings]="searchFormSettings">
  <div class="filters">
    <input class="keyword" [autofocus]='searchFormSettings.autofocus' [placeholder]="placeholder" (keyup)="onKeyup($event)" />
  </div>
</global-search-form>
<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="resultView === 'folder'">
    <intelligence-industry-search-result></intelligence-industry-search-result>
  </ng-container>
  <ng-container *ngSwitchCase="resultView === 'asset'">
    <intelligence-document-asset-search-result></intelligence-document-asset-search-result>
  </ng-container>
</ng-container>
