<intelligence-folder-view [loading]="loading" [document]="document"></intelligence-folder-view>
<global-search-form [filters]="filters" [beforeSearch]="beforeSearch" [searchParams]="baseParams$ | async" [settings]="searchFormSettings"></global-search-form>
<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="documentType == 'Industry'">
    <intelligence-industry-search-result [folderId]="document.uid" [afterSearch]="afterSearch"></intelligence-industry-search-result>
  </ng-container>
  <ng-container *ngSwitchCase="documentType !== 'Industry'">
    <intelligence-document-asset-search-result></intelligence-document-asset-search-result>
  </ng-container>
</ng-container>
