.button {
  padding: 15px 0 45px;
}

.button div {
  font-size: 15px;
  width: fit-content;
  color: black;
  background-color: #e1e1e1;
  margin: 0 auto;
  font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
  padding: 5px 55px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  cursor: pointer;
}
