<div class="button-group-buttons">
  <ng-container *ngIf="enableSliderBar">
    <div class="button-group-slider">
      <ng5-slider class="image-zoom-slider" [(value)]="sliderDefaultValue" [options]="sliderOptions" (userChange)="sliderValueChanged($event)"></ng5-slider>
    </div>
  </ng-container>
  <ng-container *ngIf="enableViewSwitcher">
    <button (click)="changeResultView('thumbnailView')" class="grid_view_trigger icon_btn left" [ngClass]="{'btn-active': currentView === 'thumbnailView'}" title="Grid View">Grid</button>
    <button (click)="changeResultView('listView')" class="list_view_trigger icon_btn left" [ngClass]="{'btn-active': currentView ==='listView'}" title="List View">List</button>
  </ng-container>
</div>
