.document {
  background-color: black;
  padding: 0 5% 1%;
  overflow: auto;

  .page_title {
    height: 80px;
    padding: 24px 0;
    box-sizing: border-box;
    background-color: #000000;
    text-align: center;

    img {
      cursor: pointer;
      height: 100%;
    }
  }
  .showcase {
    background-color: #ffffff;

    > section {
      &.media {
        border-bottom: 5px grey solid;
        margin-bottom: 25px;

        document-viewer {
          width: 100%;
        }
      }
    }
  }
}
