<usage-right-widget [document]="doc"></usage-right-widget>
<ng-container>
  <table>
    <tr>
      <td class='title'>First-Airing</td>
      <td class='title'>Media Usage Types</td>
    </tr>
    <tr>
      <td>{{doc.properties['The_Loupe_Rights:first-airing'] | date:'MMM d, yyyy':'UTC'}}</td>
      <td>{{doc.properties['The_Loupe_Rights:contract_mediatypes']}}</td>
    </tr>
    <tr>
      <td class='title' colspan='2'>Asset Country</td>
    </tr>
    <tr>
      <td colspan='2'>{{doc.properties['The_Loupe_Main:country']}}</td>
    </tr>
    <tr>
      <td class='title'>No Talent Contract?</td>
      <td class='title'>Talent Contracts</td>
    </tr>
    <tr>
      <td>{{noContract('App-Library-UsageRights-Talent')}}</td>
      <td>
        <div *ngFor="let doc of talent">
          <img src="assets/images/ur_contract_talent.png" class="icon"> {{doc.title}}
        </div>
      </td>
    </tr>
    <tr>
      <td class='title'>No Music Contract?</td>
      <td class='title'>Music Contracts</td>
    </tr>
    <tr>
      <td>{{noContract('App-Library-UsageRights-Music')}}</td>
      <td>
        <div *ngFor="let doc of music">
          <img src="assets/images/ur_contract_music.png" class="icon"> {{doc.title}}
        </div>
      </td>
    </tr>
    <tr>
      <td class='title'>No Photographer Contract?</td>
      <td class='title'>Photographer Contracts</td>
    </tr>
    <tr>
      <td>{{noContract('App-Library-UsageRights-Photographer')}}</td>
      <td>
        <div *ngFor="let doc of photo">
          <img src="assets/images/ur_contract_photo.png" class="icon"> {{doc.title}}
        </div>
      </td>
    </tr>
    <tr>
      <td class='title'>No Stock Contract?</td>
      <td class='title'>Stock/Illustration Contracts</td>
    </tr>
    <tr>
      <td>{{noContract('App-Library-UsageRights-Stock')}}</td>
      <td>
        <div *ngFor="let doc of stock">
          <img src="assets/images/ur_contract_stock.png" class="icon"> {{doc.title}}
        </div>
      </td>
    </tr>
  </table>
</ng-container>
<div hidden>
  <list-search-form [searchParams]="baseParams$ | async" [settings]="searchFormSettings" (onResponse)="onResponse($event)"></list-search-form>
</div>
