<div class="dialog-title text-center">
  <a (click)="close()" class="left"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged" class="right"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-body">
  <ng-container *ngIf="document">
    <div class="media">
      <document-viewer [document]="document" [settings]="viewerSettings"></document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div class="text-content" style="padding-top: 0;">
      <div class="controls row">
        <div class="col-4">
          <h3 class="left"><b>{{ document.title }}</b></h3>
          <div class="clear"></div>
          <h4 class="left">{{ document.get('The_Loupe_Main:brand') }}</h4>
        </div>
        <div class="col-8">
          <a href="{{document.filePath}}" (click)="googleAnalyticsTrackLink(document, 'Download', 'File')" class="right" title="Download"><button class="inline-middle download" type="submit">Download</button></a>
          <ng-container *ngIf="getDialogSettings().enablePreview">
            <a href="{{document.previewUrl}}" title="Preview" target="_blank" (click)="googleAnalyticsTrackLink(document, 'Preview')"><button class="right preview">Preview</button></a>
          </ng-container>
          <button class="share right" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
          <ng-container *ngIf="isDisruptionAsset(document) && getDialogSettings().enableDetail && !isDisruptionRoadmapAsset(document)">
            <a [routerLink]="['/p/disruption/asset', document.uid]" (click)="close()"><button class="inline-middle details right">Details</button></a>
          </ng-container>
          <ng-container *ngIf="isIntelligenceAsset(document) && getDialogSettings().enableDetail">
            <a [routerLink]="['/p/intelligence/asset', document.uid]" (click)="close()"><button class="inline-middle details right">Details</button></a>
          </ng-container>
          <ng-container *ngIf="deletePermission$ | async">
            <button class="right edit delete" (click)="selectView('document-deletion')">Delete</button>
          </ng-container>
          <ng-container *ngIf="writePermission$ | async">
            <button class="right edit" (click)="selectView(getDialogFormTemplateName(document))">Edit</button>
          </ng-container>
        </div>
        <div class="clear"></div>
      </div>

      <ng-container *ngIf="getDialogSettings().moreInfo">
        <p class="description">{{ document.get('dc:description') }}</p>
        <table>
          <tbody>
            <tr>
              <th>Type</th>
              <th>Industry</th>
            </tr>
            <tr>
              <td *ngIf="isIntelligenceAsset(document)">{{ document.get('app_Edges:intelligence_type') }}</td>
              <td *ngIf="isDisruptionRoadmapAsset(document)">{{ document.get('app_Edges:disruption_type') }}</td>
              <td *ngIf="isDisruptionAsset(document) && !isDisruptionRoadmapAsset(document)">{{ document.get('The_Loupe_Main:assettype') }}</td>
              <td>{{ vocabularyFormatter(document.get('app_Edges:industry')) }}</td>
            </tr>
            <tr>
              <th *ngIf="!isDisruptionRoadmapAsset(document)">Geography</th>
              <th *ngIf="isDisruptionRoadmapAsset(document)">Country</th>
              <th>Author</th>
            </tr>
            <tr>
              <td *ngIf="!isDisruptionRoadmapAsset(document)">{{ vocabularyFormatter(document.get('app_Edges:Relevant_Country')) }}</td>
              <td *ngIf="isDisruptionRoadmapAsset(document)">{{ vocabularyFormatter(document.get('The_Loupe_Main:country')) }}</td>
              <td>{{ document.get('The_Loupe_Main:created_by') }}</td>
            </tr>
            <tr>
              <th>Edge Category</th>
              <th>Edge</th>
            </tr>
            <tr>
              <td>{{ document.get('app_Edges:backslash_category').join(', ') }}</td>
              <td>{{ document.get('app_Edges:Tags_edges') }}</td>
            </tr>
            <tr>
              <th>Published</th>
            </tr>
            <tr>
              <td>
                {{  document.get('The_Loupe_ProdCredits:production_date') | date:'MMM d, yyyy':'UTC' }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <nb-accordion class="accordion" *ngIf="attachments && attachments.length !== 0">
        <nb-accordion-item class="accordion-item">
          <nb-accordion-item-header class="accordion-item-header"><span>Additional Attachments</span></nb-accordion-item-header>
          <nb-accordion-item-body class="accordion-item-body">
            <table>
              <tbody *ngFor="let attachment of attachments">
                <tr>
                  <td><a href="{{ attachment.url }}" class="download-btn">{{ attachment.title }}</a></td>
                </tr>
              </tbody>
            </table>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
    <section class="related" *ngIf="getDialogSettings().enableKnowledgeRelated">
      <knowledge-related-info [document]="document"></knowledge-related-info>
    </section>
  </ng-container>
</div>

<ng-template #popContent>
  <document-share-button [document]="document" [shareUrl]="shareUrl"></document-share-button>
</ng-template>
