<form class="search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <div class="search_area left">
    <input formControlName="ecm_fulltext" [disableControl]="submitted" placeholder="Search for..." (keyup)="onKeyup($event)" />
  </div>
  <div class="filters left">
    <a href="javascript:;" (click)="toggleFilter()" class="advanced_filters_trigger icon_btn" [ngClass]="{'success': showFilter, 'btn-disabled': submitted}">Filter</a>
    <a href="javascript:;" (click)="openForm(dialog)" class="new_day icon_btn">New Day</a>
    <a href="{{backPath}}" class="back icon_btn">Back</a>
  </div>
  <div class="clear"></div>

  <ng-container *ngIf="showFilter">
    <tbwa-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async" [disableControl]="submitted" (selected)="onFilterChange($event)"></tbwa-search-filter>
  </ng-container>
</form>
<ng-template #dialog>
  <tbwa-preview-dialog></tbwa-preview-dialog>
</ng-template>
