<div class="storyboard {{getDocumentType()}}" [nbSpinner]="loading" nbSpinnerStatus="disabled" tabIndex="-1" [ngStyle]="loading ? {'min-height': '120px'} : {}">
  <div class="prev left" (click)="moveLeft()"><a href="javascript:void(0)"></a></div>
  <drag-scroll class="gallery-list left" drag-scroll-y-disabled="true" scrollbar-hidden="true" #nav>
    <div drag-scroll-item *ngFor="let relatedDoc of relatedDocs" (click)="jumpToDoc(relatedDoc)"
      [title]="relatedDoc.minutes" class="list-item">
      <img style="width: 125px; height: 125px;" [src]="relatedDoc.source" />
    </div>
  </drag-scroll>
  <div class="next left" (click)="moveRight()"><a href="javascript:void(0)"></a></div>
</div>