<div class="document-creative-project-home-action">
  <div class="actions-title">Set Default Data</div>
</div>
<document-batch-operation [documentModel]="document" [settings]="formSettings" (callback)="onCallback($event)"
  [templateRef]="formTemplate"></document-batch-operation>
<ng-template #formTemplate let-form="form" let-group="group">
  <div class="title">
    <div class="left-shared" >
      <document-form-element [group]="form.sharedGroup" [formModel]="form.getSharedFormModels(['The_Loupe_Main:jobtitle', 'The_Loupe_ProdCredits:production_date', 'The_Loupe_Main:assettype',
        'The_Loupe_Rights:first-airing','The_Loupe_Rights:contract_mediatypes','The_Loupe_Rights:asset_countries'])"
        (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)"
        (customEvent)="form.onCustomEvent($event)">
      </document-form-element>
    </div>
    <div *ngIf="enableUpload" class="enable_upload">
      <div class="add_box">
        <p>Drag & Drop / Bulk Edit</p>
        <button *ngIf="enableUpload" (click)="openFileSelectWindow($event)">Add</button>
      </div>
      <div class="second_box">
        <document-form-element *ngIf="enableUpload" [group]="group" [formModel]="form.getFormModels('file:content')"
          (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)"
          (customEvent)="form.onCustomEvent($event)">
        </document-form-element>
        <document-form-element *ngIf="enableUpload" [group]="group" [formModel]="form.getFormModels('batchUpload')"
          (blur)="form.onBlur($event)" (focus)="form.onFocus($event)" (change)="form.onChange($event)"
          (customEvent)="form.onCustomEvent($event)">
        </document-form-element>
      </div>
    </div>
    <div *ngIf="!enableUpload" class="tip">
      <h2>You are about to import assets for the project.</h2>
      <h2>Please set the default meta information on the left.</h2>
    </div>
  </div>
  <div class="clear"></div>
</ng-template>