.document-creative-project-asset-package-send-form {
    width: 20%;
    float: left;
    .actions-title {
      font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
      font-size: 18px;
      text-align: center;
      background-color: #fecc00;
      line-height:  30px;
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
