<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [defaultParams]="defaultParams">
  <ng-container *ngIf="addChildren$ | async">
    <button type="button" (click)="openForm(dialog)" class="icon_btn new_roadmaps" [ngClass]="{'btn-disabled': !parentDocument }" [disabled]="!parentDocument" title="New Roadmap">New Roadmap</button>
  </ng-container>
</global-search-form>
<disruption-roadmaps-asset-search-result></disruption-roadmaps-asset-search-result>

<ng-template #dialog>
  <preview-dialog>
    <disruption-form-roadmaps-body (createdSuccess)="onCreated($event)">
      <preview-dialog-alert></preview-dialog-alert>
    </disruption-form-roadmaps-body>
  </preview-dialog>
</ng-template>
