<div class="home-search-form col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <home-search-form [assetUrl]="'/p/creative/asset/'" [redirectUrl]="'/p/search/creative/asset/'" [headline]="headline" [subHead]="subHead" [settings]="searchFormSettings" [filters]="filters" [defaultParams]="defaultParams">
  </home-search-form>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <creative-home-gallery></creative-home-gallery>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <creative-agency-thumbnail></creative-agency-thumbnail>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <creative-popular-brand-thumbnail></creative-popular-brand-thumbnail>
</div>
