<div class="directory-suggestion flex">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="getViewType() === 'suggestion'">
      <ng-select
        [items]="options$ | async"
        [placeholder]="placeholder"
        [selectOnTab]="true"
        [multiple]="true"
        [hideSelected]="true"
        bindValue="value"
        clearAllText="Clear"
        [loading]="loading$ | async"
        [typeahead]="filter$"
        [virtualScroll]="true"
        (change)="onChange($event)"
        [(ngModel)]="selectedItems"
      >
<ng-template ng-option-tmp let-item="item">
{{item.label}}
</ng-template>


    </ng-select>
    </ng-container>
    <ng-container *ngSwitchCase="getViewType() === 'list'">
      <ng-select
        [items]="options$ | async"
        [placeholder]="placeholder"
        [selectOnTab]="true"
        [multiple]="true"
        [hideSelected]="true"
        bindLabel="label"
        bindValue="value"
        clearAllText="Clear"
        [loading]="loading$ | async"
        [virtualScroll]="true"
        (change)="onChange($event)"
        [(ngModel)]="selectedItems"
      ></ng-select>
    </ng-container>
  </ng-container>
</div>
