<div class="directory-suggestion">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="getViewType() === 'suggestion'">
      <ng-select
        [items]="options$ | async"
        [placeholder]="placeholder"
        [selectOnTab]="true"
        [multiple]="true"
        [hideSelected]="true"
        bindValue="value"
        bindLabel="value"
        clearAllText="Clear"
        [loading]="loading$ | async"
        [typeahead]="filter$"
        [virtualScroll]="true"
        (change)="onChange($event)"
        [(ngModel)]="selectedItems"
      >
        <ng-template ng-option-tmp let-item="item">
          <div class="{{item.deep}}">{{item.label}}</div>
        </ng-template>
      </ng-select>
    </ng-container>
    <ng-container *ngSwitchCase="getViewType() === 'list'">
      <ng-select
        [items]="options$ | async"
        [placeholder]="placeholder"
        [selectOnTab]="true"
        [multiple]="true"
        [hideSelected]="true"
        bindLabel="label"
        bindValue="value"
        clearAllText="Clear"
        [loading]="loading$ | async"
        [virtualScroll]="true"
        (change)="onChange($event)"
        [(ngModel)]="selectedItems"
      >
      <ng-template ng-option-tmp let-item="item">
        <div class="{{item.deep}}">{{item.label}}</div>
      </ng-template>
      </ng-select>
    </ng-container>
  </ng-container>
</div>
