<div class="disruption-home-form">
  <home-search-form [assetUrlMapping]="assetUrlMapping" [searchPageUrl]="'/p/search/disruption/asset/'" [headline]="headline" [extraHeadline]="extraHeadline" [subHead]="subHead" [settings]="searchFormSettings" [filters]="filters"
    [searchParams]="defaultParams">
  </home-search-form>
</div>
<div class="disruption-home-gallery">
  <disruption-home-gallery></disruption-home-gallery>
</div>
<div class="disruption-home-x">
  <disruption-home-x (customEvent)="onCustomEvent($event)"></disruption-home-x>
</div>
<div class="disruption-home-resource">
  <disruption-home-resource [enableTitle]="enableResourceTitle"></disruption-home-resource>
</div>
