<ng-container *ngIf="enableFeature">
  <h2 class="home-heading" *ngIf="enableTitle">Resources</h2>
  <div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="document s-results disruption-home">
    <div *ngFor="let doc of documents" class="thumbnail-view-item">
      <div class="description">
        <h1 [title]="doc.title"><a [routerLink]="['/p/disruption', doc.title]">{{doc.title}}</a></h1>
      </div>
      <div class="image-holder">
        <a [routerLink]="['/p/disruption', doc.title]" [ngStyle]="{'background-image': 'url('+doc.thumbnailUrl+')'}"></a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</ng-container>
