@import '../../../../theme/styles/themes';
@import '../../../../core/nebular/bootstrap/breakpoints';
@import '../../../../core/nebular/theme/styles/global/breakpoints';
@import '../../../shared/global-search-result/thumbnail-view.scss';

.document {
  padding: 0 30px 46px;
  box-sizing: border-box;
}

.home-heading {
  margin-left: 60px;
  margin-top: 30px;
  font-size: 25px;
  line-height: 60px;
  color: #000000;
  font-family: 'Averta for TBWA W01 Bold', helvetica, arial;
}
