<h2>PRODUCTION INFORMATION</h2>
<div *ngIf="!showForm" class="document">
 <div class="one-row">
  <div class="showcase-area">
   <h4>Client</h4><span>UR TEST</span>
  </div>
  <div class="showcase-area">
   <h4>Brand</h4><span>UR-TESTBRAND</span>
  </div>
 </div>
</div>
<div *ngIf="showForm" class="document">
 <document-form [document]="document" [formMode]="'edit'" [settings]="settings" [layout]="formLayout" (callback)="onCallback($event)"></document-form>
</div>
<button nbButton outline class="btn btn-success" (click)="changeView()">Edit</button>