<div class="category-header">
  <div class="col-8">
    <h2 class="title">BROWSE BY LEVEL:</h2>
  </div>
  <div class="col-4">
    <div class="learning-form-button right">
      <learning-form-button [parent]="document" [type]="'program'" [title]="'New Program'"></learning-form-button>
    </div>
  </div>
</div>
<ng-container *ngIf="docs && docs.length !== 0">
  <div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="category-view-all">
    <div *ngFor="let doc of docs" class="category-view">
      <div class="category-view-box" (click)="scrollToDocument(doc)">
        <a [ngStyle]="{'background-image': 'url('+doc.img+')'}">{{ doc.title }}</a>
      </div>
    </div>
  </div>
</ng-container>
