<div [formGroup]="group">
  <div [ngClass]="getClass('grid', 'control')">
    <ng-container #componentViewContainer></ng-container>
    <small *ngIf="hasHint" class="text-muted" [innerHTML]="hint" [ngClass]="getClass('element', 'hint')"></small>
    <div *ngIf="showErrorMessages" [ngClass]="[getClass('element', 'errors'), getClass('grid', 'errors')]">
      <small *ngFor="let message of errorMessages" class="invalid-feedback d-block">{{ message }}</small>
    </div>
  </div>
  <ng-content></ng-content>
</div>
