<div [formGroup]="group">
  <div *ngIf="hasRequired" class="required" style="display: inline-block; margin-right: 4px; color: red;">*</div>
  <label *ngIf="!isCheckbox && hasLabel" [for]="elementId" [innerHTML]="model.label" [ngClass]="[getClass('element', 'label'), getClass('grid', 'label')]"></label>
  <div [ngClass]="getClass('grid', 'control')">
    <ng-container #componentViewContainer></ng-container>
    <small *ngIf="hasHint" class="text-muted" [innerHTML]="hint" [ngClass]="getClass('element', 'hint')"></small>
    <div *ngIf="showErrorMessages" [ngClass]="[getClass('element', 'errors'), getClass('grid', 'errors')]">
      <small *ngFor="let message of errorMessages" class="invalid-feedback d-block">{{ message }}</small>
    </div>
  </div>
</div>
