<creative-ring-info-view [loading]="loading" [document]="parentDocument"></creative-ring-info-view>
<creative-ring-folder-info [loading]="loading" [document]="document"></creative-ring-folder-info>
<global-search-form [searchParams]="baseParams$ | async" [settings]="searchFormSettings" (whenLoading)="onLoading($event)">
  <ng-container class="group-left">
    <div class="global-search-form-buttons">
      <button class="share_button roadmap-btn" title="Share Collection" nbPopoverPlacement="bottom" [nbPopover]="popContent">Share</button>
    </div>
  </ng-container>
  <ng-container class="group-right">
    <div class="global-search-form-buttons">
      <creative-ring-form-button [parent]="document" [type]="'upload-collection'" [title]="'Upload'"></creative-ring-form-button>
      <global-search-button [enableSlider]="true"></global-search-button>
    </div>
  </ng-container>
</global-search-form>
<creative-ring-collection-folder-asset-search-result [loading]="loading"></creative-ring-collection-folder-asset-search-result>
<ng-template #popContent>
  <document-share-button [document]="document" [shareUrl]="shareUrl"></document-share-button>
</ng-template>
