.share_button {
    font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 26px;
    font-size: 18px;
    background: #ffffff;
    color: #000000;
    border: solid 1px #e1e1e1;
    cursor: pointer;
}
