// .button-groups {
//   box-sizing: border-box;
//   text-align: right;

//   button {
//     display: inline-block;
//     vertical-align: middle;
//     height: 40px;
//     line-height: 40px;
//     border-radius: 0;
//     font-size: 18px;
//     margin: 0 4px;
//     padding: 0 13px;
//     text-transform: capitalize;
//     color: #000000;
//     background-color: #ffffff;
//     cursor: pointer;

//     &:focus {
//       outline: 0;
//       background-color: #ffffff !important;
//     }

//     &.btn-disabled {
//       cursor: auto;
//       color: #e1e1e1 !important;
//       background-color: #bdbdbd !important;

//       &:focus {
//         background-color: #bdbdbd !important;
//       }
//     }
//   }
// }
.icon_btn {
  &.new_day {
    padding-left: 13px;
  }
}
.global-search-form {
  margin-top: 20px;
  .search-input {
    display: block;
    margin: 0 27px 0 38px;
  
    input {
      display: inline-block;
      vertical-align: top;
      width: 312px;
      height: 50px;
      padding: 0 30px 0 10px;
      border-radius: 0;
      outline: 0;
      font-size: 15px;
      box-sizing: border-box;
      border: solid 1px #e1e1e1;
      background: url('/assets/images/search_icon_small.png') no-repeat 286px center;
    }
  }
  .search-filters {
    margin: 0 auto;
    > *:not(.clear) {
      float: left;
      margin-right: 17px;
      box-sizing: border-box;
    }
    .back { background: url('/assets/images/back_icon.png') no-repeat 13px center; }
    .advanced_filters_trigger {
      background: url('/assets/images/filters_icon.png') no-repeat 13px center;
      &.btn-disabled { background: url('/assets/images/filters_icon_disabled.png') no-repeat 13px center; }
      &.success { background: url('/assets/images/filters_icon_on.png') no-repeat 13px center; }
    }
  }
}
