<form class="global-search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <div class="search-input global-search-input left">
    <input class="form-control left" autofocus formControlName="ecm_fulltext" [placeholder]="placeholder" (keyup.enter)="onKeyup($event)" [ngClass]="{'with-filters': hasFilters()}" />
  </div>
  <ng-container *ngIf="hasFilters()">
    <div class="search-filters global-search-filters left">
      <button type="button" (click)="toggleFilter()" class="advanced_filters_trigger icon_btn" [ngClass]="{'success': showFilter, 'btn-disabled': !hasAggs}" [disabled]="!hasAggs" title="Filter">Filter</button>
    </div>
  </ng-container>
  <div class="search-filters left">
    <ng-content></ng-content>
  </div>
  <div class="clear"></div>
  <ng-container *ngIf="hasFilters() && showFilter">
    <tbwa-global-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async" [disableControl]="submitted" (close)="onFilterClose($event)"></tbwa-global-search-filter>
  </ng-container>
</form>
