<form class="global-search-form" [formGroup]="searchForm" #form="ngForm" autocomplete="off" novalidate>
  <div class="filters search-input global-search-input">
    <ng-container *ngIf="hasFilters()">
      <div class="left">
        <button type="button" (click)="toggleFilter()" class="advanced_filters_trigger icon_btn" [ngClass]="{'success': showFilter, 'btn-disabled': !hasAggs}" [disabled]="!hasAggs" title="Filter">Filter</button>
      </div>
    </ng-container>
    <input class="form-control left" autofocus formControlName="ecm_fulltext" [placeholder]="placeholder" (keyup.enter)="onKeyup($event)" />
  </div>
  <div class="button-groups left">
    <ng-content></ng-content>
  </div>
  <div class="clear"></div>
  <ng-container *ngIf="hasFilters() && showFilter">
    <tbwa-global-search-filter formControlName="aggregates" [aggregateModels]="aggregateModels$ | async" [disableControl]="submitted" (close)="onFilterClose($event)"></tbwa-global-search-filter>
  </ng-container>
</form>
