<div class="dialog_body">
  <div class="dialog_title text-center">
    <a (click)="close()" class="left"><img src="assets/images/close1.png"></a>
    <h1>Intelligence</h1>
    <div class="clear"></div>
  </div>
  <ng-container *ngIf="document">
    <div class="media">
      <tbwa-document-viewer [document]="document" [forDailog]="forDailog"></tbwa-document-viewer>
    </div>
  </ng-container>
  <ng-container *ngIf="document">
    <div style="background: #ffffff">
      <button>download</button><button>share</button>
      <div>Title: {{ document.title }}</div>
      <div>Brand: {{ document.get('The_Loupe_Main:brand') }}</div>
      <div>Description: {{ document.get('The_Loupe_Main:description') }}</div>
      <div>Type: {{ document.get('app_Edges:disruption_type') }}</div>
      <div>Industry: {{ document.get('app_Edges:industry') }}</div>
      <div>Geography: {{ parseCountry(document.get('The_Loupe_Main:country')) }}</div>
      <div>Author: {{ document.get('dc:creator') }}</div>
      <div>Pubilished: {{ document.get('The_Loupe_ProdCredits:production_date') | date }}</div>
      <div>Edge Cotegory: {{ document.get('app_Edges:backslash_category') }}</div>
      <div>Edge: {{ document.get('app_Edges:Tags_edges') }}</div>
    </div>
  </ng-container>
</div>
