<div class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled" [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="document" class="property-section">
    <div class="property-intro inline-middle">
      <img src="{{document.thumbnailUrl}}" class="thumbnail-img">
    </div>
    <div class="property-info inline-middle">
      <h1>{{ document.title }}</h1>
      <br>
      <div>Workshop Date: {{document.get('The_Loupe_ProdCredits:production_date') | date}}</div>
      <div>Industry: {{ document.get('app_Edges:industry') }}</div>
      <div>Geography: {{ document.get('app_Edges:Relevant_Country')}}</div>
      <div>Brand: {{ document.get('The_Loupe_Main:brand')}}</div>
      <div>Agency: {{ document.get('The_Loupe_Main:agency')}}</div>
      <div>Edges: {{ document.get('app_Edges:Tags_edges') }}</div>
    </div>
  </div>
    <button type="button" (click)="openForm(dialog)">update</button>
</div>

<ng-template #dialog>
  <preview-dialog>
    <disruption-folders-edit-from-body>
      <preview-dialog-alert></preview-dialog-alert>
    </disruption-folders-edit-from-body>
  </preview-dialog>
</ng-template>
