<div class="document" [nbSpinner]="loading" nbSpinnerStatus="disabled"
  [ngStyle]="loading ? {'min-height': '150px'} : {}">
  <div *ngIf="doc" class="property-section">
    <a [routerLink]="[getAssetUrl(doc),  doc.uid]" class="property-intro inline-middle">
      <img src="{{doc.thumbnailUrl}}" class="thumbnail-img">
    </a>
    <div class="property-info inline-middle">
      <h1>{{ doc.title }}</h1>
      <br>
      <div>Workshop Date: {{doc.get('The_Loupe_ProdCredits:production_date') | date}}</div>
      <div>Industry: {{ doc.get('app_Edges:industry') }}</div>
      <div>Geography: {{ doc.get('app_Edges:Relevant_Country')}}</div>
      <div>Brand: {{ doc.get('The_Loupe_Main:brand')}}</div>
      <div>Agency: {{ doc.get('The_Loupe_Main:agency')}}</div>
      <div>Edges: {{ doc.get('app_Edges:Tags_edges') }}</div>
      <ng-container *ngIf="writePermission$ | async">
        <button type="button" (click)="openForm(dialog)" class="icon_btn">Edit</button>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #dialog>
  <preview-dialog>
    <disruption-folders-edit-from-body (updatedSuccess)="onUpdate($event)">
      <preview-dialog-alert></preview-dialog-alert>
    </disruption-folders-edit-from-body>
  </preview-dialog>
</ng-template>
