<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [baseParams]="baseParams$ | async">
  <ng-container *ngIf="addChildrenPermission$ | async">
    <button type="button" (click)="openForm(dialog)" class="icon_btn new_day" [ngClass]="{'btn-disabled': !document }" [disabled]="!document" title="New Asset">New Asset</button>
  </ng-container>
</global-search-form>
<disruption-folder-view [loading]="loading" [document]="document" [assetUrl]="'/p/disruption/Disruption Days/day/'"></disruption-folder-view>
<disruption-folder-day-asset-search-result [folderId]="document?.uid"></disruption-folder-day-asset-search-result>

<ng-template #dialog>
  <preview-dialog>
    <disruption-form-days-folder-body (createdSuccess)="onCreated($event)">
      <preview-dialog-alert></preview-dialog-alert>
    </disruption-form-days-folder-body>
  </preview-dialog>
</ng-template>
