<nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }"></nb-route-tabset>
<global-search-form [filters]="filters" [baseParams]="baseParams$ | async">
  <ng-container class="group-left">
    <div class="global-search-form-buttons">
      <disruption-form-button [parent]="document" [type]="'day asset'" [title]="'New Asset'"></disruption-form-button>
    </div>
  </ng-container>
</global-search-form>
<disruption-folder-view [loading]="loading" [document]="document"
  [assetUrl]="'/p/disruption/Disruption Days/day/'"
  [deleteRedirectUrl]="'/p/disruption/Disruption Days'"></disruption-folder-view>
<disruption-folder-day-asset-search-result [folderId]="document?.uid"></disruption-folder-day-asset-search-result>