<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="disruption-roads third flex" tabIndex="-1" [ngStyle]="loading ? {'min-height': '120px'} : {}">
  <div *ngFor="let document of documents" class="thumbnail-view">
  	<div>
  		<div class="image_holder">
    		<img src="{{getThumbnailUrl(document)}}" [alt]="document.title" class="thumbnail-img">
  		</div>
	  	<div class="description">
	  		<h1 *ngIf=" disruptionType == 'roadmaps'" >{{document.get('The_Loupe_Main:brand')}}</h1>
		    <h1 *ngIf=" disruptionType == 'theory'">{{document.title}}</h1>
	  	</div>
  	</div>
  </div>
</div>
<div *ngIf="!loading && documents && documents.length === 0" class="thumbnail-view empty text-center">
  <span class="empty-data">No data found</span>
</div>
