<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view">
  <div class="property-section">
    <div class="property-intro inline-top">
      <div *ngIf="document" [ngStyle]="{'background-image': 'url('+document.filePath+')'}"></div>
      <!-- <img src="{{document?.filePath}}" /> -->
    </div>
    <div class="property-info inline-top">
      <h1 [title]="document?.get('The_Loupe_Main:brand').join(', ')">{{document?.get('The_Loupe_Main:brand').join(', ')}}</h1>
      <ul>
        <!-- <li><b>Client:</b> {{document?.get('The_Loupe_Main:clientName')}}</li> -->
        <li><b>Agency:</b> {{document?.get('The_Loupe_Main:agency')}}</li>
      </ul>
      <!-- <div class="button-group"> -->
        <!-- <button class="btn">\library</button>
        <button class="btn">Campaigns & Projects</button>
        <button class="btn">Usage Rights</button>
        <button class="btn">Manage Library</button>
        <button class="btn">Manage Lists</button> -->
      <!-- </div> -->
      <!-- <a *ngIf="document" [routerLink]="['/p/creative/brand/', document.uid, 'library']" title="Manage" target="_blank"><button type="button">Manage</button></a> -->
    </div>
    <nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }" style="padding: 0;"></nb-route-tabset>
  </div>
</div>
<div style="margin-top: 45px;">
  <global-search-form [filters]="filters" [baseParams]="baseParams$ | async"></global-search-form>
  <button type="button" (click)="openDialog(dialog, 'audio')" class="icon_btn left">Upload Audio</button>
  <button type="button" (click)="openDialog(dialog, 'image')" class="icon_btn left">Upload Image</button>
  <button type="button" (click)="openDialog(dialog, 'video')" class="icon_btn left">Upload Video</button>
  <creative-document-asset-search-result [layout]="layout"></creative-document-asset-search-result>
</div>

<ng-template #dialog>
  <preview-dialog>

    <ng-container [ngSwitch]="showType">
      <ng-container *ngSwitchCase="'audio'">
        <creative-brand-audio (updatedSuccess)="onUpdate($event)">
          <preview-dialog-alert></preview-dialog-alert>
        </creative-brand-audio>
      </ng-container>

      <ng-container *ngSwitchCase="'image'">
        <creative-brand-image (updatedSuccess)="onUpdate($event)" >
          <preview-dialog-alert></preview-dialog-alert>
        </creative-brand-image>
      </ng-container>

      <ng-container *ngSwitchCase="'video'">
        <creative-brand-video (updatedSuccess)="onUpdate($event)" >
          <preview-dialog-alert></preview-dialog-alert>
        </creative-brand-video>
      </ng-container>
    </ng-container>

  </preview-dialog>
</ng-template>
