<div [nbSpinner]="loading" nbSpinnerStatus="disabled" class="brand-view">
  <div class="property-section">
    <div class="property-intro inline-top">
      <div *ngIf="document" [ngStyle]="{'background-image': 'url('+document.filePath+')'}"></div>
      <!-- <img src="{{document?.filePath}}" /> -->
    </div>
    <div class="property-info inline-top">
      <h1 [title]="document?.get('The_Loupe_Main:brand').join(', ')">{{document?.get('The_Loupe_Main:brand').join(', ')}}</h1>
      <ul>
        <!-- <li><b>Client:</b> {{document?.get('The_Loupe_Main:clientName')}}</li> -->
        <li><b>Agency:</b> {{document?.get('The_Loupe_Main:agency')}}</li>
      </ul>
      <!-- <div class="button-group"> -->
        <!-- <button class="btn">\library</button>
        <button class="btn">Campaigns & Projects</button>
        <button class="btn">Usage Rights</button>
        <button class="btn">Manage Library</button>
        <button class="btn">Manage Lists</button> -->
      <!-- </div> -->
      <!-- <a *ngIf="document" [routerLink]="['/p/creative/brand/', document.uid, 'library']" title="Manage" target="_blank"><button type="button">Manage</button></a> -->
    </div>
    <nb-route-tabset fullWidth [tabs]="tabs" activeLinkOptions="{ exact: false }" style="padding: 0;"></nb-route-tabset>
  </div>
</div>
<div style="margin-top: 45px;">
  <global-search-form [filters]="filters" [baseParams]="baseParams$ | async"></global-search-form>
  <creative-document-asset-search-result [layout]="layout"></creative-document-asset-search-result>
</div>
