@import '../../global-search-result/thumbnail-view.scss';

h2 {
	font-family: 'Averta for TBWA W01 Black', helvetica, arial;
	height: 47px;
	line-height: 47px;
	font-size: 25px;
	margin-bottom: 25px;
	margin-left: 30px;
}
.search_area {
	display: block;
	margin-right: 30px;
	input {
		display: inline-block;
		vertical-align: top;
		width: 313px;
		height: 47px;
		padding: 0 30px 0 10px;
		outline: 0;
		font-size: 15px;
		box-sizing: border-box;
		border: solid 2px #959595;
		background: url('/assets/images/search_icon_small.png') no-repeat 286px center;
	}
}
h3 {
	font-family: 'Averta for TBWA W01 Black', helvetica, arial;
	font-size: 20px;
	margin-bottom: 23px;
	padding: 0 30px;
}
.line {
	height: 2px;
	background: #ebebeb;
	width: calc(100% - 60px);
	margin: 0 auto 12px;
}
ul {
	height: 63px;
	margin-bottom: 37px;
	padding-left: 30px!important;
	li {
		float: left;
		a {
			font-family: 'Averta for TBWA W01 Semibold', helvetica, arial;
			display: block;
			height: 63px;
			line-height: 63px;
			font-size: 20px;
			color: #000000;
			&:hover { text-decoration: none; }
			img {
				float: left;
				width: 56px;
				height: 63px;
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				margin-right: 20px;
			}
		}
	}
	li + li { margin-left: 62px; }
}
backslash-asset-preview-dialog-body {
	display: block;
}
