<div class="dialog-title text-center">
  <a (click)="close()" class="left" title="Close"><img [src]="closeBtnImage()"></a>
  <h1 class="left">{{title}}</h1>
  <a (click)="backToMainView()" *ngIf="mainViewChanged" class="right" title="Back"><img [src]="backBtnImage()"></a>
  <div class="clear"></div>
</div>
<div class="dialog-message">
  <ng-container *ngIf="callbackEvent">
    <nb-alert *ngIf="callbackEvent.messageContent" [status]="callbackEvent.messageType" role="alert">{{ callbackEvent.messageContent }}</nb-alert>
  </ng-container>
</div>
<div class="dialog-body global-document-dialog-form">
  <div class="form">
    <ng-template #dynamicTarget></ng-template>
  </div>
</div>
