<div class="home-gallery">
  <picture-gallery [enableVideoAutoplay]="enableVideoAutoplay" [assetUrl]="'/p/backslash/asset/'" [galleryItems]="galleryItems" [gallerySettings]="gallerySettings" [galleryType]="'backslash'" (playingChange)="onPlayingChange($event)"
    [customEvent]="galleryEvent" [customTemplate]="customTemplate"></picture-gallery>
</div>
<ng-template #customTemplate let-doc="doc">
  <div class="popover-container {{status}}" (click)="toggleInfo(doc)"></div>
</ng-template>

<ng-container *ngIf="showInfo">
  <document-backslash-info [document]="document"></document-backslash-info>
</ng-container>
