<div style="width: 90%; margin: 0 auto;">
  <ng-container *ngIf="formGroup">
    <dynamic-ng-form [group]="formGroup" [model]="formModel" [layout]="formLayout" (customEvent)="onCustomEvent($event)"
    									(blur)="onBlur($event)" (change)="onChange($event)" (focus)="onFocus($event)"></dynamic-ng-form>

    <button nbButton outline class="btn btn-success btn-xs" status="primary"
    			[disabled]="uploadState ==='preparing' || uploadState === 'uploading' || submitted || !formGroup.valid"
    			(click)="onSave($event)">Save</button>


  </ng-container>
</div>
