@import '../../../core/nebular/theme/styles/global/breakpoints';

.float-right {
  float: right;
}

.button-groups {
  box-sizing: border-box;

  .btn {
    margin-right: 10px;
  }
}

.update-message-start {
  display: inline;
  font-size: 18px;
}
.update-message-end {
  font-size: 18px;
  margin-left: 170px;
}
