<div class="dialog_body">
  <div class="dialog_title">
    <h5>
      <a (click)="close()"><img [src]="closeBtnImage()"></a>
      Upload Video
    </h5>
  </div>
  <ng-content></ng-content>
  <ng-container *ngIf="document">
    <ngb-tabset>
      <ngb-tab title="Main">
        <ng-template ngbTabContent>
          <creative-form-video [document]="document" (onCreated)="onCreated($event)"></creative-form-video>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Modules">
        <ng-template ngbTabContent>
          <creative-form-main-modules [document]="document" (onCreated)="onCreated($event)">
          </creative-form-main-modules>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </ng-container>
</div>