.showcase-area {
    width: 300px;
    float: left;
}
.one-row {
    width: 1600px;
    min-height: 240px;
}
.one-row-low {
    width: 1600px;
    min-height: 55px;
}
.one-row-medium {
    width: 1600px;
    min-height: 80px;
}
